﻿<!--alan-->
<div class="casefile-label darklime-background">
    <div class="casefile-label-content">
         <span class="casefile-label-doc darkteal">Entrevista con Alan<br/>Supervisor de Express Truck</span>
    </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Información sobre la entrevista con Alan.</strong></p>
        <p class="pdotty">Es algo terrible lo que le ha ocurrido a John. Él ha estado con nosotros desde hace tiempo. Primero como conductor de la Compañía y, luego desde hace un par de años, como conductor independiente. <br/> <br/>Sí, tenemos un contrato formal en algún sitio, pero no lo consigo. Pero en realidad no hace falta un contrato porque John sabe dónde está parado. <br/> <br/>El trabajo ha estado un poco lento durante la última semana. Probablemente sea por el clima y las vacaciones escolares. Cuando llamó Jim (Supervisor de Logística de Westworth) para solicitar una entrega rápida, John quiso aprovechar la oportunidad para ganar unos dólares más. <br/> <br/>Intentamos mantener a los conductores actualizados con su entrenamiento. No es realmente un asunto que nos corresponda, pero de igual forma lo hacemos. Es difícil decirle a un conductor que tiene que dedicar todo el día a una sesión de entrenamiento en vez de producir dinero. Nos aseguramos de que los conductores reciban inducción en todas las faenas a las que vayan que requieran ese tipo de cosa. <br/> <br/>El mayor problema que tengo con John es que todavía piensa que es empleado de la compañía. Tengo que recordarle constantemente que ahora es su propio jefe y que nosotros solamente le damos trabajo. <br/> <br/>Seguramente les comentó sobre los zunchos para asegurar cargas. Seguramente les dijo que nosotros los suministramos y que no le hemos dado nuevos desde hace algunos años. Cuando se convirtió en conductor independiente, se le informó que él tenía que adquirir sus propios equipos. <br/> <br/>Espero que mantenga todos sus seguros al día. Los va a necesitar.</p>
        <br/>
      </div>
    </div>

  </div>
</div>
