﻿<!--andy-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Entrevista con Andy<br/>Conductora de Grúa pórtico</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Información sobre la entrevista con Andy.</strong></p>
        <p class="pdotty">Estaba trabajando en el segundo turno de la noche del 8 de agosto. Normalmente comenzamos a las 4:30 p. m. y trabajamos hasta las 12 p. m. <br/> <br/>Estaba regresando de un descanso a las 6:45 cuando el supervisor me dijo que fuera a ver qué quería el conductor de Express Truck. Aparentemente, había estado esperando cerca de una hora y se estaba molestando. <br/> <br/>No sé por qué se estaba molestando. Esperan que se les atienda instantáneamente apenas lleguen. <br/> <br/>Estaba ahí para recoger unos pallets del inventario que la compañía había decidido devolver al proveedor. Eso es inusual. No es común que carguemos camiones así. <br/> <br/>El conductor de Express Truck estacionó el camión en medio del patio. Estaba bloqueando el acceso al resto del patio. Le pedí que retrocediera su camión hacia el Muelle 7. Es el muelle que generalmente usamos para la carga de los camiones más pequeños. <br/> <br/>Yo regresé al almacén y me subí a mi grúa pórtico y fui a buscar los pallets que iban a ser devueltos. <br/> <br/>Recogí el primer pallet y regresé al Muelle 7. Esperaba conseguir al conductor de Express Truck retrocediendo el camión en dirección del Muelle 7. El camión no se había movido. <br/> <br/>El conductor de Express Truck me hizo señas para que llevara la carga hacia su camión. En vez de discutir con él, decidí ir y cargar su camión donde estaba. <br/> <br/>Eran apenas 8 pallets; él se marcharía en 10 minutos. Además, no había otros camiones el patio en ese momento. <br/> <br/>Cargué todos los pallets en su camión e hice que firmara todos los papeles. A medida que conducía, me di cuenta que él ya había comenzado a asegurar su carga. Ya había lanzado los primeros dos zunchos. <br/> <br/>Cuando entraba al almacén, vi las luces del camión de Westworth mientras pasaba por la puerta de seguridad del frente. Estaba contento de que el conductor de Express Truck ya había cargado y se había salido del camino. <br/> <br/>Seguí con mi trabajo, moviendo pallets en el almacén, durante unos 20 minutos hasta que alguien me dijo que el conductor de Express Truck había sido golpeado por un camión.</p>
          <br/>
      </div>
    </div>

  </div>
</div>
