﻿<!--brain-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-chart darkteal">PEEPO<br/>con tormenta de ideas</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <img src="../../resources/image_brainstorm.png"/>
  </div>
</div> <!-- container -->
