﻿<!--info-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Información en<br/>PEEPO</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
        <div class="col-xs-12">
            <h2><strong>Antes de investigar, debe realizar una tormenta de ideas PEEPO.</strong></h2>
            <br/>
            <p><strong>PEEPO</strong> significa: <strong>P</strong>ersonas, <strong>E</strong>ntorno <strong>E</strong>quipos, <strong>P</strong>rocedimientos, <strong>O</strong>rganización <br/><br/>Para cada categoría de datos, debe identificar todas las condiciones, acciones o deficiencias que hayan podido contribuir con el incidente. <br/><br/>Para garantizar que todos los datos sean revelados, pregunte lo siguiente con respecto de cada categoría: <br/><strong>¿Quién? ¿Qué? ¿Qué? ¿Cuándo? y ¿Cómo?</strong>
            </p>
            <br/>
        </div>
    </div>
    <img src="../../resources/image_infopeepo.png"/>
  </div>
</div>
