﻿<!--loading-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Documento de Carga /<br/>Descarga</span>
  </div>
</div>

<div class="container container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
          <p><strong>Investigador principal <br/>Comité de Investigación ICAM <br/>PO Box 213 <br/>SYDNEY NSW 2000</strong> <br/> <br/>15 de agosto de 2012 <br/> <br/> <br/>Estimado/a <br/> <br/>A continuación encontrará un resumen de los procedimientos de carga segura de Westworth Logistics. <br/> <br/><strong>Diseño de muelles de carga/descarga:</strong></p>
            <ul>
                <li><p>Revise el diseño y el uso de muelles antiguos con regularidad, especialmente con relación a la posible interacción entre peatones y tráfico.</p></li>
                <li><p>Designar áreas específicas para carga/descarga</p></li>
                <li><p>Diseño o acondicionamiento donde sea práctico para gestionar mejor la entrada/salida y circulación de vehículos.</p></li>
                <li><p>En los nuevos diseños de los muelles de carga se debe evitar, en lo posible, la necesidad de que los vehículos retrocedan cuando exista el potencial de interacción con peatones u otros vehículos.</p></li>
            </ul>
          <br/>
          <p>Atentamente, <br/> <br/> Ester Clark <br/><em>Apoyo de RR. HH.</em><br/><strong>Westworth Logistics</strong></p>
          <br/>
        </div>
    </div>
  </div>
</div>
