﻿<!--reversing-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Procedimientos<br/>de retroceso</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12 content">
          <p><strong>Investigador principal <br/>Comité de Investigación ICAM PO Box 213 <br/>SYDNEY NSW 2000</strong> <br/> <br/>19 de agosto de 2012 <br/> <br/> <strong>Asunto: Información para conducir de retroceso</strong> <br/> <br/> Estimado/a <br/> <br/> Encontrará adjunto un resumen de las maniobras seguras de retroceso publicado en el boletín informativo en Westworth Logistics</p>
          <ul>
              <li>
                  <p>90 % de los incidentes y choques con camiones ocurren durante las maniobras de retroceso</p>
              </li>
              <li>
                  <p>10 % de todos los Incidentes generan Responsabilidad</p>
                  <ul>
                      <li>
                          <p>La mayoría de los incidentes resultan en Daños materiales únicamente</p>
                      </li>
                  </ul>
              </li>
              <li>
                  <p>Pero pueden ocurrir consecuencias graves como:</p>
                  <ul>
                      <li>
                          <p>retroceder en dirección</p>
                      </li>
                      <li>
                          <p>retroceder por encima</p>
                      </li>
                      <li>
                          <p>o aplastar a una persona</p>
                      </li>
                  </ul>
              </li>
          </ul>
          <p>Se requiere de destrezas para ser un conductor seguro. Los conductores profesionales conocen el desafío diario de evitar colisiones con objetos fijos al retroceder. <br/> <br/> Aunque la capacidad del conductor de ver hacia atrás es limitada, esta dificultad puede superarse con el uso de cuidado adicional y precaución. <br/> <br/> <strong>Hágase las preguntas clave:</strong></p>
          <ul>
              <li>
                  <p>¿Debo revisar hacia atrás?</p>
              </li>
              <li>
                  <p>¿He revisado si hay cables eléctricos, postes, escaleras, toldos, etc.?</p>
              </li>
              <li>
                  <p>¿Hay huecos u obstáculos de pavimento suave?</p>
              </li>
              <li>
                  <p>¿Puede ingresar tráfico en mi ruta de circulación?</p>
              </li>
              <li>
                  <p>¿Es posible que alguien camine hacia mi ruta?</p>
              </li>
              <li>
                  <p>¿Hace falta que tenga a alguien que controle o bloquee el tráfico?</p>
              </li>
              <li>
                  <p>¿Restringirán mi visión el hielo, la nieve, la neblina o el reflejo?</p>
              </li>
              <li>
                  <p>¿Qué tan cerca debo estar?</p>
              </li>
              <li>
                  <p>¿He asegurado las puertas del remolque?</p>
              </li>
              <li>
                  <p>¿He colocado conos?</p>
              </li>
              <li>
                  <p>¿Debe abandonarse este enfoque y tipo de entrega?</p>
              </li>
          </ul>
          <br/>
          <p style="text-align: center;"><strong>~ Recuerde: ¡USTED ES EL CAPITÁN DEL BARCO! ~</strong></p>
          <br/> <strong>¡Salga y MIRE! (Método GOAL):</strong></p>
          <ul>
              <li>
                  <p>Nada puede sustituir la información obtenida al mirar con sus propios ojos si hay posibles peligros. Dele la vuelta a su vehículo para obtener un panorama completo del área al que va a retroceder</p>
              </li>
              <li>
                  <p>Camine por la superficie del pavimento para ver si hay depresiones u objetos fijos y asegúrese de que los peatones estén una distancia segura de su vehículo.</p>
              </li>
              <li>
                  <p>¡Mire hacia arriba! Los peligros podrían ser cables eléctricos, toldos o incluso voladizos de edificaciones</p>
              </li>
              <li>
                  <p>Verifique la separación lateral y ajuste sus espejos</p>
              </li>
              <li>
                  <p>Señale sus intenciones al darle un toque suave a la corneta y revolucionar su motor levemente como advertencia adicional. Use sus luces intermitentes de cuatro sentidos</p>
              </li>
              <li>
                  <p>¡Adelante! Luego de revisar, comience a retroceder antes de que cambie el panorama</p>
              </li>
              <li>
                  <p>Nada: Reduzca la distancia que debe retroceder al posicionarse lo más cerca posible del muelle antes de retroceder</p>
              </li>
              <li>
                  <p>Mientras menos distancia de retroceso haya que cubrir, menos oportunidad habrá de golpear algún objeto fijo</p>
              </li>
              <li>
                  <p>Respire profundamente y comience a retroceder de manera perfecta sin compromisos. Nunca nadie ha ganado tiempo al retroceder rápido</p>
              </li>
              <li>
                  <p>Los movimientos lentos le ayudan a mantener el control total de su vehículo y calcular las distancias correctamente</p>
              </li>
              <li>
                  <p>De no estar seguro de algún aspecto durante su maniobra de retroceso, regrese al punto de «¡Salga y mire!»</p>
              </li>
          </ul>
          <br/>
          <p><strong>Revise todos los lados mientras retrocede</strong> <br/> Mantenga sus ojos en movimiento para asegurarse de que las condiciones no hayan cambiado.</p>
          <ul>
              <li>
                  <p>Los espejos muestran una porción clave de todo el panorama, pero es solamente una pequeña porción el panorama total</p>
              </li>
              <li>
                  <p>Para mayor seguridad, párese a 3/4 del camino, aplique el freno y salga a mirar otra vez.</p>
              </li>
              <li>
                  <p>Los conductores experimentados se basan en la distancia entre el vehículo y el muelle. Luego, marque un lugar en el piso con una distancia igual desde el asiento del conductor. Cuando se haya detenido en esa marca, estará exactamente donde había planeado</p>
              </li>
          </ul>
          <br/>
          <p><strong>Use todos sus Recursos y Guías</strong></p>
          <ul>
              <li>
                  <p>Un guía confiable y calificado puede mantener a los peatones fuera de la zona ciega</p>
              </li>
              <li>
                  <p>Pónganse de acuerdo en señales manuales que ambos comprendan</p>
              </li>
              <li>
                  <p>Apague su radio y abra su ventana</p>
              </li>
              <li>
                  <p>Mantenga su punto guía a la vista en todo momento. Si su guía desaparece de su vista, ¡deténgase inmediatamente!</p>
              </li>
              <li>
                  <p>La responsabilidad final de retroceder de manera segura sigue siendo del conductor, no del guía</p>
              </li>
              <li>
                  <p>El Consejo Nacional de Seguridad indica que «En la mayoría de las flotas, una de cada cuatro colisiones tiene que ver con retroceder».</p>
              </li>
              <li>
                  <p>Por lo tanto, debemos aplicar todas las técnicas de retroceso seguro que hemos aprendido para reducir el riesgo.</p>
              </li>
          </ul>
          <br/>
          <p><strong>Una colisión que ocurra cuando un conductor está retrocediendo se considera prevenible si el conductor</strong></p>
          <ul>
              <li>
                  <p>Retrocedió cuando retroceder hubiera podido ser prevenido al planificar mejor la ruta</p>
              </li>
              <li>
                  <p>Retrocedió hacia un flujo de tráfico cuando esa maniobra de retroceso ha podido ser evitada</p>
              </li>
              <li>
                  <p>No salió de la cabina para revisar la ruta propuesta de retroceso</p>
              </li>
              <li>
                  <p>Dependió únicamente de los espejos cuando era práctico mirar hacia atrás</p>
              </li>
              <li>
                  <p>No tocó la corneta al retroceder</p>
              </li>
              <li>
                  <p>No revisó atrás del vehículo estacionado en la vereda antes de intentar irse de un puesto de estacionamiento</p>
              </li>
              <li>
                  <p>Dependió solamente de una guía para ayudarle a retroceder</p>
              </li>
              <li>
                  <p>Retrocedió desde un punto ciego cuando había un acercamiento disponible desde un punto visible</p>
              </li>
          </ul>
          <br/>
          <p><strong>Ejemplos generales del uso correcto y la ubicación de conos de seguridad</strong></p>
          <ul>
              <li>
                  <p>Como objetivo para marcar la ubicación/esquina en la que un camión y/o remolque estará ubicado al finalizar la maniobra</p>
              </li>
              <li>
                  <p>Detrás del camión o remolque para bloquear/advertir al tráfico vehicular/peatonal que se mantenga alejado de la ruta prevista para retroceder</p>
              </li>
              <li>
                  <p>Una vez que el vehículo esté estacionado, los conos deben ser reubicados para advertir y/o desviar el tráfico en dirección distinta a la del camión de durante la carga y descarga (p. ej., esquina ciega, área de baja visibilidad, etc.)</p>
              </li>
          </ul>
          <br/>
          <p>Atentamente, <br/> Ester Clark <br/> <em>Apoyo de RR. HH.</em> <br/>Westworth Logistics<br/><br/></p>
      </div>
    </div>
  </div>
</div>
