﻿<!-- sight -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-photonotes darkteal">Express Truck<br/>Campo visual</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background photonotes">
  <div>

    <div class="row">
      <div class="col-xs-6">
        <h3 class="darklime">Foto.</h3>
      </div>
      <div class="col-xs-6">
        <h3 class="darklime">Notas.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 photo">
        <img src="../../resources/image_photo_sight.png"/>
      </div>
      <div class="col-xs-6 noPhoto">
        <img src="../../resources/image_nophoto.jpg"/>
      </div>
      <div class="col-xs-6 notes">
        <p class="pdotty">Desde el punto de vista el conductor, hubiera sido difícil ver a alguien detrás. <br/>&nbsp; <br/>&nbsp; <br/>&nbsp;</p>
      </div>
      <div class="col-xs-6 noNotes">
        <p class="pdotty">No hay notas de soporte para este expediente. <br/>&nbsp; <br/>&nbsp; <br/>&nbsp;</p>
      </div>
    </div>

  </div>
</div>
