﻿<!--statement-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Declaración<br/> de RR. HH.</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
          <p><strong>Investigador principal <br/> Comité de Investigación ICAM<br/> PO Box 213<br/> SYDNEY NSW 2000<br/> <br/> Registros de RR. HH. de Tony Gibson</strong><br/> <br/>Estimado/a <br/> <br/>A continuación encontrará los datos de Información de RR. HH. de Tony Gibson<br/>
          </p>
          <ul>
            <li><p>Tony Gibson ha sido empleado de la compañía durante 23 años</p></li>
            <li><p>Tony tiene una licencia vigente de vehículo pesado combinado</p></li>
            <li><p>Las licencias son verificadas anualmente. Se revisó la licencia de Tony hace 6 meses</p></li>
            <li><p>Tony ha obtenido un Certificado III TLI31209 en Operaciones de manejo a través de una organización de entrenamiento registrada. Este curso incluye Aplicación de estrategias de gestión de fatiga TLIF1007C. Obtuvo una evaluación de competente</p></li>
            <li><p>Tony ha realizado el entrenamiento de «Retroceso seguro» de la compañía. Obtuvo un resultado de más de 90 % en la evaluación</p></li>
            <li><p>Se han realizado 3 Observaciones de seguridad con respecto de Tony en los últimos 3 meses. El único hallazgo negativo fue que se le olvidó colocarse su cinturón de seguridad cuando estaba saliendo del patio en una oportunidad</p></li>
            <li><p>Tony había terminado un trabajo de ocho horas cuando regresó a la faena. Su libro de registros indica que él había finalizado el viaje con los respectivos recesos obligatorios de descanso</p></li>
            <li><p>Tony normalmente regresa a la base todos los días</p></li>
            <li><p>Tony había terminado un trabajo de ocho horas cuando regresó a la faena. Su libro de registros indica que él había finalizado el viaje con los respectivos recesos obligatorios de descanso</p></li>
            <li><p>Tony normalmente regresa a la base todos los días</p></li>
            <li><p>Era su segundo turno de la jornada</p></li>
            <li><p>Había trabajado un turno de 12 horas ayer</p></li>
            <li><p>Antes de eso, había tenido 48 horas de descanso</p></li>
          </ul>
          <br/>
          <p>May Flower<br/> <em>Registros de RR. HH.</em><br/> <strong>Westworth Trucking</strong></p>
          <br/>
        </div>
    </div>
  </div>
</div>
