﻿<!--tony-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Entrevista con Tony<br/>Conductor de camión de Westworth</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Información sobre la entrevista con Tony Gibson.</strong></p>
        <p><strong>¿Quién es usted?</strong>
        <p class="pdotty">Me llamo Tony Gibson; tengo 54 años y he estado trabajando aquí como conductor de Westworth durante los últimos 23 años.</p>
        <br/>
        <p><strong>Su declaración</strong></p>
        <p class="pdotty">Estaba retrocediendo mi camión hacia el Muelle 8 la noche del 8 de agosto, cuando golpeé a un conductor de Express Truck que había estacionado en medio del patio. Cuando sentí el impacto de mi camión contra el de él, me detuve de inmediato, apliqué el freno maxi brake y salí del vehículo. Procedí a la parte trasera de mi vehículo y encontré al conductor de Express Truck. Estaba inconsciente. <br/> <br/>Llamé a Jim Brown por celular y me dijo que me quedara con él hasta que llegara ayuda. Vino un sujeto del almacén. Dijo que él prestaba primeros auxilios. Dijo que venía una ambulancia en camino y que no lo moviera. Llegó una ambulancia aproximadamente 10 minutos después. <br/> <br/>Los de la ambulancia atendieron al conductor y se lo llevaron al hospital. <br/> <br/>Luego fui a la oficina de Jim y escribí lo que había ocurrido. <br/> <br/>Fui a la casa esa noche y estaba hablando con mi esposa y comencé a temblar. No sabía qué estaba ocurriendo. Me fui a la cama y me sentí bien la mañana siguiente. <br/> <br/>Yo vine al trabajo ayer para llenar unos documentos que Jim me solicitó. Estaba sentado en el comedor tomando un café y comencé a temblar otra vez. Le dije a Jim que no me estaba sintiendo bien y que necesitaba irme a casa. <br/> <br/>Me preguntó si estaba bien y le dije que «sí». Nada que no se arreglara con un par de cervezas y luego de dormir bien. <br/> <br/>Me dio la tarjeta de un trabajador social o algo así. Lo llamó la EAP. La lancé en el carro. <br/> <br/>He estado pensando en el accidente. El conductor de Express Truck no ha debido estar ahí en primer lugar. ¿Qué estaba haciendo estacionado en medio del patio? <br/> <br/>Supongo que he debido salir del camión y mirar antes de comenzar a retroceder, pero era mediados de invierno y hacía mucho frío y yo solo tenía pantalones cortos. <br/> <br/>Yo pensé que tenía suficiente espacio entre el conductor de Express Truck y la baranda. Tenía problemas para ver hacia dónde iba. Los espejos se estaban empañando y la iluminación del patio no era muy buena. <br/> <br/>Nos hemos quejado con los jefes acerca de la iluminación en la noche, pero no se ha hecho nada al respecto. Estaba realmente oscuro hace dos noches. <br/> <br/>Solamente estaba tratando de mover el camión rápido para que el personal del almacén pudiera descargarlo y cargarlo nuevamente. Han habido algunos plazos de entrega estrictos y no quería retrasarlos. Tratamos de trabajar juntos para asegurar que todo fluya. <br/> <br/>Cuando Jim me preguntó la otra noche si algo más estaba ocurriendo, Le dije que «no fastidiara». Pero sí hay algo más. El hermano de mi esposa se está divorciando y está un poco complicado de dinero. Constantemente, pide que le preste dinero. No tenemos cómo prestarle dinero y han habido algunas discusiones por eso. <br/> <br/>Manejar me da tiempo para pensar bien las cosas. No manejo molesto ni nada por el estilo, pero sí me da un espacio para pensar. Había estado pensando sobre las cosas en el último viaje que hice el domingo pasado.</p>
        <br/>
        <p><strong>¿Cómo se ha podido evitar el incidente?</strong> </p>
        <p class="pdotty">Necesitamos mejor iluminación en el área de los muelles porque es difícil ver de noche. <br/> <br/>Los procedimientos para la carga y descarga de vehículos deben comunicarse de manera más efectiva. <br/> <br/>Haga cumplir la separación de vehículos del tráfico peatonal autorizado de empleados y contratistas mediante la instalación de caminerías, bolardos, barreras claramente marcadas y puestos de estacionamiento vehicular marcados.</p>
        <br/>
        <p><strong>72 horas previas</strong></p>
        <p class="pdotty">No hay problemas de salud, enfermedad ni fatiga.</p>
          <br/>
      </div>
    </div>
  </div>
</div>
