﻿<!--weather-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-weather darkteal">Reporte<br/>climatológico</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-5">
        <p><strong>Asunto - Reporte climatológico - Australian Bureau of Meteorology</strong> <br/> <br/>Estimado/a, <br/> <br/>A continuación encontrará los datos climatológicos del 8 de agosto de 2012. <br/> <br/>Principalmente buen clima durante el día - Lluvia aislada en la noche con caída de nieve localizada hasta 1500 metros. Rango de temperatura -2º a 10º C
          <p>Atentamente, <br/>Peter Friend</p>
          <br/>
      </div>
      <div class="col-xs-7">
        <img src="../../resources/image_weather.png"/>
      </div>
    </div> <!--  row -->

  </div>
</div>
