<!--alan-->
<div class="casefile-label darklime-background">
    <div class="casefile-label-content">
         <span class="casefile-label-doc darkteal">Interview with Alan<br>Express Truck Supervisor</span>
    </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Information on the interview with Alan.</strong></p>
        <p class="pdotty">This is a terrible thing to have happened to John. He has been with us for a while. Firstly as a company driver then a couple of years ago he became an owner driver.
          <br />
          <br />We do have a formal contract somewhere but I can’t find it. But we don’t really need a contract John knows where he stands.
          <br />
          <br />Work has been a bit slow over the last week or so. Probably the weather and school holidays. When Jim (Westworth Logistics Supervisor) rang asking for a quick turnaround John jumped at the chance to earn a few more dollars.
          <br />
          <br />We try and keep the drivers up to date with their training. It is not really our issue but we do it anyway. It hard to tell a driver that he has to spend the whole day in training rather than make money. We make sure that the drivers are inducted for all the sites they go to that require that sort of thing.
          <br />
          <br />The biggest issue I have with John is he still thinks he is employed by the company. I have to keep reminding him he is his own boss now and we only provide the work.
          <br />
          <br />He probably told you about his load securing straps. Probably told you that we supply them and that we haven’t given him any new ones in years. When he became an owner driver he was told that he had to supply his own equipment.
          <br />
          <br />I hope he has all insurances up to date. He is going to need it.</p>
        <br>
      </div>
    </div>

  </div>
</div>
