<style>
  .nav {
    display: block !important;
  }
  p span {
    text-align: center;
    width: 100%;
    display: block;
  }
  p span em {
      color: rgb(167, 170, 54) !important;
  }
  .nav-tabs {
    width: calc(100% + 2px);
    border-bottom: 3px solid rgb(167, 170, 54);
  }
  .nav-tabs > li {
    cursor: pointer;
    margin-bottom: -3px;
    font-size: 1.5em;
    font-weight: bold;
    width:25%;
 }
 .nav-tabs > li > a {
   color: rgb(36, 66, 75);
    border: 3px solid rgba(167, 170, 54, 0.2);
    border-bottom: 3px solid transparent;
    background-color: rgba(167, 170, 54, 0.2);
    font-size: 13px;
  }
  @media screen and (min-width: 1025px) {
      .nav-tabs > li > a {
          font-size: 16px;
      }
  }
 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:focus,
 .nav-tabs > li.active > a:hover {
    color: rgb(36, 66, 75);
    background-color: rgb(167, 170, 54);
    border: 3px solid rgb(167, 170, 54);
  }
  .nav-tabs > li > a:hover {
    border: 3px solid rgb(167, 170, 54);
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(167, 170, 54, 0.5);
  }
  a:focus, a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .tab-pane {
    border: 3px solid rgb(167, 170, 54);
    margin-top: -3px;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    min-height: 350px;
  }
</style>

<!-- chartintro -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Intro to<br>ICAM Chart</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
          <p>The ICAM Chart allows you to sort each relevant piece of factual information and classify it into one of the following categories:
          <br>
          <br>
          <span><em>Click on each tab to learn more:</em></span></p>
        </div>
    </div><!-- row -->


      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#home" data-toggle="tab">Absent /<br>Failed Defences</a></li>
        <li><a data-target="#profile" data-toggle="tab">Individual /<br>Team Actions</a></li>
        <li><a data-target="#messages" data-toggle="tab">Task / Environ-<br>mental Conditions</a></li>
        <li><a data-target="#settings" data-toggle="tab">Organisational<br>Factors</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <h2>Absent/Failed Defences</h2>
          <p>are control measures that did not prevent an incident or limit its consequences.<br>
          <br>Check Question:<br>Does this factor describe the equipment, work process, control measure, detection system, procedure or attribute which normally prevents or limits this incident?</p>
        </div>
        <div class="tab-pane" id="profile">
          <h2>Individual / Team Actions</h2>
          <p>are always a result of an action that someone did or didn't do, which had a direct relation to the incident.<br>
          <br>Check Question:<br>Does this factor tell you about an error or violation of a standard or procedure made in the presence of a hazard?</p>
        </div>
        <div class="tab-pane" id="messages">
          <h2>Task / Environmental Conditions</h2>
          <p>are conditions that existed just before or at the time of the incident that directly influenced human or equipment performance.<br>
          <br>Check Question:<br>Does this factor describe task demands, work environment, individual capabilities or human factors that promoted errors/violations or undermined the effectiveness of a defence?</p>
        </div>
        <div class="tab-pane" id="settings">
          <h2>Organisational Factors</h2>
          <p>are underlying factors that produced the conditions which affected performance. They can include management decisions, processes and practices.<br>
          <br>Check Question:<br>Does this factor identify a standard Organisational Factor present before the incident, which produced adverse conditions, tolerated errors or compromised system defences?</p>
        </div>
      </div>
    </div>
</div>
