<!-- dock7 -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-photonotes darkteal">Loading<br>Dock 7</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background photonotes">
  <div>

    <div class="row">
      <div class="col-xs-6">
        <h3 class="darklime">Photo.</h3>
      </div>
      <div class="col-xs-6">
        <h3 class="darklime">Notes.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 photo">
        <img src="../../resources/image_photo_placeholder.jpg"/>
      </div>
      <div class="col-xs-6 noPhoto">
        <img src="../../resources/image_nophoto.jpg"/>
      </div>
      <div class="col-xs-6 notes">
        <p class="pdotty">The Express Truck driver was meant to park in Loading Dock 7.
          <br>&nbsp;
          <br>&nbsp;
          <br>&nbsp;</p>
      </div>
      <div class="col-xs-6 noNotes">
        <p  class="pdotty">There are no notes to support this file.
          <br>&nbsp;
          <br>&nbsp;
          <br>&nbsp;</p>
      </div>
    </div>

  </div>
</div>
