<!--loading-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Loading /<br>Unloading Doc</span>
  </div>
</div>

<div class="container container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
          <p><strong>Chief Investigator
            <br>ICAM Investigation Committee
            <br>PO Box 213
            <br>SYDNEY NSW 2000</strong>
            <br>
            <br>15 August 2012
            <br>
            <br>
            <br>Dear Sir/madam
            <br>
            <br>Please find below extract on Westworth Logistics safe loading procedures.
            <br>
            <br><strong>Design of loading/unloading docks:</strong></p>
            <ul>
                <li><p>Review design and use of older docks regularly, especially in relation to potential pedestrian and traffic interaction</p></li>
                <li><p>Designate dedicated loading/unloading areas</p></li>
                <li><p>Design or retro-fit where practical to better manage vehicle entry/exit and circulation of vehicles</p></li>
                <li><p>New designs of loading docks should avoid, where possible, the need for vehicles to reverse where there is potential for interaction with pedestrians or other vehicles.</p></li>
            </ul>
          <br>
          <p>Regards
            <br>
            <br>Ester Clark
            <br><em>HR Support</em>
            <br><strong>Westworth Logistics</strong></p>
          <br>
        </div>
    </div>
  </div>
</div>
