<!--traffic-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Traffic Management<br>Doc</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Chief Investigator<br />
        ICAM Investigation Committee<br />
        PO Box 213<br />
        SYDNEY NSW 2000<br />
        <br />
        15 August 2012 </strong><br />
        <br />
        Dear Sir/madam<br />
        <br />
        Please find below extract on Westworth Logistics safe loading procedures.<br />
        <br />
        <strong>Traffic management in loading/unloading dock:</strong></p>
        <ul>
            <li><p>Prevent general public access to these areas, and prominently display signs prohibiting unauthorised access</p></li>
            <li><p>Enforce separation of vehicles from authorised employee and contractor pedestrian traffic by installing clearly marked walkways, bollards, barriers and marked vehicle parking bays</p></li>
            <li><p>Provide safe access and egress for authorised pedestrians to loading dock (interlocked or card access on entry/exit points)</p></li>
            <li><p>Monitor the loading dock (e.g. closed circuit television)</p></li>
            <li><p>Enforce clearly signed speed limits</p></li>
            <li><p>Limit the distance vehicles need to reverse</p></li>
            <li><p>Install mirrors to provide drivers and pedestrians with better visibility</p></li>
            <li><p>Establish a schedule for vehicles to use the loading dock; or control or limit vehicle access to dock</p></li>
            <li><p>Vehicles are only to be loaded and loaded at designated loading docks</p></li>
        </ul>
        <br />
        <p>Regards<br />
        <br />
        Ester Clark<br />
        <em>HR Support</em><br />
        Westworth Logistics</p><br>
      </div>

    </div>
  </div>
</div>
