<!--weather-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-weather darkteal">Weather<br>Report</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-5">
        <p><strong>RE - Weather Report - Australian Bureau of Meteorology</strong>
          <br>
          <br>Dear Sir/madam,
          <br>
          <br>Please find below weather details for 8 August 2012.
          <br>
          <br>Mostly fine during the day - Isolated rain a t night with localised snow falling down to 1500 meters. Temperature range -2 to 10 Degrees Celsius.
          <p>Regards,
          <br>Peter Friend</p>
          <br>
      </div>
      <div class="col-xs-7">
        <img src="../../resources/image_weather.png"/>
      </div>
    </div> <!--  row -->

  </div>
</div>
