﻿<!--bob-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Entrevista con Bob<br/>Gerente del almacén</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
        <div class="col-xs-12">
          <p><strong>Información sobre la entrevista con John Tong.</strong></p>
          <p class="pdotty">¡Ahora sí que se nos compuso el día! Un contratista decide inventar sus propias normas y todos perdemos nuestro bono de seguridad del año. En los pasillos se quejan que no deben ser castigados por la falta de sentido común de otra persona. <br/> <br/>¿Por dónde comenzamos? Yo asumo que ese sujeto había realizado la inducción de la faena porque, de lo contrario, seguridad no lo hubiera dejado pasar en primer lugar. Todas las personas que entran a la faena tienen que tener algún tipo de inducción. Lo dice en la puerta principal. Ahora el guardia de seguridad se ha ido a pescar durante una semana y no logramos contactarlo. <br/> <br/>Como contratista que ya realizó la inducción, él debe saber las normas de la faena. Todas las actividades de carga y descarga se realizan en los muelles de carga designados. <br/> <br/>Estacionar en medio del patio y esperar que alguien cargue el camión, simplemente no es la manera de proceder. Sin embargo, he estado echando un vistazo en el patio este último par de días y he tenido que conversar con un par de contratistas sobre las normas. <br/> <br/>Parece que es hora de llamar a capítulo a todos sus jefes y leerles la cartilla. Es la única manera de que estos contratistas estén alineados con las pautas. <br/> <br/>No sé cuántas veces viene Express Truck a la faena, pero eso no importa; normas son normas y es su deber conocerlas. <br/> <br/>Al principio, cuando me dijeron lo que había ocurrido, quería matar a Andy, pero realmente no le puedo echar la culpa. Cuando lo vi, se sentía muy mal por todo esto. <br/> <br/>Dijo que trató de que el conductor de Express Truck se moviera, pero estaba de muy mal humor. Así que simplemente intentó hacer que se fuera del patio lo antes posible. <br/> <br/>Supongo que tendré que realizar otra reunión de seguridad sobre este tema. Todos los meses instruyo al personal del almacén sobre la importancia de estos asuntos de seguridad, pero pareciera que no la asimilan. Tal vez, mande a hacer afiches y los coloque a la vista también. <br/> <br/>Sepa que tenemos una buena cultura de seguridad aquí; ninguno de nuestros empleados se ha tomado un día libre en 2 años. La compañía organizó una parrillada la semana pasada en reconocimiento de nuestro buen desempeño. Ahora este contratista lo ha echado todo a perder. <br/> <br/>Todos los meses hacemos observaciones de seguridad. La semana pasada justamente hice una en la cocina de la oficina. No detectamos peligros. Han surgido algunos problemas menores, pero no son nada de que preocuparse. Dejo que los supervisores se encarguen de ello. Si no pueden hacer nada, hago que conversen con la gente seguridad de la oficina principal. Nadie me ha dicho que hay algo en lo que deba involucrarme.</p>
                <br/> <br/>
          </div>
      </div>

    </div>
  </div>
