﻿<style>
  .nav {
    display: block !important;
  }
  p span {
    text-align: center;
    width: 100%;
    display: block;
  }
  p span em {
      color: rgb(167, 170, 54) !important;
  }
  .nav-tabs {
    width: calc(100% + 2px);
    border-bottom: 3px solid rgb(167, 170, 54);
  }
  .nav-tabs > li {
    cursor: pointer;
    margin-bottom: -3px;
    font-size: 1.5em;
    font-weight: bold;
    width:25%;
 }
 .nav-tabs > li > a {
   color: rgb(36, 66, 75);
    border: 3px solid rgba(167, 170, 54, 0.2);
    border-bottom: 3px solid transparent;
    background-color: rgba(167, 170, 54, 0.2);
    font-size: 13px;
  }
  @media screen and (min-width: 1025px) {
      .nav-tabs > li > a {
          font-size: 16px;
      }
  }
 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:focus,
 .nav-tabs > li.active > a:hover {
    color: rgb(36, 66, 75);
    background-color: rgb(167, 170, 54);
    border: 3px solid rgb(167, 170, 54);
  }
  .nav-tabs > li > a:hover {
    border: 3px solid rgb(167, 170, 54);
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(167, 170, 54, 0.5);
  }
  a:focus, a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .tab-pane {
    border: 3px solid rgb(167, 170, 54);
    margin-top: -3px;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    min-height: 350px;
  }
</style>

<!-- chartintro -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Introducción a <br/>Tabla ICAM</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
          <p>La Tabla ICAM le permite organizar cada pieza importante de información fáctica y clasificarla en una de las siguientes categorías: <br/> <br/> <span><em>Haga clic en cada pestaña para aprender más:</em></span></p>
        </div>
    </div><!-- row -->


      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#home" data-toggle="tab">Defensas ausentes/<br/>fallidas</a></li>
        <li><a data-target="#profile" data-toggle="tab">Acciones del individuo / <br/>equipo</a></li>
        <li><a data-target="#messages" data-toggle="tab">Tarea / <br/>Condiciones ambientales</a></li>
        <li><a data-target="#settings" data-toggle="tab">Factores<br/>organizacionales</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <h2>Defensas ausentes/fallidas</h2>
          <p>son medidas de control que no previnieron un incidente ni limitaron sus consecuencias.<br/> <br/>Pregunta de verificación:<br/>¿Describe este factor los equipos, procesos de trabajo, controles cuantificables, sistema de detección, procedimiento o atributo que normalmente previene o limita este incidente?</p>
        </div>
        <div class="tab-pane" id="profile">
          <h2>Acciones del individuo / equipo</h2>
          <p>siempre son un resultado de una acción que alguien realizó u omitió, directamente relacionada con el incidente.<br/> <br/>Pregunta de verificación:<br/>¿Le da información este factor sobre un error o incumplimiento de una norma o procedimiento incurrido en presencia de un peligro?</p>
        </div>
        <div class="tab-pane" id="messages">
          <h2>Tarea / condiciones ambientales</h2>
          <p>son condiciones que existieron justo antes o al momento del incidente que directamente influyeron en el desempeño humano o de los equipos.<br/> <br/>Pregunta de verificación:<br/>¿Describe este factor exigencias de la tarea, entorno de trabajo, capacidades individuales o factores humanos que promovieron errores/violaciones o redujeron la efectividad de una defensa?</p>
        </div>
        <div class="tab-pane" id="settings">
          <h2>Factores organizacionales</h2>
          <p>son factores subyacentes que produjeron las condiciones que afectaron el desempeño. Pueden incluir decisiones de la gerencia, procesos y prácticas.<br/> <br/>Pregunta de verificación:<br/>¿Identifica este factor un Factor organizacional estándar presente antes del incidente que produjo condiciones adversas, errores tolerados o defensas del sistema comprometidas?</p>
        </div>
      </div>
    </div>
</div>
