﻿<!--contributing-->
<style>
    div > h3,
    div > p {
        text-align: center;
    }
    .col-xs-2 {
        border: 1px solid #000;
    }
    .col-xs-2 > .contr{
        background-color:  lightgreen;
    }
    .col-xs-2 > .non-contr{
        background-color:  lightcoral;
    }
    
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>PEEPO No / Contribuyente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <h3>Personas</h3>
            <p class="contr">El conductor de Express Truck estacionó en un área que no es zona de carga</p>
            <p class="contr">El conductor de Express Truck no se movió cuando se le pidió</p>
            <p class="contr">El conductor de Express Truck no había realizado la inducción recientemente</p>
            <p class="contr">El conductor de Express Truck había tenido una actitud agresiva</p>
            <p class="non-contr">El conductor de Express Truck sufre de hipertensión</p>
            <p class="contr">El conductor del camión de Westworth no se bajó a mirar</p>
            <p class="contr">El guardia de seguridad permitió que el conductor de Express Truck ingresara a la faena sin cumplir con las normas de inducción.</p>
            <p class="contr">La conductora de la grúa pórtico no insistió en que se moviera el camión de Express Truck</p>
            <p class="contr">La conductora de la grúa pórtico cargó el camión de Express Truck en un área que no es zona de carga</p>
            <p class="contr">El gerente del almacén condonó la conducta de la conductora de la grúa pórtico</p>
            <p class="non-contr">Los incumplimientos del contratista ocurrieron en el pasado</p>
            <p class="contr">El conductor del camión de Westworth estaba con un margen de tiempo estricto</p>
            <p class="non-contr">El conductor del camión de Express Truck no suele trabajar de noche</p>
        </div>
        <div class="col-xs-2">
            <h3>Entorno</h3>
            <p class="contr">Temperaturas bajas causaron nieve</p>
            <p class="contr">El incidente ocurrió de noche y por eso el patio del almacén estaba muy oscuro</p>
            <p class="contr">La iluminación era deficiente</p>
            <p class="contr">El conductor no tenía la vestimenta apropiada para las condiciones climatológicas</p>
            <p class="contr">El camión de Express Truck tenía que estar en el Muelle de carga 7</p>
            <p class="non-contr">El sonido de la alarma de retroceso del camión de Westworth no fue percibido</p>
            <p class="contr">El conductor de Express Truck esperó por una hora antes de que se cargara el camión</p>
        </div>
        <div class="col-xs-2">
            <h3>Equipos</h3>
            <p class="contr">La alarma de retroceso del camión de Westworth estaba dañada</p>
            <p class="contr">Espejos empañados del camión de Westworth</p>
            <p class="contr">Express Truck había dado mantenimiento insuficiente a los zunchos para asegurar cargas</p>
            <p class="contr">El conductor de Express Truck estacionó en un área que no es zona de carga</p>
            <p class="non-contr">La carga tomó entre 10 y 15 minutos</p>
            <p class="non-contr">Las señalizaciones de inducción están visibles en la puerta</p>
            <p class="non-contr">Registro de mantenimiento de camiones</p>
            <p class="non-contr">Ningún otro vehículo estaba presente cuando el conductor de Express Truck se estacionó inicialmente</p>
            <p class="non-contr">No había una cámara de retroceso instalada</p>
        </div>
        <div class="col-xs-2">
            <h3>Procedimientos</h3>
            <p class="contr">El gerente del almacén se comunicó con los empleados de los contratistas, pero no con los contratistas</p>
            <p class="non-contr">Programa de bonos de seguridad</p>
            <p class="non-contr">El gerente del almacén instruye al personal mensualmente sobre seguridad</p>
            <p class="contr">El gerente del almacén delega la responsabilidad de la resolución de problemas</p>
            <p class="contr">Los problemas menores suelen dejarse sin resolver</p>
            <p class="non-contr">Reuniones de seguridad como medida de seguridad</p>
            <p class="contr">El conductor de Westworth no cumplió con el procedimiento de retroceso</p>
            <p class="non-contr">El conductor de Westworth no usó el cinturón de seguridad una vez previamente</p>
            <p class="contr">No había un informe de vehículo defectuoso sobre la alarma de retroceso del camión de Westworth</p>
            <p class="non-contr">La devolución de pallets al proveedor no es algo común</p>
        </div>
        <div class="col-xs-2">
            <h3>Organización</h3>
            <p class="non-contr">No ha habido ausencias por enfermedad de empleados en los últimos dos años</p>
            <p class="contr">Se había reportado previamente la iluminación deficiente, pero no se había resuelto</p>
            <p class="contr">El conductor de Express Truck cree que su supervisor es responsable del mantenimiento de los equipos</p>
            <p class="contr">No hay un contrato formal entre el conductor de Express Truck y el supervisor</p>
            <p class="non-contr">Los contratistas no se sienten respetados</p>
            <p class="non-contr">Ambos conductores tenían licencias válidas</p>
            <p class="non-contr">No había registro de eventos previos ni cuasi incidentes</p>
        </div>
    </div>
</div>