﻿<!-- dock8 -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-photonotes darkteal">Muelle<br/>de carga 8</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background photonotes">
  <div>

    <div class="row">
      <div class="col-xs-6">
        <h3 class="darklime">Foto.</h3>
      </div>
      <div class="col-xs-6">
        <h3 class="darklime">Notas.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 photo">
        <img src="../../resources/image_photo_placeholder.jpg"/>
      </div>
      <div class="col-xs-6 noPhoto">
        <img src="../../resources/image_nophoto.jpg"/>
      </div>
        <div class="col-xs-6 notes">
            <p class="pdotty">El camión de Westworth estaba tratando de llegar al Muelle 8. <br/>&nbsp; <br/>&nbsp; <br/>&nbsp;</p>
        </div>
        <div class="col-xs-6 noNotes">
            <p class="pdotty">No hay notas de soporte para este expediente. <br/>&nbsp; <br/>&nbsp; <br/>&nbsp;</p>
        </div>
      </div>

    </div>
  </div>
