﻿<!--john-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Entrevista con John<br/>Conductor de Express Truck</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
        <div class="col-xs-12">
          <p><strong>Información sobre la entrevista con John Tong.</strong></p>
          <p class="pdotty">Me llamo John Tong. Tengo 49 años. Soy un conductor independiente de Express Truck. Tengo mi camión propio y trabajo exclusivamente para Express Truck. He estado trabajando para Express Truck durante los últimos 10 años. <br/> <br/>Alan, quien está a cargo de Express Truck, me envió al almacén de Westworth Logistics para retirar una carga urgente. Normalmente no trabajo de noche, pero le estaba haciendo un favor a Alan. <br/> <br/>Llegué como a las 5:45 p. m. a la puerta principal de seguridad y le dije al guardia de seguridad que estaba ahí para recoger unos pallets. No sabía nada al respecto y me dijo que regresara mañana. Le dije que me dejara pasar y que yo iba a conseguir a alguien que supiera lo que estaba pasando. <br/> <br/>El guardia seguridad me preguntó si había recibido la inducción de la faena. Por supuesto que sí. Hice la inducción hace como 2 años. Voy a esa faena aproximadamente 4 o 5 veces al año. <br/> <br/>Me dejó entrar y me dijo que estacionara el camión fuera del camino y que buscara al supervisor de turno. <br/> <br/>Estacioné mi camión donde no estuviera demasiado atravesado. No quise ocupar un espacio en el muelle de carga. De todas maneras, no había muchos camiones cerca. Solamente iba a estar ahí 10 minutos, recibir la carga e irme. <br/> <br/>No conseguía a nadie y debo de haber estado parado ahí durante una hora hasta que vino un joven y me preguntó qué quería. Para ese entonces ya estaba un poco malhumorado. La temperatura estaba muy baja y yo tenía frío. <br/> <br/>Me dijo que moviera mi camión, pero yo solamente quería que montaran la carga e irme de ahí y, cuando regresó, le hice señas para que trajera los pallets hacia el lugar en el que estaba estacionado el camión. <br/> <br/>Tomó apenas 10-15 minutos para montar la carga en el camión. Si hubieran montado mi carga de inmediato, no estaría metido en este problema. <br/> <br/>Le dije a Alan sobre los zunchos. Supuestamente, Express Truck me tiene que dar unos nuevos cada par de años. Bueno, eso es lo que han hecho en el pasado. Pero no he recibido zunchos nuevos en un par de años, así que sigo resolviendo con los viejos. <br/> <br/>Estaba amarrando el último de los pallets, pero el trinquete se trababa otra vez. Me está molestando cada vez más. Mi doctor me dijo que controlara mi presión sanguínea para no tener otro ataque cardíaco. Así que decidí caminar para llenar mi termo con agua caliente en el comedor. Me estaba congelando y una bebida caliente para manejar de regreso iba a caer bien. <br/> <br/>Cuando regresé, vi un camión de remolque maniobrando en el patio. Pude ver sus luces traseras, pero fue difícil ver porque la iluminación no era muy buena. <br/> <br/>Lancé el termo en la cabina y procedí a intentar asegurar la carga. No estaba viendo el otro camión porque simplemente me estaba concentrando en que el trinquete funcionara para quitarme del camino. <br/> <br/>No oí nada hasta que de repente noté de reojo que algo se movía. Miré hacia arriba y vi que la parte trasera del camión iba a chocar con el lado de un camión. Antes de que pudiera reaccionar, el camión me golpeó en las piernas y me arrastró hacia abajo. <br/> <br/>Afortunadamente, el conductor del camión se detuvo inmediatamente porque, de lo contrario, las ruedas me hubieran aplastado. Lo próximo que supe fue cuando me desperté dentro de una ambulancia. <br/> <br/>No he estado trabajando tantas horas últimamente porque el trabajo está un poco lento. El último par de días antes del accidente, había estado haciendo nada más 2 viajes por día, aproximadamente 5 horas al día. <br/> <br/>He realizado la inducción de la faena. Hace aproximadamente 2 años hice algo en la puerta de entrada y me dijeron las normas y me hicieron un par de preguntas. No me recuerdo de qué se trataba. <br/> <br/>Sé que si van a cargar el camión debo estar en un muelle de carga designado, pero nadie estaba al tanto de lo que está pasando así que no tenía sentido ir al muelle de carga.</p>
            <br/>
            <p><strong>¿Cómo se ha podido evitar el incidente?</strong></p>
            <p class="pdotty">En retrospectiva, he debido mover mi camión cuando me lo pidieron, ¿pero quién iba a saber? Seguramente, me pidieron que me alejara justo cuando ajustaba los zunchos. <br/> <br/>Cuando uno es contratista en estas faenas, especialmente como conductor de servicios de carga, no te respetan mucho. Solamente somos ciudadanos de segunda clase.  <br/> <br/>Tiene que haber mejor supervisión de los conductores que entran y salen; no puedo leer sus mentes para saber dónde quieren que me estacione. <br/> <br/>Ahora no sé cuánto tiempo va a pasar hasta que pueda regresar al trabajo. Con el alquiler y los gastos, espero que el jefe tenga su póliza de seguros al día porque voy a necesitar dinero.</p>
        </div>
    </div>

  </div>
</div>
