﻿<!--license-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Documento de<br/>licencias y entrenamiento</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Asunto - Registro de entrenamiento y licencias</strong> <br/> <br/>Estimado/a, <br/>A continuación encontrará los datos de John Tonge.</p>
        <br/>
      </div>
      <div class="col-xs-12">
        <img src="../../resources/image_license.png"/>
      </div>
    </div>

  </div>
</div>
