﻿<!--maintenance-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Documento de Mantenimiento</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Investigador principal <br/>Comité de Investigación ICAM  <br/>PO Box 213 <br/>SYDNEY NSW 2000</strong> <br/> <br/>14 de agosto de 2012 <br/> <br/> <strong>Asunto: INFORME DE INSPECCIÓN INDEPENDIENTE</strong><br/> <br/> Estimado/a<br/> <br/> <strong>Asunto - inspección de camiones y equipos asociados involucrados en el incidente del almacén de Westworth Logistics, Ballarat, el 8 de agosto de 2012</strong><br/> <br/> A solicitud de usted, he realizado un análisis exhaustivo de los equipos involucrados en el incidente y evaluado su historial de mantenimiento para efectos de cumplimiento con las normas australianas y los requerimientos industriales. Con base en el examen, ofrezco la siguiente información:</p>
        <ul>
            <li><p>Camión 1 - Freightliner del año 1999 propiedad de Westworth Logistics VIN 1FUYDDYB6XPB21407 con remolque de 16 m</p></li>
            <li><p>El camión ha recibido mantenimiento con regularidad y el dueño tiene la acreditación del Programa Nacional de Vehículos Pesados</p></li>
            <li><p>No se detectaron problemas mecánicos con el camión que hubieran contribuido al incidente.</p></li>
            <li><p>Los espejos estaban de acuerdo con las normas ADR</p></li>
            <li><p>Se notó un daño leve en la parte trasera izquierda del remolque</p></li>
            <li><p>Esto concuerda con golpear el otro camión. Westworth Logistics declaró que todos sus vehículos tienen una alarma de retroceso</p></li>
            <li><p>Al examinar el remolque, no se encontró ninguna alarma de retroceso, aunque había dos cables y una montura rota cerca de la parte trasera del remolque, al lado de la placa</p></li>
            <li><p>Luego de examinar la documentación asociada con el remolque, no se encontró ningún informe de vehículo defectuoso en el que se indicara que la alarma de retroceso estaba dañada</p></li>
        </ul>
        <br/>
        <p>Camión 2 - GMC 5500 del año 2006, de 3 toneladas, propiedad de Express Truck con tolva en la parte trasera.</p>
        <ul>
            <li><p>No se encontraron problemas mecánicos en este camión.</p></li>
            <li><p>Se observó un daño leve en el parachoque delantero de lado derecho que concuerda con ser golpeado por el otro camión</p></li>
            <li><p>Como fue solicitado, examiné los 4 zunchos que se estaban usando para asegurar la carga. 2 de los 4 se encontraban en malas condiciones, incluso, 1 de ellos no pudo ser operado fácilmente porque el trinquete estaba fuertemente corroído y eso hacía que fuera extremadamente difícil ajustar el zuncho.</p></li>
        </ul>
        <br/>
        <p>No dude en contactarme si desea alguna aclaratoria sobre los puntos comentados. </p><br/>
        <p>Atentamente, <br/> <br/>Ester Clark<br/> <em>Apoyo de RR. HH.</em><br/>Westworth Logistics<br/><br/></p>
      </div>
    </div>

  </div>
