.casefile-openBtn {
    background: url(../resources/icon_case_file.png);
    position: absolute;
	width: 85px !important;
	height: 91px !important;
    top: 15px;
    right: 15px;
	z-index: 10001;
    text-align: center;
    padding: 10px 0 10px 0;
	cursor: pointer;
	font-size: 0px;
	-webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
}
.casefile-openBtn:hover {
	background: url(../resources/icon_case_file_hover.png);
}
.casefile-closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
	width: 60px;
	height: 60px;
    text-align: center;
	font-size: 0px;
	cursor: pointer;
	border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	-ms-border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
}
.casefileStage {
	background: rgba(198, 198, 198, 0.80);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.casefile-main-container {
	float: left;
    width: 100%;
	height: 84%;
    position: absolute;
    bottom: 0;
    left: 0;
	border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	background: rgba(36,66,75,0.9);
	background: -moz-linear-gradient(top,  rgba(36,66,75,0.8) 0%, rgba(24,38,44,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(36,66,75,0.8) 0%,rgba(24,38,44,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(36,66,75,0.8) 0%,rgba(24,38,44,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e624424b', endColorstr='#e618262c',GradientType=0 ); /* IE6-9 */
}
.casefile-main-container ul.casefile-tabs {
	background: #19262c;
	list-style: none;
	padding: 7px;
	float: left;
	width: 100%;
	border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	margin-bottom: 0px;
}
.casefile-main-container ul.casefile-tabs li {
	background: none !important;
	float: left;
	display: inline-block;
	width: 33%;
    margin-right: 0.5%;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-ms-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	text-align: center;
	font-weight: bold;
	color: #a7aa36 !important;
	position: relative;
	-webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    transition: all ease-in 200ms;
    font-size: 32px;
}
.casefile-main-container ul.casefile-tabs li:last-child {
    margin-right: 0;
}
.casefile-main-container ul.casefile-tabs li.selected,
.casefile-main-container ul.casefile-tabs li:hover {
	background: rgb(206,203,42) !important;
    background: -moz-linear-gradient(top,  rgb(206,203,42) 0%, rgb(191,181,40) 100%) !important;
    background: -webkit-linear-gradient(top,  rgb(206,203,42) 0%,rgb(191,181,40) 100%) !important;
    background: linear-gradient(to bottom,  rgb(206,203,42) 0%,rgb(191,181,40) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecb2a', endColorstr='#bfb528',GradientType=0 ) !important;
	color: #24424B !important;
}
.casefile-main-container ul.casefile-tabs li.selected:hover {
	background: rgb(191,181,40) !important;
    background: -moz-linear-gradient(top,  rgb(191,181,40) 0%, rgb(206,203,42) 100%) !important;
    background: -webkit-linear-gradient(top,  rgb(191,181,40) 0%,rgb(206,203,42) 100%) !important;
    background: linear-gradient(to bottom,  rgb(191,181,40) 0%,rgb(206,203,42) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfb528', endColorstr='#cecb2a',GradientType=0 ) !important;
}
.casefile-main-container ul.casefile-tabs li.selected::after,
.casefile-main-container ul.casefile-tabs li:hover::after {
	background: url(../resources/case_file_tab_arrow.png) no-repeat;
    content: '';
    position: absolute;
    bottom: -22px;
    left: 50%;
    float: left;
    width: 45px;
    height: 22px;
    margin-left: -20px;
}
.casefile-type-containers {
	width: 100%;
	max-width: 725px;
	height: calc(100% - 83px);
	padding: 40px 0 30px 0 !important;
	margin: 0 auto !important;
	clear: both;
	display: none;
}
.casefile-type-containers .flex-viewport {
	padding-top: 80px;
}
.casefile-type-containers .flex-control-nav {
	bottom: 35px;
}
.casefile-type-containers .flex-control-nav li {
	margin: 0 8px;
}
.casefile-type-containers .flex-control-paging li a {
	width: 20px;
	height: 20px;
	background: rgba(114, 144, 155, 0.4);
}
.casefile-type-containers .flex-control-paging li a:hover,
.casefile-type-containers .flex-control-paging li a.flex-active {
	background: #a7aa36;
}
.casefile-type-containers .flex-direction-nav a {
	opacity: 1;
}
.casefile-type-containers .flex-direction-nav .flex-next {
	right: -90px !important;
}
.casefile-type-containers .flex-direction-nav .flex-prev {
	left: -90px !important;
}
.casefile-type-containers .flex-direction-nav a {
	width: 39px;
	height: 67px;
	font-size: 0px;
	margin: -33.5px 0 0 0;
    z-index: 1000;
}
.casefile-type-containers .flex-direction-nav a:before {
	font-size: 0px;
	background: url(../resources/case_file_left_arrow.png) no-repeat center top;
	width: 39px;
	height: 67px;
}
.casefile-type-containers .flex-direction-nav a.flex-next:before {
	background: url(../resources/case_file_right_arrow.png) no-repeat center top;
}
.cfObject {
    background: #19262c;
    position: relative;
	color: #ffffff;
    display: inline-block;
	padding: 10px 10px 0 10px;
	width: 155px;
    height: 90px;
	margin: 0 12.5px 110px 12.5px;
    float: left;
	font-size: 17px;
    text-align: center;
    line-height: 21px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	display: table;
	-webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
}
.cfObject::before {
	content: '';
	background: url(../resources/case_file_document.png) no-repeat center top;
	position: absolute;
	width: 77px;
    height: 98px;
    top: -80px;
    left: 50%;
    margin-left: -38.5px;
	box-shadow: 0px 7px 18px -11px #000;
	-webkit-box-shadow: 0px 7px 18px -11px #000;
	-ms-box-shadow: 0px 7px 18px -11px #000;
	-moz-box-shadow: 0px 7px 18px -11px #000;
}
#brainstorm-casefile.cfObject::before,
#contributing-casefile.cfObject::before {
	background: url(../resources/case_file_peepo.png) no-repeat center top;
	width: 98px;
	height: 77px;
	margin-left: -49px;
	top: -59px;
}
#weather-casefile.cfObject::before {
	background: url(../resources/case_file_weather.png) no-repeat center top;
}
#photoNotesObj-container .cfObject::before {
    background: url(../resources/case_file_photo-notes.png) no-repeat center top;
    background-size: 111px;
    width: 111px;
    height: 90px;
    margin-left: -55.5px;
    top: -70px;
}
/*.cfObject:nth-child(-4n + 5) {
	margin-left: 0px;
}*/
.cfObject:nth-child(n+5) {
	margin-bottom: 0px;
}
.cfObject:hover {
	background: #a7aa36;
}
.cfObject:hover span {
	color: #19262c;
}
.cfObject span {
	display: table-cell;
	vertical-align: middle;
}
.casefile-ObjectContent-closeBtn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1001;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: -40px 20px 0 0;
    text-align: center;
    border: 2px solid black;
    line-height: 5.3;
}
.casefile-ObjectContent {
	position: absolute;
	display: none;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}
.casefile-content {
	max-width: 77%;
	height: calc(100% - 50px);
	position: relative;
	top: 50px;
    z-index: 0;
	padding: 55px 30px 45px 45px;
}
.casefile-content > div {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	max-height: 100%;
}
.casefile-content img {
	margin-bottom: 4%;
}
/*SCROLL BAR*/
.mCSB_inside > .mCSB_container {
		margin-right: 40px !important;
}
/* - - - - - - - - - - CASEFILE OBJECT CONTENTS END - - - - - - - - - - */
/* - - - - - - - - - - CLOSE BUTTON - - - - - - - - - - */
.casefile-ObjectContent-closeBtn {
		position: absolute;
    top: 140px;
    right: -5px;
    z-index: 1002;
		margin-top: -40px !important;
}
.casefile-ObjectContent-closeBtn span {
		position: absolute;
		text-align: center !important;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;
		top: 85px;
		left: 0px;
		width: 100%;
}
/* - - - - - - - - - - CLOSE BUTTON END - - - - - - - - - - */
/* - - - - - - - - - - CASEFILE CONTENT - - - - - - - - - - */
.casefile-content h1, h2, h3, h4, h5, p, strong, em {
	color: rgb(36, 66, 75);
}
.casefile-content h1 {
	margin-top: 0;
}
.casefile-content li p {
	display: list-item;
	list-style-type: disc;
}
.casefile-content .pdotty {
  background-image: url('../resources/dotted.png');
}
/* - - - PHOTO NOTES - - - - */
.photonotes > div {	padding-right: 0px; }
.photonotes .row:last-child { border-bottom: 2px solid rgba(196, 196, 196, 0.25); }
.photonotes img { margin-top: 20px; border-bottom: 2px solid rgb(196, 196, 196); }
.photonotes h3 { font-weight: bold;	border-bottom: 2px solid rgba(196, 196, 196, 0.2); }
.photonotes p { margin-top: 30px; }
/* - - - PHOTO NOTES END - - - - */
/* - - - - - - - - - - CASEFILE CONTENT END - - - - - - - - - - */
/* - - - - - - - - - - CASEFILE LABEL - - - - - - - - - - */
.casefile-label {
	position: absolute;
	display: inline-block;
	z-index: 1002;
	top: 20px;
	right: 0;
	padding: 0 10px;
	line-height: 1em;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-khtml-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}
.casefile-label .casefile-label-content {
	display: table;
	width: 100%;
	height: 100%;
}
.casefile-label .casefile-label-content span {
	display: block;
	min-height: 40px;
	background-repeat: no-repeat !important;
	color: #19262c !important;
	font-size: 18px;
	line-height: 1.2em;
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	height: 40px;
}
.casefile-label-doc {
    padding-left: 53px !important;
    background: url('../resources/icon_cf_document_small.png');
    background-position: left center !important;
}
.casefile-label-chart {
    padding-left: 65px !important;
    background: url('../resources/icon_cf_chart_small.png');
    background-position: left center !important;
}
.casefile-label-weather {
	padding-left: 53px !important;
    background: url('../resources/icon_cf_weather_small.png');
    background-position: left center !important;
}
.casefile-label-photonotes {
    padding-left: 62px !important;
    background: url('../resources/icon_cf_photonotes_small.png');
    background-position: left 5px center !important;
}
/* - - - - - - - - - - CASEFILE LABEL END - - - - - - - - - - */
.flex-disabled {
  display: none !important;
}
@media screen and (min-width: 1025px) {
	.casefile-closeBtn {
        width: 80px;
        height: 80px;
    }
	.casefile-type-containers {
		max-width: 950px;
	}
	.casefile-closeBtn {
		top: 15px;
		right: 15px;
	}
	.cfObject {
		max-width: 212px;
		padding: 20px 25px 10px 25px;
		width: 23%;
		height: 90px;
		font-size: 20px;
	    line-height: 26px;
	}
	.casefile-type-containers {
		padding: 50px 0 30px 0 !important;
	}
    .casefile-content {
    	max-width: 81%;
    }
}
/* --- Full screen styles -- */
@media only screen and (max-width: 767px) {
    .casefile-type-containers {
        max-width: 82.5%;
    }
    .cfObject {
        font-size: 10px;
        line-height: 12px;
        width: 19.8%;
        height: 55px;
        padding: 5px 10px 0 10px;
    }
    .cfObject::before {
        width: 45px;
        height: 57px;
        background-size: 45px;
        top: -48px;
        margin-left: -22.5px;
    }
    #weather-casefile.cfObject::before {
        background-size: 45px;
    }
    #brainstorm-casefile.cfObject::before,
    #contributing-casefile.cfObject::before {
        background-size: 70px;
        width: 70px;
        height: 55px;
        margin-left: -35px;
        top: -46px;
    }
    #photoNotesObj-container .cfObject::before {
        width: 70px;
        height: 57px;
        margin-left: -35px;
        top: -47px;
        background-size: 70px;
    }
    .casefile-type-containers .flex-viewport {
        padding-top: 65px;
    }
    .casefile-type-containers .flex-control-nav {
        bottom: 0px;
    }
    .casefile-type-containers .flex-direction-nav a.flex-next:before,
    .casefile-type-containers .flex-direction-nav a.flex-prev:before {
        background-size: 25px;
        width: 25px;
        height: 42px;
    }
    .casefile-type-containers .flex-direction-nav .flex-next {
        right: -40px !important;
    }
    .casefile-type-containers .flex-direction-nav .flex-prev {
        left: -40px !important;
    }
    .casefile-type-containers .flex-direction-nav a {
        width: 25px;
        height: 42px;
        margin: -21px 0 0 0;
    }
    .casefile-type-containers .flex-control-paging li a {
        width: 15px;
        height: 15px;
    }
    .casefile-type-containers .flex-control-nav li {
        margin: 0 5px;
    }
    .casefile-label-chart {
        padding-left: 60px !important;
        background-size: 45px;
        background-position: left 5px center !important;
    }
    .casefile-label .casefile-label-content span {
        font-size: 14px;
    }
    .casefile-label {
        padding: 0 3px;
    }
    .casefile-ObjectContent-closeBtn {
        width: 50px;
        height: 50px;
        min-width: 50px !important;
        min-height: 50px !important;
        top: 120px;
        right: -7px;
    }
    .casefile-ObjectContent-closeBtn span {
        font-size: 10px;
        top: 55px;
        line-height: 13px;
    }
    .casefile-content {
        padding: 35px 30px 25px 35px;
    }
    .hierarchy-flexslider-container .flex-direction-nav .flex-prev,
    .hierarchy-flexslider-container .flex-direction-nav .flex-next {
        width: 70px !important;
        height: 70px !important;
        margin-top: -35px !important;
        background-size: 20px !important;
    }
    .casefile-content .pdotty {
        background: none;
    }
}
