<style>
  .nav {
    display: block !important;
  }
  p span {
    text-align: center;
    width: 100%;
    display: block;
  }
  p span em {
      color: rgb(167, 170, 54) !important;
  }
  .nav-tabs {
    width: calc(100% + 2px);
    border-bottom: 3px solid rgb(167, 170, 54);
  }
  .nav-tabs > li {
    cursor: pointer;
    margin-bottom: -3px;
    font-size: 1.5em;
    font-weight: bold;
    width: 25%;
    height: 60px;
    display: table !important;
 }
 .nav-tabs > li > a {
   color: rgb(36, 66, 75);
    border: 3px solid rgba(167, 170, 54, 0.2);
    border-bottom: 3px solid transparent;
    background-color: rgba(167, 170, 54, 0.2);
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
  }
  @media screen and (min-width: 1025px) {
      .nav-tabs > li {
          height: 75px;
      }
      .nav-tabs > li > a {
          font-size: 16px;
          padding: 10px 15px;
      }
  }
 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:focus,
 .nav-tabs > li.active > a:hover {
    color: rgb(36, 66, 75);
    background-color: rgb(167, 170, 54);
    border: 3px solid rgb(167, 170, 54);
  }
  .nav-tabs > li > a:hover {
    border: 3px solid rgb(167, 170, 54);
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(167, 170, 54, 0.5);
  }
  a:focus, a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .tab-pane {
    border: 3px solid rgb(167, 170, 54);
    margin-top: -3px;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    min-height: 350px;
  }
</style>

<!-- chartintro -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Intro to<br>ICAM Chart</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
          <p>The ICAM Chart allows you to sort each relevant piece of factual information and classify it into one of the following categories:
          <br>
          <br>
          <span><em>Click on each tab to learn more:</em></span></p>
        </div>
    </div><!-- row -->


      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#home" data-toggle="tab">Absent/Failed Defences</a></li>
        <li><a data-target="#profile" data-toggle="tab">Individual/Team Actions</a></li>
        <li><a data-target="#messages" data-toggle="tab">Task/Environmental Conditions</a></li>
        <li><a data-target="#settings" data-toggle="tab">Organisational Factors</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <h2>Absent/Failed Defences</h2>
          <p>are control measures that did not prevent an incident or limit its consequences.<br>
          <br>Check Question:<br>Does this factor describe the equipment, work process, control measure, detection system, procedure or attribute which normally prevents or limits this incident?</p>
          <p>Use your Timeline to identify the loss of control. Ask the team:</p>
          <p>What is the first defence that should have prevented this incident?</p>
          <p>What is the next defence that should have prevented the incident?</p>
          <p>Continue until all failed defences are identified. You're aiming for between three and five.</p>
          <p>What defences should have been in place?</p>
          <p>Are there any additional defences that could have minimised damage or harm?</p>
          <p>Remember, an absent defence is a reasonable expectation of what should have been in place to prevent an incident or reduce the consequences.</p>
          <p>Defences may include: Interlocks, isolation, guards, barriers,SOPs, JSAs, Awareness, Supervision, Emergency Response, PPE.</p>
        </div>
        <div class="tab-pane" id="profile">
          <h2>Individual / Team Actions</h2>
          <p>are always a result of an action that someone did or didn't do, which had a direct relation to the incident.<br>
          <br>Check Question:<br>Does this factor tell you about an error or violation of a standard or procedure made in the presence of a hazard?</p>
          <p>Next, turn your attention to the people involved. Who was directly involved?</p>
          <p>Ask: 'What errors or violations were made?' for each person involved in the incident. Remember, you need to be objective. Avoid opinions or emotive terms.</p>
          <p>Use verbs to guide your thinking, e.g. 'Driver exceeded the posted speed limit.'</p>
          <p>Actions may include: Errors and violations.</p>
        </div>
        <div class="tab-pane" id="messages">
          <h2>Task / Environmental Conditions</h2>
          <p>are conditions that existed just before or at the time of the incident that directly influenced human or equipment performance.<br>
          <br>Check Question:<br>Does this factor describe task demands, work environment, individual capabilities or human factors that promoted errors/violations or undermined the effectiveness of a defence?</p>
          <p>Start by looking at the defences and actions you've identified and identify conditions that influenced them. Ask:</p>
          <p>What conditions influenced people’s behaviour?</p>
          <p>Were there conditions that influenced risk levels?</p>
          <p>What conditions undermined system defences?</p>
          <p>Use the Workplace and Human Factors matrix in your Pocket Investigation Guide for prompts.</p>
          <p>Examples include: working conditions, time pressures, resources, tool availability, job access, task complexity, fitness for work, workload and task planning.</p>
        </div>
        <div class="tab-pane" id="settings">
          <h2>Organisational Factors</h2>
          <p>are underlying factors that produced the conditions which affected performance. They can include management decisions, processes and practices.<br>
          <br>Check Question:<br>Does this factor identify a standard Organisational Factor present before the incident, which produced adverse conditions, tolerated errors or compromised system defences?</p>
          <p>Analyse how the organisation contributed to the incident. Ask:</p>
          <p>What organisational factors influenced people's behaviour?</p>
          <p>Were there organisational factors that influenced risk levels?</p>
          <p>What organisational factors allowed adverse conditions to go unaddressed</p>
          <p>What organisational factors promoted or passively tolerated risk-taking behaviour?</p>
          <p>What organisational factors removed or undermined system defences?</p>
          <p>Categorise each factor into one or more of the 16 organisational factor types. You'll find definitions for these in your Pocket Investigation Guide</p>
          <p>Organisational factors may include: Leadership, safety culture, safe procedures, staff selection, training, operations vs safety goals, risk management, contractor management and management of change.</p>
        </div>
      </div>
    </div>
</div>
