<style>
    .container {
        height: 100%;
    }
    .casefile-content > div {
        overflow: hidden;
    }
    .nav {
    display: block !important;
    }
    p span {
    text-align: center;
    width: 100%;
    display: block;
    }
    p span em {
      color: rgb(167, 170, 54) !important;
    }
    .nav-tabs {
    width: calc(100% + 2px);
    border-bottom: 3px solid rgb(167, 170, 54);
    }
    .nav-tabs > li {
    cursor: pointer;
    margin-bottom: -3px;
    font-size: 1.5em;
    font-weight: bold;
    width: 20%;
    height: 60px;
    display: table !important;
    }
    .nav-tabs > li > a {
    color: rgb(36, 66, 75);
    border: 3px solid rgba(167, 170, 54, 0.2);
    border-bottom: 3px solid transparent;
    background-color: rgba(167, 170, 54, 0.2);
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
    }
    .nav-tabs > li > a > span {
      display: block;
      font-size: 18px;
      color: rgb(36, 66, 75);
    }
    @media screen and (min-width: 1025px) {
      .nav-tabs > li {
          height: 75px;
      }
      .nav-tabs > li > a {
          font-size: 20px;
          font-weight: bold;
          padding: 10px 15px;
      }
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
    color: rgb(36, 66, 75);
    background-color: rgb(167, 170, 54);
    border: 3px solid rgb(167, 170, 54);
    }
    .nav-tabs > li > a:hover {
    border: 3px solid rgb(167, 170, 54);
    }
    .nav > li > a:focus,
    .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(167, 170, 54, 0.5);
    }
    a:focus, a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    }
    .tab-pane {
    border: 3px solid rgb(167, 170, 54);
    margin-top: -3px;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    min-height: 350px;
    height: 100%;
    }
    .tab-content {
        height: 100%;
    }
    .factors-container {
    padding: 1% 0 0 0;
    max-height: 90%;
    height: calc(100% - 175px);
    }
    .factor {
    position: relative;
    padding: 0;
    border: 2px solid #525252;
    border-radius: 5px;
    margin-bottom: 0.25em;
    font-size: 16px;
    height: 6em;
    color: #525252 !important;
    font-weight: bold;
    }
    .factor-text {
    float: left;
    width: 100%;
    max-width: 60%;
    margin-left: 2.5%;
    height: 100%;
    display: table;
    }
    .factor-text span {
    display: table-cell;
    vertical-align: middle;
    line-height: 1em;
    color: #525252;
    }
    .factor-state {
    display: table;
    float: right;
    width: 100%;
    height: 100%;
    max-width: 35%;
    border-left: 2px solid #525252;
    }
    .factor-state > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
    .factor-state-icon {
    max-width: 1.7em;
    max-height: 1.7em;
    margin: 0.4em auto 0 auto !important;
    }
    .factor-state-text {
    display: table;
    margin: auto;
    width: 95%;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
    height: 40%;
    }
    .factor-state-text span {
    vertical-align: middle;
    height: 100%;
    font-size: 0.9em;
    display: table-cell;
    color: #525252;
    }
    @media screen and (min-width: 768px) {
        .factor-text {
            max-width: 70%;
        }
        .factor-state {
            max-width: 25%;
        }
        .factor-state-icon {
            max-width: 35px;
            max-height: 35px;
        }
    }
    @media screen and (max-width: 1024px) {
        .nav-tabs > li {
            height: 45px;
        }
        .nav-tabs > li > a {
            padding: 0 3px;
        }
        .nav-tabs > li > a > span {
            font-size: 10px;
        }
        .tab-pane {
            padding: 12px;
        }
        .mCSB_inside > .mCSB_container {
            margin-right: 25px !important;
        }
        .factor {
            height: 4em;
        }
        .factor-text span,
        .factor-state-text span {
            font-size: 12px;
        }
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function($){

        $('.factors-container').mCustomScrollbar({
          theme: 'dark-thick',
          scrollInertia: 350,
          mouseWheel: true,
          scrollButtons : {
            enable : false
          },
          advanced : {
            autoScrollOnFocus : false,
            updateOnContentResize : true
          }
        });
    });
</script>

<!-- chartintro -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-chart darkteal">PEEPO<br>Non / Contributing</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center"><strong>PEEPO/Non Contributing Factors</strong></h2>
            <br>
          <p><span><em>Click on each tab to review the correct PEEPO factors:</em></span></p>
        </div>
    </div>



      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#p" data-toggle="tab" class="text-center">P<span>People</a></li>
        <li><a data-target="#e" data-toggle="tab" class="text-center">E<span>Environment</span></a></li>
        <li><a data-target="#e-two" data-toggle="tab" class="text-center">E<span>Equipment</span></a></li>
        <li><a data-target="#p-two" data-toggle="tab" class="text-center">P<span>Procedures</span></a></li>
        <li><a data-target="#o" data-toggle="tab" class="text-center">O<span>Organisation</span></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="p">
            <div class="factors-container">

               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck driver parked in non-loading area</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck driver would not move when asked to</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck driver was not recently inducted</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck driver was aggressive</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Express truck driver suffers from high blood pressure</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Westworth truck driver did not get out and look</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Security guard allowed access  to Express truck without induction</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Forklift driver did not insist on Express truck moving</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Forklift driver loaded Express truck in non-loading area</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Warehouse manager condoned behaviour of forklift driver</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Contractor violations occured in the past</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text"><span>Westworth Truck Driver under strict deadline</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Express truck driver does not normally work at night</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="e">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Cold temperature causing snow</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Incident occurred at night so warehouse yard was very dark</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Lighting was poor</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Driver was wearing inappropriate clothing for weather conditions</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck was meant to be in Loading Dock 7</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Sound of Westworth truck reversing wasn't noticed</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck driver waited for an hour before truck was loaded</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="e-two">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Westworth truck reversing alarm broken</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Westworth truck mirrors were fogged</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck had poorly maintained tie down straps</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck parked in non-loading area</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Loading took 10-15 mins</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Induction signage displayed on gate</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Maintenance history of trucks</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No other vehicles present when Express truck driver parked initially</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No reversing camera installed</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="p-two">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Warehouse manager only communicated to contractors' employees</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Safety bonus scheme</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Warehouse manager lectures staff on safety each month</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Warehouse manager delegates responsibility for resolving issues</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Minor issues often go unresolved</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Toolbox talks as safety measure</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Westworth driver did not follow reversing procedures</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Westworth driver failed to wear seat belt once in the past</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>No defective vehicle report for Westworth truck reversing alarm</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Pallets being returned to supplier was uncommon</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="o">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No employee sick days in past two years</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Poor lighting had been previously reported but not resolved</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express truck driver believes supervisor is responsible for equipment maintenance</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>No formal contract between Express truck driver and supervisor</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Contractors don't feel respected</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Both drivers had valid licenses</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No history of prior events or near misses</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>non contributing</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
      </div>
</div>
