<!--info-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Info on<br>PEEPO</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
        <div class="col-xs-12">
            <h2><strong>Before you investigate, you need to brainstorm a PEEPO.</strong></h2>
            <br>
            <p><strong>PEEPO</strong> stands for: <strong>P</strong>eople, <strong>E</strong>nvironment, <strong>E</strong>quipment, <strong>P</strong>rocedures, <strong>O</strong>rganisation
              <br><br>For each category of data, you should identify all conditions, actions or deficiencies, which may have contributed to the incident.
              <br><br>To ensure that all the facts are uncovered, ask the following questions for each category:
              <br><strong>Who? What? What? When? and How?</strong>
            </p>
            <br>
        </div>
    </div>
    <img src="../../resources/image_infopeepo.png"/>
  </div>
</div>
