<!--maintenance-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Maintenance Doc</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Chief Investigator<br>
        ICAM Investigation Committee<br>
        PO Box 213<br>
        SYDNEY NSW 2000</strong><br>
        <br>
        14 August 2012 <br>
        <br>
        <strong>RE: INDEPENDENT INSPECTION REPORT</strong><br>
        <br>
        Dear Sir/madam<br>
        <br>
        <strong>RE - Inspection of trucks and associated equipment involved in incident at Westworth Logistics Warehouse, Ballarat on 8 August 2012</strong><br>
        <br>
        On your request I have undertaken a thorough examination equipment involved in the incident and assessed its maintenance history for compliance with Australian Standards and industry guidelines. From the examination I offer the following:</p>
        <ul>
            <li><p>Truck 1 - 1999 Freightliner belonging to Westworth Logistics VIN 1FUYDDYB6XPB21407 pulling a 16 m trailer</p></li>
            <li><p>Truck was regularly serviced and the owner is accredited under the National Heavy Vehicle Accreditation Scheme</p></li>
            <li><p>No mechanical issues were found with the truck that would have contributed to the incident</p></li>
            <li><p>The mirrors conformed to ADR standards</p></li>
            <li><p>Minor damage was noted on the left rear of trailer</p></li>
            <li><p>This is consistent with hitting the other truck. Westworth Logistics stated that all their vehicles were fitted with a reversing beeper</p></li>
            <li><p>On examination of the trailer no reversing beeper was located although two wires and a broken mount were located near the rear of the trailer next to the number plate</p></li>
            <li><p>On examination of the documentation associated with the trailer no defective vehicle report was found reporting the broken reversing beeper</p></li>
        </ul>
        <br>
        <p>Truck 2 - 2006 GMC 5500 3 ton truck belonging to Express Truck with a flat bed on the rear.</p>
        <ul>
            <li><p>No mechanical issues were found with this truck</p></li>
            <li><p>Minor damage was observed on the front right guard consistent with being hit by the other truck</p></li>
            <li><p>As requested I examined the 4 straps being used to secure the load. 2 of the 4 were in poor condition including 1 which could not be operated easily as the ratchet binder was heavily corroded making the tensioning of the strap extremely difficult</p></li>
        </ul>
        <br>
        <p>Please contact me should you wish any further clarification of the issues raised. </p><br>
        <p>Regards<br>
        <br>
        Ester Clark<br>
        <em>HR Support</em><br>
        Westworth Logistics<br><br></p>
      </div>
    </div>

  </div>
