<!--mark-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Interview with Mark<br>Security Front Gate</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Information on the interview with Mark.</strong></p>
        <p class="pdotty">I was working the Night Shift on the evening of the 8th August. We normally start at 6:00 pm and work a 12 hour shift.
          <br>
          <br>I have checked the entry logs for the night of the incident.</p>
          <br>
        <p>The log indicates:</p>
        <p style="text-align: center; text-decoration: underline;">'5:45 pm - Express Truck arrived; 7:05 pm - Westworth Truck arrived'</p>
        <br>
        <p class="pdotty">All personnel entering the site must be inducted. That includes all contract drivers. There was no record of the Express Truck driver undertaking an induction as he entered. I assume that he must have already been inducted. The bloke before me would have checked that.</p>
        <br>
      </div>
    </div>
</div>
