/* - - - - - - - - - - - - - - - - GLOBAL START - - - - - - - - - - - - - - - - */
@-ms-viewport{
  width: device-width;
}
@font-face {
    font-family: 'arialblack';
    src: url('fonts/ariblk-webfont.woff2') format('woff2'),
         url('fonts/ariblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  -webkit-backface-visibility: hidden
  white-space: normal;
  font-family: Arial, sans-serif;
  color: rgb(223, 223, 223);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
*:focus {
  outline: 0 !important;
}
html, body {
  margin: 0;
  display: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
body {
    background: rgb(25, 38, 44);
    height: 100%;
}
button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
img {
  width: 100%;
}
h1, h2, h3, h4, h5, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1.5em;
  line-height: 1.7em;
}
a {
    color: initial;
    text-decoration: none !important;
    outline: none !important;
}
.active {
	display: block !important;
}
.light {
    background: rgba(255, 255, 255, 0.75);
}
.no-background {
    background: none;
    width: auto;
}
.scroll {
    overflow-y: !important;
}
.empty-case-file-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #19323a;
    max-width: 380px;
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
}
.mainStage {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
    background: rgba(25, 38, 44, 0.9);
    overflow: hidden;
}
header {
    background: rgba(25, 38, 44, 0.75);
    height: auto;
    max-height: 60px;
    padding: 12px 15px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 10000;
}
.sws-logo {
    width: 160px;
}
.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.video-ended-overlay {
    display: none;
    background: rgba(25, 38, 44, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.video-ended-overlay-container {
    width: 50% !important;
}
.splash,
.video-ended-overlay-container {
    background: rgb(25, 38, 44);
    width: 50%;
    min-width: 320px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border: 2px solid #64949F;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    z-index: 100;
}
.splash #titleText,
.video-ended-overlay .video-ended-overlay-title {
    background-color: #326F80;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    padding: 12px;
    width: 100%;
    float: left;
    border-bottom: 2px solid #64949F;
}
.video-ended-overlay .video-ended-overlay-title {
    padding: 12px 12px 12px 0;
}
.video-ended-overlay .video-ended-overlay-content {
    padding: 0px !important;
}
.video-ended-overlay .btn-container .btn span {
    padding: 0;
    vertical-align: baseline;
    top: 0;
}
.splash .splash-content,
.video-ended-overlay .video-ended-overlay-content {
    padding: 15px 30px 20px 30px;
    float: left;
    width: 100%;
}
.splash .splash-content #introductionText {
    float: left;
    width: 100%;
    font-size: 18px;
}
.splash .splash-content #introductionText h3 {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}
.splash .splash-content #introductionText p {
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}
.splash #introductionText p:last-child {
    margin-bottom: 0 !important;
}
.stage {
	display: none;
	font-size: 20px;
	height: 100%;
	background-position: center top;
	background-size: cover;
}
.conversationBox {
	height: auto;
	position: absolute;
	bottom: -1000px;
	left: 0;
	width: 97%;
    margin: 1.5%;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    border: 2px solid #64949F;
    color: #fff;
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
}
.conversationBox::before {
    content: '';
    background: url(../resources/icon_convo_arrow.png) no-repeat center top;
    width: 64px;
    height: 33px;
    position: absolute;
    top: -28px;
    left: 30px;
}
.conversationBox.next {
    left: initial;
    right: 0;
    width: 70%;
    height: 25%;
    max-width: 1000px;
    max-height: 200px;
}
.conversationBox.next .conversation {
    text-align: left;
    width: 80%;
    height: 100%;
    float: left;
    position: relative;;
    border-right: 2px solid #64949F;
    border-bottom: 0px;
    border-radius: 14px 0 0 14px;
    -webkit-border-radius: 14px 0 0 14px;
    -moz-border-radius: 14px 0 0 14px;
    -ms-border-radius: 14px 0 0 14px;
}
.conversationBox.next .conversation span {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    padding-right: 30px;
}
.conversationBox.next .response {
    width: 20%;
    height: 100%;
    float: right;
    position: relative;
    border-radius: 0 14px 14px 0;
    -webkit-border-radius: 0 14px 14px 0;
    -moz-border-radius: 0 14px 14px 0;
    -ms-border-radius: 0 14px 14px 0;
}
.conversationBox.next .response .responseBtn {
    display: table;
    height: 60%;
    width: 60% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -ms-border-radius: 100% 100% 100% 100%;
    margin-left: -30%;
    margin-top: -30%;
    max-width: none;
    text-transform: uppercase;
}
.conversationBox.next .response .responseBtn span {
    background: url(../resources/icon_play.png) no-repeat left 55% top 24%;
    background-size: 35%;
    padding-top: 45%;
    display: table-cell;
    vertical-align: middle;
}
.conversationBox .conversation {
    background: rgba(50,111,128,0.9);
    padding: 20px 30px;
    font-weight: bold;
    border-bottom: 2px solid #64949F;
    text-align: center;
    border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -ms-border-radius: 14px 14px 0 0;
}
.conversationBox .response.full-border {
    border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -ms-border-radius: 14px 14px 14px 14px;
}
.conversationBox .response {
    float: left;
    width: 100%;
    padding: 12px;
    background: rgba(25, 38, 44, 0.9);
    border-radius: 0 0 14px 14px;
    -webkit-border-radius: 0 0 14px 14px;
    -moz-border-radius: 0 0 14px 14px;
    -ms-border-radius: 0 0 14px 14px;
}
.conversationBox .responseBtn {
    background: rgba(25, 38, 44, 0.6);
	max-width: 100%;
    width: 100%;
	padding: 15px 20px;
	border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
	border: 2px solid #64949F;
    font-size: 18px;
    cursor: pointer;
    min-height: 84px;
    display: table;
    font-weight: bold;
    position: relative;
    -webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    transition: all ease-in 200ms;
}
.responseBtn::after {
    content: '';
    background: rgb(25, 38, 44);
    width: 40px;
    height: 40px;
    border-radius: 100% 100% 100% 100%;
    border: 2px solid #64949F;
    float: right;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -20px;
    -webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    transition: all ease-in 200ms;
}
.responseBtn:hover {
    background: rgb(206,203,42);
    border: 2px solid rgb(206, 203, 42);
}
.responseBtn:hover::after {
    background: rgb(50, 111, 128);
    box-shadow: inset 0 0 0 10px rgb(25, 38, 44);
    -webkit-box-shadow: inset 0 0 0 8px rgb(25, 38, 44);
    -moz-box-shadow: inset 0 0 0 8px rgb(25, 38, 44);
    -ms-box-shadow: inset 0 0 0 8px rgb(25, 38, 44);
    border: 2px solid rgb(25, 38, 44);
}
.responseBtn span {
    display: table-cell !important;
    vertical-align: middle;
    padding-right: 15px;
    width: 90%;
}
.responseBtn:hover span,
.responseBtnContinue span {
    color: #24424B !important;
    font-weight: bold;
}
.conversationBox .responseBtnContinue {
    background: rgb(206,203,42);
    background: -moz-linear-gradient(top,  rgb(206,203,42) 0%, rgb(191,181,40) 100%);
    background: -webkit-linear-gradient(top,  rgb(206,203,42) 0%,rgb(191,181,40) 100%);
    background: linear-gradient(to bottom,  rgb(206,203,42) 0%,rgb(191,181,40) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecb2a', endColorstr='#bfb528',GradientType=0 );
    border: 2px solid rgb(206, 203, 42);
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    padding: 15px 20px;
    border: none;
    min-height: 65px;
    font-size: 20px;
    line-height: 24px;
}
.conversationBox .responseBtnContinue:hover {
    background: rgb(191,181,40);
    background: -moz-linear-gradient(top,  rgb(191,181,40) 0%, rgb(206,203,42) 100%);
    background: -webkit-linear-gradient(top,  rgb(191,181,40) 0%,rgb(206,203,42) 100%);
    background: linear-gradient(to bottom,  rgb(191,181,40) 0%,rgb(206,203,42) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfb528', endColorstr='#cecb2a',GradientType=0 );
}
.conversationBox .responseBtnContinue span {
    text-align: center;
    padding-right: 0px;
}
.responseBtnContinue::after {
    display: none;
}
.toast-banner {
    background: #a7aa36 url(../resources/case_file_document.png) no-repeat 10px center;
    background-size: 39px;
	position: absolute;
    z-index: 10000;
    top: 13px;
    right: 85px;
	width: 320px !important;
	height: 65px !important;
	padding: 10px 10px 10px 60px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    line-height: 1.3em;
    cursor: pointer;
    box-shadow: inset -6px -1px 10px -5px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset -6px -1px 10px -5px rgba(0,0,0,0.3);
    -ms-box-shadow: inset -6px -1px 10px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: inset -6px -1px 10px -5px rgba(0,0,0,0.3);
}
.toast-banner .toast-banner-text {
    display: table;
    height: 100%;
    width: 100%;
}
.toast-banner .toast-banner-text span {
    color: #19262c !important;
    display: table-cell;
    vertical-align: middle
}
#brainstorm-toast-banner,
#contributing-toast-banner,
#icamchart-toast-banner {
    background: #a7aa36 url(../resources/case_file_peepo.png) no-repeat 10px center;
    background-size: 50px;
    padding-left: 70px;
}
#weather-toast-banner {
    background: #a7aa36 url(../resources/case_file_weather.png) no-repeat 10px center;
    background-size: 39px;
}
.no-casefiles-msg {
	max-width: 600px;
	text-align: center;
	position: absolute;;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(25, 38, 44, 0.75) !important;
}

.portrait-overlay {
    display: none;
    background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.portrait-overlay .splash-content {
    font-size: 18px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.notification-msg {
	background: rgba(50, 111, 128, 0.95) url(../resources/info_icon.png) no-repeat center left 10px;
    background-size: 41px;
	position: absolute;
	top: 47px;
	left: 0px;
	z-index: 10002;
    width: 100% !important;
	max-width: 735px !important;
	height: 65px !important;
	padding: 10px 15px 10px 60px;
	color: #ffffff;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
}
.notification-msg .notification-msg-text {
    display: table;
    height: 100%;
    width: 100%;
}
.notification-msg .notification-msg-text span {
    display: table-cell;
    vertical-align: middle;
}
#completedMap.notification-msg,
#effectiveResponse.notification-msg {
    background-image: url(../resources/completed_icon.png);
}
#error.notification-msg {
    background: rgba(147, 49, 49, 0.90) url(../resources/error_info_icon.png) no-repeat center left 10px;
    background-size: 40px;
    max-width: 465px !important;
}
#alreadyFound.notification-msg {
    max-width: 380px !important;
}
#effectiveResponse.notification-msg {
    max-width: 270px !important;
}
/* - - - - - - - - - - - - - - - - GLOBAL END - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - COLOURS START - - - - - - - - - - - - - - - - */
/*White*/
.white {
    color: rgb(255, 255, 255);
}

/*Grey*/
.lightgrey {
    color: rgb(223, 223, 223) !important;
}
.lightgrey-background {
    background-color: rgb(223, 223, 223) !important;
}
.midgrey-gradient-background {
    background: rgb(206, 206, 206);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgb(206, 206, 206) 0%, rgb(171, 171, 171) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(206, 206, 206) 0%, rgb(171, 171, 171) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(206, 206, 206) 0%, rgb(171, 171, 171) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='rgb(206, 206, 206)', endColorstr='rgb(126, 126, 126)', GradientType=0);
    /* IE6-9 */
}

/*Teal*/
.darkteal {
    color: rgb(36, 66, 75) !important;
}
.darkteal-background {
    background-color: rgb(36, 66, 75) !important;
}
.darkteal-background-transparent {
    background-color: rgba(36, 66, 75, 0.9) !important;
}
.teal {
    color: rgb(50, 111, 128) !important;
}
.teal-background {
    background-color: rgb(50, 111, 128) !important;
}
.lightteal {
    color: rgb(100, 148, 159) !important;
}
.lightteal-background {
    background-color: rgb(100, 148, 159) !important;
}

/*Lime*/

.lime {
    color: rgb(206, 203, 42) !important;
    display: inline-block;
}
.lime-background {
    background-color: rgb(206, 203, 42) !important;
}
.darklime {
    color: rgb(167, 170, 54) !important;
}
.darklime-background {
    background-color: rgb(167, 170, 54) !important;
}
.half-lime-gradient-background {
    background: linear-gradient(90deg, rgb(206,203,42) 0%, rgb(191,181,40) 50%, transparent 50%) !important;
}
.lime-gradient-background {
    background: rgb(206,203,42);
    background: -moz-linear-gradient(top,  rgb(206,203,42) 0%, rgb(191,181,40) 100%) !important;
    background: -webkit-linear-gradient(top,  rgb(206,203,42) 0%,rgb(191,181,40) 100%) !important;
    background: linear-gradient(to bottom,  rgb(206,203,42) 0%,rgb(191,181,40) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecb2a', endColorstr='#bfb528',GradientType=0 ) !important;
}
/*Bronze*/
.bronze-gradient-background {
    background: rgb(173, 95, 28); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(173, 95, 28) 0%, rgb(113, 69, 33) 75%, rgb(95, 63, 33) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(173, 95, 28) 0%, rgb(113, 69, 33) 75%, rgb(95, 63, 33) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(173, 95, 28) 0%, rgb(113, 69, 33) 75%, rgb(95, 63, 33) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(173, 95, 28)', endColorstr='rgb(95, 63, 33)',GradientType=0 ); /* IE6-9 */
}
/* - - - - - - - - - - - - - - - - COLOURS END - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - BUTTONS START - - - - - - - - - - - - - - - - */
.btn-casefile {
    min-width: 121px;
    min-height: 129px;
    cursor: pointer;
    background-size: contain;
    background-image: url('../resources/btn_casefile.png');
}
.btn-casefile:hover {
    background-image: url('../resources/btn_casefile_press.png');
}
.btn-container {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.btn {
    font-weight: bold;
    font-size: 2em;
    display: block;
    margin: auto;
    padding: 12px;
    width: 100%;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    border: none !important;
    color: #24424B !important;
    background: rgb(186, 186, 186); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(186, 186, 186) 0%, rgb(125, 125, 125) 75%, rgb(106, 106, 106) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(186, 186, 186) 0%, rgb(125, 125, 125) 75%, rgb(106, 106, 106) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(186, 186, 186) 0%, rgb(125, 125, 125) 75%, rgb(106, 106, 106) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(186, 186, 186)', endColorstr='rgb(106, 106, 106)',GradientType=0 ); /* IE6-9 */
}
.btn:hover {
    background: rgb(206, 206, 206); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(206, 206, 206) 0%, rgb(145, 145, 145) 75%, rgb(126, 126, 126) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(206, 206, 206) 0%, rgb(145, 145, 145) 75%, rgb(126, 126, 126) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(206, 206, 206) 0%, rgb(145, 145, 145) 75%, rgb(126, 126, 126) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(206, 206, 206)', endColorstr='rgb(126, 126, 126)',GradientType=0 ); /* IE6-9 */
}
.btn span {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 12px 0px;
    background-repeat: no-repeat;
    background-position: right center;
    color: #24424B;
    cursor: pointer;
}
.btn-round {
    min-width: 80px;
    min-height: 80px;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    -khtml-border-radius: 100% 100% 100% 100%;
    border-radius: 100% 100% 100% 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.btn-lime {
    background: rgb(206,203,42);
    background: -moz-linear-gradient(top,  rgb(206,203,42) 0%, rgb(191,181,40) 100%);
    background: -webkit-linear-gradient(top,  rgb(206,203,42) 0%,rgb(191,181,40) 100%);
    background: linear-gradient(to bottom,  rgb(206,203,42) 0%,rgb(191,181,40) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecb2a', endColorstr='#bfb528',GradientType=0 );
}
.btn-lime:hover {
    background: rgb(191,181,40);
    background: -moz-linear-gradient(top,  rgb(191,181,40) 0%, rgb(206,203,42) 100%);
    background: -webkit-linear-gradient(top,  rgb(191,181,40) 0%,rgb(206,203,42) 100%);
    background: linear-gradient(to bottom,  rgb(191,181,40) 0%,rgb(206,203,42) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfb528', endColorstr='#cecb2a',GradientType=0 );
}
.btn-bronze {
    background: #ad5f1c;
    background: -moz-linear-gradient(top,  #ad5f1c 0%, #714521 75%, #5f3f21 100%);
    background: -webkit-linear-gradient(top,  #ad5f1c 0%,#714521 75%,#5f3f21 100%);
    background: linear-gradient(to bottom,  #ad5f1c 0%,#714521 75%,#5f3f21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad5f1c', endColorstr='#5f3f21',GradientType=0 );
}
.btn-bronze:hover {
    background: #5f3f21;
    background: -moz-linear-gradient(top,  #5f3f21 0%, #714521 25%, #ad5f1c 100%);
    background: -webkit-linear-gradient(top,  #5f3f21 0%,#714521 25%,#ad5f1c 100%);
    background: linear-gradient(to bottom,  #5f3f21 0%,#714521 25%,#ad5f1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3f21', endColorstr='#ad5f1c',GradientType=0 );
}
.btn-bronze span {
    color: #ffffff;
}
.btn-grey {
    background: #bababa;
    background: -moz-linear-gradient(top,  #bababa 0%, #7d7d7d 75%, #6a6a6a 100%);
    background: -webkit-linear-gradient(top,  #bababa 0%,#7d7d7d 75%,#6a6a6a 100%);
    background: linear-gradient(to bottom,  #bababa 0%,#7d7d7d 75%,#6a6a6a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#6a6a6a',GradientType=0 );
}
.btn-grey:hover {
    background: #6a6a6a;
    background: -moz-linear-gradient(top,  #6a6a6a 0%, #7d7d7d 25%, #bababa 100%);
    background: -webkit-linear-gradient(top,  #6a6a6a 0%,#7d7d7d 25%,#bababa 100%);
    background: linear-gradient(to bottom,  #6a6a6a 0%,#7d7d7d 25%,#bababa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#bababa',GradientType=0 );
}
.btn-play {
    padding-right: 35px !important;
    background: url('../resources/icon_play.png');
    background-repeat: no-repeat;
    background-size: 23px;
    position: relative;
    top: 3px;
}
.btn-ok {
    padding-right: 42px !important;
    background: url('../resources/icon_tick_darkteal.png');
    background-repeat: no-repeat;
    background-size: 30px;
}
.btn-replay {
    padding-right: 42px !important;
    background: url('../resources/icon_replay.png');
    background-repeat: no-repeat;
    background-size: 30px;
    position: relative;
    top: -1px;
    vertical-align: middle
}
.btn-exit {
    background: url('../resources/icon_exit.png');
    padding: 0 42px 0 0 !important;
    background-size: 25px;
}
.btn-report {
    background: url('../resources/generate_report_icon.png');
    padding: 0 42px 0 0 !important;
    background-size: 25px;
}
.btn-round-close {
    border: 2px solid rgb(50, 111, 128);
    background: rgb(36, 66, 75);
    background-image: url('../resources/icon_close.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    -webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
}
.btn-round-close:hover {
    border-color: rgb(36, 66, 75);
    background: rgb(206, 203, 42);
    background-image: url('../resources/icon_close_hover.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
}
.btn-round-next {
    min-width: 100px;
    min-height: 100px;
    border: 2px solid rgb(50, 111, 128);
    background: rgb(36, 66, 75);
    background-image: url('../resources/icon_next.png');
    background-size: 35px;
    -webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
}
.btn-round-next:hover {
    border-color: rgb(36, 66, 75);
    background: rgb(206, 203, 42);
    background-image: url('../resources/icon_next_hover.png');
}
.btn-round-prev {
    min-width: 100px;
    min-height: 100px;
    border: 2px solid rgb(50, 111, 128);
    background: rgb(36, 66, 75);
    background-image: url('../resources/icon_next.png');
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    -webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
}
.btn-round-prev:hover {
    border-color: rgb(36, 66, 75);
    background: rgb(206, 203, 42);
    background-image: url('../resources/icon_next_hover.png');
}
.btn-round-play {
    vertical-align: bottom;
    padding: 27px 0px 0px 0px !important;
    background: url('../resources/icon_play_small.png');
    background-position: top !important;
    font-size: 0.6em;
}
.icon-camera {
    background-image: url('../resources/icon_camera.png');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 33px;
    padding-left: 63px !important;
}

/* - - - - - - - - - - - - - - - - BUTTONS END - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - - - - */

@media screen and (min-width: 768px){
	.responseBtn{
		width: 49.5% !important;
	}
	.responseBtnContinue{
		width: 50%;
	}
	.responseBtnOne{
		float: left;
	}
	.responseBtnTwo{
		margin-top: 0;
		float: right;
	}

}
@media screen and (min-width: 1025px) {
    .splash {
        width: 32%;
    }
    .video-ended-overlay-container {
        width: 37% !important;
    }
    .btn-round-close,
    .btn-round-close:hover {
        background-size: 35px !important;
    }
    .responseBtn span {
        -webkit-transition: all ease-in 200ms;
        -moz-transition: all ease-in 200ms;
        -o-transition: all ease-in 200ms;
        transition: all ease-in 200ms;
    }
    body {
        background: none;
    }
}
@media only screen and (orientation: portrait) {
    .mainStage {
      display: none;
    }
    .portrait-overlay {
       display: block;
    }
}
@media only screen and (orientation: landscape) {
    .mainStage {
       display: block;
    }
}

/* --- Full screen styles -- */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.9em;
    }
    header {
        padding: 8px 12px;
    }
    .sws-logo {
        width: 120px;
    }
    .conversationBox .conversation {
        padding: 15px 25px;
        font-size: 14px;
    }
    .conversationBox::before {
        background-size: 40px;
        top: -20px;
        left: 20px;
    }
    .conversationBox .responseBtn {
        font-size: 13px;
        min-height: 65px;
        width: 49.5%;
        padding: 10px;
    }
    .responseBtn::after {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        right: 10px;
    }
    .conversationBox .responseBtnOne {
        float: left;
    }
    .conversationBox .responseBtnTwo {
        float: right;
    }
    .responseBtn span {
        padding-right: 5px;
        line-height: 16px;
    }
    .conversationBox .responseBtnContinue {
        /*padding: 0px !important;*/
        min-height: 45px !important;
    }
    .splash, .video-ended-overlay-container {
        width: 60% !important;
    }
    .splash #titleText,
    .video-ended-overlay .video-ended-overlay-title {
        font-size: 16px !important;
    }
    .splash .splash-content,
    .video-ended-overlay .video-ended-overlay-content {
        padding: 15px 20px 20px 20px;
    }
    .splash .splash-content #introductionText,
    .splash .splash-content #introductionText p {
        font-size: 14px !important;
        line-height: 18px;
        margin-bottom: 12px;
    }
    .splash #titleText img {
        max-width: 120px !important;
    }
    .copy_00 {
        font-size: 14px !important;
        line-height: inherit !important;
    }
    .btn {
        padding: 8px;
        font-size: 1.5em;
    }
    .btn-play {
        background-size: 18px;
        padding-right: 28px !important;
        top: 4px;
        vertical-align: initial !important;
    }
    .icon-camera {
        background-size: 23px;
        padding-left: 47px !important;
    }
    .btn-replay {
        top: 5px;
        padding-right: 32px !important;
        height: auto;
        background-size: 21px;
        vertical-align: initial;
    }
    .casefile-closeBtn {
        width: 45px;
        height: 45px;
    }
    .btn-round-close,
    .btn-round-close:hover {
        background-size: 18px;
    }
    .casefile-main-container ul.casefile-tabs li {
        font-size: 18px;
        padding: 12px;
    }
    .responseBtn:hover::after {
        border: 0px solid rgb(25, 38, 44);
    }
    .empty-case-file-msg {
        font-size: 21px;
        line-height: 25px;
    }
    .toast-banner {
        top: 5px;
        right: 60px;
        width: 245px !important;
        height: 55px !important;
        font-size: 10px;
        padding: 8px 10px 8px 65px;
        background-size: 45px;
    }
    #brainstorm-toast-banner,
    #contributing-toast-banner {
        background-size: 40px;
        padding-left: 60px;
    }
    #weather-toast-banner {
        background-size: 30px;
        padding-left: 50px;
    }
    .notification-msg {
        top: 33px;
        font-size: 12px;
        line-height: 14px;
        max-width: 435px !important;
        height: 44px !important;
        background-size: 27px;
        padding: 8px 8px 8px 45px;
    }
    #error.notification-msg {
        background-size: 27px;
        max-width: 290px !important;
    }
    #alreadyFound.notification-msg {
        max-width: 245px !important;
    }
    #effectiveResponse.notification-msg {
        max-width: 170px !important;
        background-size: 20px;
        height: 32px !important;
        padding-left: 40px;
    }
    .conversationBox.next .response .responseBtn {
        height: auto !important;
        font-size: 14px;
    }
    .conversationBox.next .response .responseBtn span {
        padding-top: 54%;
        background-position: left 55% top 21%;
    }
    .conversationBox.next .conversation {
        padding: 5px 25px;
    }
}

@media only screen and (max-width: 1024px) {
    .casefile-openBtn {
        background-size: 60px;
        width: 60px !important;
        height: 64px !important;
        top: 10px;
        right: 10px;
    }
    .casefile-openBtn:hover {
        background-size: 60px;
    }
}

/* - - - - - - - - - - - - - - - -  END MEDIA QUERIES - - - - - - - - - - - - - - - - */
