@import url("general.css");

/* ---------------------------------------- SPLASH SCREEN ----------------------------------- */

#splash .mainStage{
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
    background-size: cover;
}
#splash header {
	background: rgba(25, 38, 44, 0.7);
}
#splash .splash .btn {
	max-width: 80%;
}
.splash strong {
	color: #fff;
}
@media screen and (min-width: 1025px) {
	/*#splash .splash {
		width: 32%;
	}*/
}

/* ---------------------------------------- VIDEO ----------------------------------- */

#video-page .mainStage {
	background: none;
}

.video-ended-overlay .btn-container {
	margin-bottom: 15px;
}
.video-ended-overlay .btn-container .col-xs-6:first-child {
	padding-right: 7.5px;
}
.video-ended-overlay .btn-container .col-xs-6:last-child {
	padding-left: 7.5px;
}

/* ---------------------------------------- CONGRATULATIONS ----------------------------------- */

#congratulations .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
	background-size: cover;
}
@media only screen and (min-width: 1200px) {
	#congratulations .mainStage .splash {
		max-width: 35%;
	}
}

/* --------------------------- CONTRIBUTING ---------------------------- */
#contributing .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
	background-size: cover;
}
#contributing .contrib-overview {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#contributing h1 {
  font-family: 'arialblack', Arial, sans-serif;
  font-size: 55px;
}
#contributing h2 {
  font-size: 1.1em;
}
#contributing h3.contrib {
  margin: 0.3em 0 0 0;
  font-size: 24px;
  font-weight: bold;
  font-family: 'arialblack', Arial, sans-serif;
}
#contributing h4.contrib {
	font-size: 16px;
    font-weight: bold;
}
/*CLOSE BUTTON CONTAINER*/
#contributing .back-overview {
  position: absolute;
  right: 2%;
  top: 13%;
  width: 14%;
}
#contributing .back-overview span {
  display: block;
  font-size: 0.7em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
/*NAVIGATION*/
#contributing .prev { left: 2%; }
#contributing .next { right: 2%; }
#contributing .navigation {
  height: auto;
  position: absolute;
  bottom: 0;
  max-width: 14%;
  width: 100%;
}
#contributing .navigation > div {
  /*height: 100%;*/
}
#contributing .navigation .btn-round {
  margin: 24px auto 0 auto;
}
#contributing .prev h1, .next h1 {
  text-align: center;
  border-bottom: 3px solid #a7aa36;
  background-color: #24424b;
  padding: 3% 0;
}
#contributing .btn-round {
  display: block;
  width: 3.8em;
  height: 3.8em;
  min-width: 3.8em;
  min-height: 3.8em;
  background-size: inherit;

  background-size: 35% !important;
  margin: 0 auto 0 auto;
}
#contributing .btn-round:hover {
  background-size: 35%;
}

/*CONTRIBUTING CONTAINER*/
#contributing .mCSB_inside > .mCSB_container {
  margin-right: 30px !important;
}
#contributing .customScrollContent {
  padding: 1% 0 0 0;
  max-height: 100%;
  height: calc(100% - 100px);
}
#contributing .center {
  left: 50%;
  transform: translateX(-50%);
}
#contributing .contrib-container {
  text-align: center;
}
#contributing .contrib-overview .contrib-container {
  position: relative;
  overflow: hidden;
  width: 20%;
  text-transform: uppercase;
  height: 100%;
  min-height: 12.5em;
  border-right: 3px solid rgb(167, 170, 54);
  padding-right: 0px;
  padding-left: 0px;
  padding: 0 0 0 0;
}
#contributing .contrib-overview .contrib-container:last-child {
  border: none;
  width: calc(20% - 3px);
}
#contributing h1.bottomline {
  padding: 0.1em 0;
}
#contributing .bottomline {
  border-bottom: 3px solid rgb(167, 170, 54);
}
#contributing h4.bottomline {
  padding-bottom: 0.6em;
}
#contributing .correctCount {
  font-weight: normal !important;;
  display: none;
  text-transform: none;
  font-size: 24px !important;
}
#contributing .correctCount span {
  color: rgb(36, 66, 75) !important;
  font-size: 24px;
  font-weight: bold;
  font-family: 'arialblack', Arial, sans-serif;
}
#contributing .btn-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  width: 100%
}
#contributing .center-block {
	float: none;
}
/*SUBMIT BUTTON*/
#contributing .btn-submit {
  font-size: 28px;
  margin: 0.5em auto 0 auto;
  max-width: 370px;
}
#contributing .btn-play {
  padding: 0 35px 0 0 !important;
  background-size: 18%;
  top: 0;
}

/*CONTRIBUTING CONTAINER FACTORS*/
#contributing .contrib-container {
  position: absolute;
  height: calc(100% - 40px);
  bottom: 0;
}
#contributing .contrib-container div.factor {
  cursor: pointer;
  position: relative;
  padding: 0;
  border: 2px solid #525252;
  border-radius: 5px;
  margin-bottom: 0.25em;
  font-size: 0.8em;
  height: 6em;
  color: #525252 !important;
  font-weight: bold;
}
#contributing .contrib-container div.factor:hover {
	background: rgb(206,203,42);
	background: -moz-linear-gradient(top, rgb(206,203,42) 0%, rgb(191,181,40) 100%);
	background: -webkit-linear-gradient(top, rgb(206,203,42) 0%,rgb(191,181,40) 100%);
	background: linear-gradient(to bottom, rgb(206,203,42) 0%,rgb(191,181,40) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecb2a', endColorstr='#bfb528',GradientType=0 );
}
#contributing .contrib-container div.factor:first-child {
  margin-top: 0.6em;
}
#contributing .contrib-container div.factor:last-child {
  margin-bottom: 3em;
}
#contributing h1.factor-heading {
  margin-top: 1%;
}
#contributing h2.factor-heading {
  padding-bottom: 1.5%;
  margin: 0 -15px 0 -15px;
  font-size: 1.4em;
  font-weight: bold;
}

/*FACTORS*/
#contributing .factor-text {
  float: left;
  width: 100%;
  max-width: 60%;
  margin-left: 2.5%;
  height: 100%;
  display: table;
}
#contributing .factor-text span {
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
  color: #525252;
}
#contributing img.factor-state-icon {
  max-width: 1.7em;
  max-height: 1.7em;
  margin: 0.4em 0 auto;
}
#contributing .factor-state {
  display: table;
  float: right;
  width: 100%;
  height: 100%;
  max-width: 35%;
  border-left: 2px solid #525252;
}
#contributing .factor-state > div {
  display: table-cell;
  vertical-align: middle;
}
#contributing .factor-state-text {
  display: table;
  margin: auto;
  width: 95%;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
  height: 40%;
}
#contributing .factor-state-text span {
  vertical-align: middle;
  height: 100%;
  font-size: 0.9em;
  display: table-cell;
  color: #525252;
}

#contributing .btn-submit {
  display: none;
}
#contributing .summary {
  display: none;
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(25, 38, 44,0.9);
}
#contributing .row .sum {
  background-color: white;
  text-align: center;
}
#contributing .splash .btn-container {
	position: relative !important;
	margin-bottom: 0px !important;
}

#contributing .splash .btn-container .btn {
	max-width: 70%;
	margin: 0 auto;
	float: none;
	font-size: 30px;
}
#contributing .splash .btn-container .btn span {
	height: auto !important;
	top: 0px;
	padding: 0px;
	color: #24424B !important;
	vertical-align: middle !important;
}
#contributing .splash .btn-container .btn.half-width {
	width: 49%;
}

@media screen and (min-width: 768px){
  #contributing .contrib-container {
    height: 19.5em;
    height: calc(100% - 50px);
	bottom: 0;
  }
  #contributing img.factor-state-icon {
    max-width: 35px;
    max-height: 35px;
  }
  #contributing .next { right: 3%; }
  #contributing .prev { left: 3%; }
  #contributing .navigation {
    max-height: 6.5em;
    height: 90%;
    max-width: 12%;
  }
  #contributing .contrib-container div.factor {
    margin-bottom: 0.5em;
  }
  #contributing .factor-text {
    max-width: 70%;
  }
  #contributing .factor-state {
    max-width: 25%;
  }

}

@media screen and (max-width: 767px) {
	#contributing .contrib-overview .contrib-container {
      height: 12.5em;
    }
}

@media screen and (min-width: 1025px) {
	#contributing .contrib-overview .contrib-container {
	  height: 17.5em;
	}
	#contributing .navigation {
      max-height: 10em;
  	}
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
	.btn-replay {
		background-size: 25px;
	}
}



/* --------------------------- END CONTRIBUTING ---------------------------- */

/* --------------------------- TIMELINE ---------------------------- */

#timeline .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
	background-size: cover;

}

.timeline-overlay,
.overlay {
	background: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
	display: none;
}

.timeline-selection-close {
	position: absolute;
	top: -15px;
	right: 0;
	border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-ms-border-radius: 100% 100% 100% 100%;
	width: 60px;
	height: 60px;
	color: #fff;
	line-height: 3.5;
	text-align: center;
	cursor: pointer;
	background-size: 30px !important;
}

.timeline-selection-close:hover {
	background-size: 30px !important;
}

.timeline-container {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 42px;
	width: 100%;
	max-width: 1920px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.timeline-container .row {
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

#driver-struck:before {
	content: '';
	position: absolute;
	top: 47%;
	left: -155%;
	background: url(../resources/timeline_bg_arrow_2.png) no-repeat top center;
	width: 279px;
	height: 67px;
}

#driver-struck:after {
	content: '';
	position: absolute;
	top: -5%;
	right: -185%;
	background: url(../resources/timeline_bg_arrow_1.png) no-repeat top center;
	width: 364px;
	height: 93px;
}

.timeline-container #driver-struck-container.row {
	border: none;
	position: relative;
}

.timeline-container #driver-struck {
	background: rgba(25, 38, 44,1);
	border: 6px solid #AAAAAA;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	float: none;
	text-align: center;
	padding: 20px;
}


.timeline-container #driver-struck h3,
.timeline-container #driver-struck p {
	color: #AAAAAA;
}

.timeline-container #driver-struck h3 {
	font-weight: bold;
	font-family: 'arialblack', Arial, sans-serif;
}

.timeline-container #driver-struck p  {
	margin-bottom: 0px;
}

.timeline-container #third-timeline-row.row {
	width: 80% !important;
	margin: 0 auto;
}

.timeline-container .row .timeline-event-boxes {
	height: 180px;
	float: left;
	width: 20%;
	padding: 0 10px;
	display: table;
	position: relative;
	border-top: 3px solid #aaa;
    border-bottom: 3px solid #aaa;
	border-right: 3px solid #aaa;
	background: rgba(25, 38, 44,1);
}

.timeline-container .row .timeline-event-boxes:first-child {
	border-left: 3px solid #aaa;
	border-radius: 15px 0 0 15px;
	-webkit-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	-ms-border-radius: 15px 0 0 15px;
}


.timeline-container #first-timeline-row .timeline-event-boxes:first-child {
	border-width: 6px;
}

.timeline-container #third-timeline-row.row .timeline-event-boxes[data='eight'] {
	border-right-width: 6px;
}

.timeline-container .row .timeline-event-boxes:last-child {
	border-top: 3px solid #aaa;
    border-bottom: 3px solid #aaa;
    border-right: 3px solid #aaa;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-ms-border-radius: 0 15px 15px 0;
}

.timeline-container .row .timeline-event-boxes:after {
	height: 20px;
	width: 20px;
	position: absolute;
	content: '';
	background: rgba(25, 38, 44,1);
	border: 3px solid #aaa;
	border-top-width: 0px;
	border-left-width: 0px;
	transform: rotate(-45deg);
	right: -12px;
	top: calc(50% - 10px);
	z-index: 1;
}

.timeline-container .row .timeline-event-boxes:last-child:after {
	display: none;
}

.timeline-container #first-timeline-row .timeline-event-boxes:first-child:after,
.timeline-container #third-timeline-row.row .timeline-event-boxes[data='eight']:after {
	right: -14px;
	border-right-width: 6px;
	border-bottom-width: 6px;
}

.timeline-container .row .timeline-event-boxes.active-event:after {
	background: rgb(206,203,42);
}

.timeline-container .row .timeline-event-boxes.disabled {
	pointer-events: none;
	color: #bbb;
}

.timeline-container #third-timeline-row.row .timeline-event-boxes {
	width: 25%;
}

.timeline-container #third-timeline-row.row .timeline-event-boxes.disabled {
	border-width: 6px;
}

.timeline-container .row .timeline-event-boxes p {
	display: table-cell;
	vertical-align: middle;
	padding: 0 28px;
}

.timeline-container .row .timeline-event-boxes.active-event {
	background: rgb(206,203,42);
	cursor: pointer;
	padding: 0 40px;
}

.timeline-container .row:last-child .timeline-event-boxes {
	width: 25%;
}

.timeline-container .row .timeline-event-boxes .add-event {
	display: none;
	height: 100%;
	width: 100%;
}

.timeline-container .row .timeline-event-boxes .add-event h3 {
	display: table-cell;
	vertical-align: middle;
	padding-left: 60px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
}

.timeline-container .row .timeline-event-boxes.active-event .add-event h3 {
	background: url(../resources/add_event_icon.png) no-repeat center left;
}

.timeline-event-selection {
	width: 100% !important;
	height: 150px !important;
	background: #326F80;
	border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 15px;
	z-index: 10001;
}

.timeline-event-selection .row {
	border: 4px solid #fff;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	margin: 0;
}

.timeline-event-selection .row .timeline-event-boxes {
	display: table;
	text-align: center;
	color: #fff;
	padding: 0 10px;
	height: 110px;
	width: 20%;
	float: left;
	border-right: 4px solid #fff;
	cursor: pointer;
}

.timeline-event-selection .row .timeline-event-boxes:last-child {
	border: none;
}

.timeline-event-selection .row .timeline-event-boxes p {
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 24px;
    padding: 0 20px;
}

@media screen and (min-width: 1025px) {
	#timeline-correct-order {
	    width: 50%;
	}
}


.timeline-event-selection,
.timeline-event-options,
.general-overlay,
.general-overlay #create-timeline-overlay,
.general-overlay #timeline-correct-order,
.general-overlay #timeline-conclusion,
.general-overlay #well-done,
.general-overlay #timeline-intro-overlay,
.general-overlay #analysis-intro-overlay,
.general-overlay #complete-analysis-overlay,
.general-overlay #incomplete-analysis-overlay,
.general-overlay #zero-multiple-incomplete-analysis-overlay,
.general-overlay #first-multiple-incomplete-analysis-overlay,
.general-overlay #second-multiple-incomplete-analysis-overlay,
.general-overlay #third-multiple-incomplete-analysis-overlay,
.general-overlay #fourth-multiple-incomplete-analysis-overlay,
.general-overlay #fifth-multiple-incomplete-analysis-overlay,
.general-overlay #completed-icam-analysis-overlay,
#submit-btn-container {
	display: none;
}

.timeline-event-boxes.event-added {
	text-align: center;
	cursor: pointer;
}

.timeline-event-boxes.event-added p {
	color: #CECC2A;
	font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}

#submit-btn-container {
	max-width: 480px;
	margin-top: 20px;
}

#submit-btn-container span {
	padding: 0px;
	top: 0px;
}

.timeline-container .row .timeline-event-boxes.active-event .add-event {
	display: table;
}

.general-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(25, 38, 44,0.9);
	width: 100%;
	height: 100%;
	z-index: 15000;
}

.general-overlay .splash .btn {
	max-width: 60%;
	width: 100%;
}

.general-overlay .splash .btn span {
	padding: 0;
	top: 0;
}

/* --------------------------- END TIMELINE ---------------------------- */

/* --------------------------- INCIDENT ---------------------------- */
#incident .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
	background-size: cover;
}
#incident .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#incident .definition {
	background: #DFDFDE;
	padding: 40px;
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
	border-bottom: 5px solid #9B9B9B;
	position: relative;
}
#incident .definition h2 {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 20px;
	color: #A7A836;
}
#incident .definition p {
	font-size: 26px;
	line-height: 35px;
    margin-bottom: 30px;
	color: #525252;
}
#incident .definition p:last-of-type {
	margin-bottom: 0px;
}
#incident .btn-container .btn {
	max-width: 400px;
	font-size: 36px;
}
#incident .btn-container .btn span {
	padding: 0px;
	top: 0;
	font-size: 36px;
}
#incident .definition-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
}
#incident .definition-btn button {
	width: 130px;
	height: 130px;
	background-size: 45px;
}
#incident .definition-btn button span {
	position: absolute;
    left: 0;
    width: 100%;
    font-weight: bold;
    line-height: 21px;
    bottom: -50px;
}
#incident .definition-btn-next {
	right: -19%;
}
#incident .definition-btn-prev {
	left: -19%;
}
#incident .definition-btn-prev button span {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	bottom: -55px;
}
#incident .summary {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(25, 38, 44,0.9);
	width: 100%;
	height: 100%;
	z-index: 15000;
}
/* --------------------------- END INCIDENT ---------------------------- */

/* --------------------------- ICAM ANALYSIS ---------------------------- */

#analysis .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
	background-size: cover;
}

#analysis .incomplete-analysis-overlay {
	width: 70%;
}

#analysis .incomplete-analysis-overlay #introductionText p {
	font-size: 22px;
}

#analysis .incomplete-analysis-overlay .correct-order-container {
	margin: 35px 0;
	float: left;
	width: 100%;
	display: block;
}

#analysis .incomplete-analysis-overlay .correct-order h4 {
	text-transform: uppercase;
	color: #9B9B9B;
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: bold;
}

#analysis .incomplete-analysis-overlay .correct-order .correct-order-content {
	border: 3px solid #737373;
	padding: 15px;
	min-height: 140px;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	display: table;
	width: 100%;
}

#analysis .incomplete-analysis-overlay .correct-order-content p {
	color: #ffffff;
    font-size: 17px !important;
    line-height: 22px;
    font-weight: bold;
	display: table-cell;
	vertical-align: middle;
}

#analysis .incomplete-analysis-overlay .btn-container {
	float: none;
	max-width: 565px;
	margin: 20px auto 0 auto;
	display: inline-block;
}

#analysis .btn-container .col-xs-6 {
	padding: 0;
	width: 49%;
}

#analysis .btn-container .col-xs-6 .btn {
	max-width: 100%;
}

#analysis .btn-container .col-xs-6 .btn span {
	font-size: 24px;
}

.icam-analysis-container {
	padding: 0 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 1536px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.icam-analysis-container .row {
	margin-top: 55px;
}

.icam-analysis-container .category-content-home {
	background: rgba(186, 186, 186, 0.25);
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	max-width: 22.679%;
	height: 180px;
	max-height: 180px;
	margin: 0 13px;
	padding: 0px;
	position: relative;
}

.icam-analysis-container .category-content-home:nth-child(odd):after {
	content: '';
	position: absolute;
	bottom: -55%;
	right: 0;
	background: url(../resources/content_arrow) no-repeat;
	width: 42px;
	height: 74px;
	z-index: 1;
}

.icam-analysis-container .category-content-home:nth-child(even):after {
	content: '';
	position: absolute;
	bottom: -55%;
	left: 0;
	background: url(../resources/content_arrow_flipped) no-repeat;
	width: 36px;
	height: 81px;
	z-index: 1;
}

.icam-analysis-container .category-content-home:first-child {
	margin-left: 30px;
}

.icam-analysis-container .category-content-home:first-child:after {
	right: 17%;
}

.icam-analysis-container .category-content-home:nth-child(2) {
	top: -25px;
}

.icam-analysis-container .category-content-home:nth-child(2):after {
	left: 45%;
	bottom: -65%;
}

.icam-analysis-container .category-content-home:nth-child(3) {
	top: -10px;
}

.icam-analysis-container .category-content-home:nth-child(3):after {
	right: 40%;
	bottom: -60%;
}

.icam-analysis-container .category-content-home:last-child:after {
	left: 35%;
	bottom: -55%;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
}

.icam-analysis-container .category-content {
	background: #bababa;
	background: -moz-linear-gradient(top,  #bababa 0%, #7d7d7d 75%, #6a6a6a 100%);
	background: -webkit-linear-gradient(top,  #bababa 0%,#7d7d7d 75%,#6a6a6a 100%);
	background: linear-gradient(to bottom,  #bababa 0%,#7d7d7d 75%,#6a6a6a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#6a6a6a',GradientType=0 );
	font-weight: bold;
	font-size: 18px;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	padding: 10px 30px;
	width: 100%;
	height: 180px;
	max-height: 180px;
	cursor: pointer;
	display: table;
	z-index: 1;
}

.icam-analysis-container .category-content p {
	margin: 0;
	display: table-cell;
  	vertical-align: middle;
	font-size: 24px;
	line-height: 26px;
	color: #000000;
}

.icam-analysis-container .analysis-category-area {
	background: url(../resources/analysis_category_area_bg.png) no-repeat;
	background-size: 100%;
	min-height: 267px;
	padding: 15px;
	margin-right: 4px;
	width: 24.75%;
}

.icam-analysis-container .analysis-category-area:last-child {
	margin: 0;
}

.icam-analysis-container .analysis-category-area .category-content-container {
	background: rgba(186, 186, 186, 0.25);
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	height: 180px;
	width: 100%;
    max-width: 337px;
	margin: 0 auto 8px auto;
}

.icam-analysis-container .analysis-category-area h2 {
	text-transform: uppercase;
	color: #A7A836;
	margin: 0;
	font-size: 26px;
	font-weight: bold;
	line-height: 25px;
	padding: 0 40px;
}

.analysis-submit-btn .btn-submit {
	pointer-events: none;
	opacity: 0.4;
}

#analysis .analysis-submit-btn {
	max-width: 400px;
	float: none;
	margin-top: 30px;
}

#analysis .btn-container .btn span {
	padding: 0px;
	top: 0;
}

.btn-review-chart {
	background: url(../resources/icam_chart.png) no-repeat top center;
	background-size: 120px;
	position: absolute;
	width: 120px !important;
	height: 109px !important;
	top: 14px;
	right: 115px;
	z-index: 10000;
	text-align: center;
	padding: 10px 0 10px 0;
	cursor: pointer;
	font-size: 0px;
	-webkit-transition: all ease-in 100ms;
	-moz-transition: all ease-in 100ms;
	-o-transition: all ease-in 100ms;
	transition: all ease-in 100ms;
}

.btn-review-chart:hover {
	background: url(../resources/icam_chart_hover.png) no-repeat top center;
	background-size: 120px;
}

.review-chart {
  overflow-y: auto;
  background-color: rgba(25, 38, 44,0.9);
  position: absolute;
  padding: 0;
  top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  display: none;
	z-index: 15000;
}
.review-chart .column {
  padding-right: 0;
}
.review-chart .incident {
  padding-right: 15px;
}
.chart-contents {
	background-color: #DFDFDE;
	padding: 25px 25px 0 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: 70%;
}
.chart-contents h1 {
	color: #3E8CA0;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: 2px solid #737373;
	width: 100%;
}
.chart-table {
  text-align: center;
}
.chart-table h3 {
  text-transform: uppercase;
  color: #525252;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}
.chart-table > div {
  width: 20%;
}
.analysis-factor {
	border: 2px solid #737373;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	display: table;
	width: 100%;
	padding: 8px;
}
.analysis-factor p {
  display: table-cell;
  vertical-align: middle;
  margin: 2.55% auto;
  width: 95%;
  line-height: 1.05em;
  font-size: 1.3em;
  font-weight: bold;
  color: #19262C;
}
.line-one {
  min-height: 130px;
}
.line-two {
  margin-top: -2px;
  min-height: 150px;
}
.line-three {
  margin-top: -2px;
  min-height: 120px;
}
.line-four {
  margin-top: -2px;
  min-height: 90px;
}
.line-five {
  margin-top: -2px;
  min-height: 90px;
}
.line-six {
  margin-top: -2px;
  min-height: 90px;
}
.line-seven {
  margin-top: -2px;
  margin-bottom: 25px;
}
.line-one p,
.line-two p,
.line-three p,
.line-four p,
.line-five p,
.line-six p     {
  display: none;
}
.chart-close {
	border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -ms-border-radius: 100% 100% 100% 100%;
	position: absolute;
	right: -8%;
	top: 15%;
	width: 80px;
	height: 80px;
}
.chart-close span {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
	position: absolute;;
	top: 90px;
	left: 0px;
}

/* --------------------------- END ICAM ANALYSIS ---------------------------- */

/* --------------------------- RECOMMENDATIONS ---------------------------- */

#recommendations .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_room_blur.jpg) no-repeat center top;
	background-size: cover;
}

#recommendations .summary {
	display: none;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(25, 38, 44,0.9);
}
#recommendations .summary .result-btn {
	max-width: 300px;
    font-size: 25px;
}
#recommendations .continue-btn {
	max-width: 300px;
    font-size: 25px;
}
#recommendations .continue-btn span {
	padding: 0;
	vertical-align: text-bottom;
}
#recommendations .summary .result-btn span {
	padding: 0px;
	top: 0;
}
#recommendations .container {
	height: 100%;
}
#recommendations .row {
	height: 100%;
}
#recommendations .row .sum {
  background-color: white;
  text-align: center;
}
#recommendations .factor-container {
  text-align: center;
  background-color: #dfdfde;
  color: #24424b;
  position: relative;
  top: 30px;
  padding: 40px 25px;
  height: 100%;
  max-width: 1170px;
}
#recommendations .factor-content-container {
	float: left;
	width: 100%;
	max-height: 100%;
    height: calc(100% - 205px);
}
#recommendations h4 {
	margin-bottom: 10px;
	font-size: 24px;
}
#recommendations .factor-content-container .factor,
#recommendations .linked-boxes {
	cursor: pointer;
    position: relative;
    padding: 0;
    border: 2px solid #525252;
    border-radius: 5px;
    margin-bottom: 0.25em;
    font-size: 0.8em;
    height: 6.2em;
    color: #525252 !important;
    font-weight: bold;
	width: 100%;
}
#recommendations .factor-content-container .factor:hover {
	background: rgb(206,203,42);
	background: -moz-linear-gradient(top, rgb(206,203,42) 0%, rgb(191,181,40) 100%);
	background: -webkit-linear-gradient(top, rgb(206,203,42) 0%,rgb(191,181,40) 100%);
	background: linear-gradient(to bottom, rgb(206,203,42) 0%,rgb(191,181,40) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecb2a', endColorstr='#bfb528',GradientType=0 );
}
#recommendations .linked-boxes {
	height: auto;
	padding: 20px;
	display: table;
	width: 100%;
	cursor: default;
}
#recommendations .linked-boxes span {
	display: table-cell;
	vertical-align: middle;
	line-height: 1em;
	color: #525252;
}
#recommendations #org-factors-container {
	margin-bottom: 26.5px;
	display: block;
	float: left;
}
#recommendations .contrib {
  text-transform: uppercase;
  text-align: center;
}
#recommendations h2.contrib {
  font-weight: bold;
}
#recommendations .btn-round {
  background-color: #19262C;
  border: 2px solid #64949f;
  border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  max-height: 80px;
  max-width: 80px;
  height: 80px;
  width: 80px;
  max-width: 80px;
  margin: auto;
  display: block;
}
#recommendations .zmdi {
  color: white;
}
#recommendations .prev {
  left: 5%;
}
#recommendations .next {
  right: 5%;
}
#recommendations .prev h1, .next h1 {
  border-bottom: 3px solid #a7aa36;
  background-color: #24424b;
  margin-bottom: 0;
}
#recommendations h1.jumbo-green {
  text-align: center;
  color: #a7aa36;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 25px;
  font-family: 'arialblack', Arial, sans-serif;
}
#recommendations h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 30px;
}
#recommendations .navigation {
  position: absolute;
  bottom: 0;
  max-width: 100px;
  width: 100%;
}
#recommendations .navigation-background {
  background-color: #24424b;
}
#recommendations .back-overview {
  position: absolute;
  right: 5%;
  top: 100px;
}
#recommendations .back-overview span {
  display: block;
  font-size: 0.7em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
#recommendations .factor-state {
  	display: table;
	float: right;
	width: 100%;
	height: 100%;
	max-width: 30%;
	border-left: 2px solid #525252;
}
#recommendations .factor-state > div {
    display: table-cell;
    vertical-align: middle;
}
#recommendations .factor-text {
	float: left;
	width: 100%;
	max-width: 65%;
	margin-left: 2.5%;
	height: 100%;
	display: table;
}
#recommendations .factor-text span {
	display: table-cell;
	vertical-align: middle;
	line-height: 1em;
	color: #525252;
}
#recommendations .factor-state-icon {
  max-width: 35px;
  max-height: 35px;
  width: 100%;
  height: 100%;
}
#recommendations .factor-state-text {
	margin: auto;
	width: 95%;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1em;
	padding-top: 10px;
	color: #525252;
}
#recommendations .factor-state-text span {
    vertical-align: middle;
    height: 100%;
    font-size: 0.9em;
    color: #525252;
}
#recommendations .btn-submit {
	position: absolute;
    bottom: 15px;
    right: 15px;
    max-width: 320px;
}
#recommendations .btn-submit span {
	padding: 0;
	top: 0;
}
#recommendations .mCSB_inside > .mCSB_container {
	margin-right: 30px !important;
}

/* --------------------------- END RECOMMENDATIONS ---------------------------- */

@media only screen and (max-width: 568px) {
	.icam-analysis-container .analysis-category-area {
		width: 126px !important;
	}
	.icam-analysis-container .analysis-category-area .category-content-container {
		width: 110px !important;
		height: 50px !important;
		margin-bottom: 5px !important;
	}
	.icam-analysis-container .category-content-home {
		width: 110px !important;
		height: 50px !important;
	}
	.icam-analysis-container .category-content {
		height: 50px !important;
	}
	.icam-analysis-container .row {
		margin-top: 20px !important;
	}
	#analysis .incomplete-analysis-overlay .btn-container {
		margin-top: 5px !important;
	}
	#analysis .incomplete-analysis-overlay .correct-order .correct-order-content {
		min-height: 80px !important;
	}
	#analysis .general-overlay .incomplete-analysis-overlay .correct-order-content p {
	    font-size: 9px !important;
	    line-height: 11px !important;
	}
	#analysis .incomplete-analysis-overlay .correct-order h4 {
    	font-size: 11px !important;
    	line-height: 12px !important;
	}
	.splash-content {
		padding: 10px 20px 10px 20px !important;
	}
	.icam-analysis-container .category-content p {
	    font-size: 8px !important;
	    line-height: 8px !important;
	}
}

@media only screen and (max-width: 767px) {
	.timeline-container .row .timeline-event-boxes {
		height: 85px;
	}
	.timeline-event-boxes.event-added p {
		font-size: 12px;
		line-height: 14px;
	}
	.timeline-container {
		padding: 0 15px;
		top: 55%;
	}
	.timeline-container #driver-struck {
		padding: 13px;
		border-width: 3px;
	}
	.timeline-container .row {
		margin-bottom: 8px;
	}
	.timeline-container #driver-struck h3 {
		font-size: 16px;
	}
	.timeline-container #driver-struck p {
		font-size: 14px;
	}
	.timeline-container .row .timeline-event-boxes .add-event h3 {
		font-size: 10px;
		padding-left: 34px;
		background-size: 25px !important;
	}
	#driver-struck:after {
	    top: -5%;
	    right: -135%;
	    background-size: 198px;
	    width: 198px;
	    height: 51px;
	}
	#driver-struck:before {
	    top: 49%;
	    left: -192px;
	    width: 180px;
	    height: 43px;
	    background-size: 160px;
	}
	.timeline-event-selection {
		height: 105px !important;
		padding: 10px;
	}
	.timeline-event-selection .row .timeline-event-boxes p {
		font-size: 12px;
		line-height: 14px;
		padding: 0px;
	}
	.timeline-event-selection .row .timeline-event-boxes {
		height: 77px;
	}
	#submit-btn-container {
		max-width: 160px;
		margin-top: 8px;
	}
	#submit-btn-container button,
	#submit-btn-container span {
		font-size: 16px;
		background-size: 14px;
	}
	#submit-btn-container span {
    	padding-right: 22px !important;
	}
	#incident .definition h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	#incident .definition p {
		font-size: 12px;
    	line-height: 18px;
		margin-bottom: 15px;
	}
	.icam-analysis-container {
		max-width: 667px;
		width: 100%;
		top: 55%;
	}
	.icam-analysis-container .analysis-category-area {
		width: 151px;
		height: 110px;
		padding: 7px;
		min-height: 0px;
	}
	.icam-analysis-container .analysis-category-area .category-content-container {
		height: 60px;
		width: 135px;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
	}
	.icam-analysis-container .category-content-home {
		height: 60px;
		margin: 0 5px;
		width: 135px;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
	}
	.icam-analysis-container .category-content-home:first-child {
	    margin-left: 24px;
	}
	.icam-analysis-container .category-content {
		height: 60px;
		padding: 5px;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
	}
	.icam-analysis-container .category-content p {
		font-size: 8px;
		line-height: 10px;
	}
	.icam-analysis-container .analysis-category-area h2 {
		font-size: 10px;
		line-height: 12px;
		padding: 0 5px;
	}
	#analysis .analysis-submit-btn {
		max-width: 250px;
		margin-top: 10px;
	}

	.icam-analysis-container .category-content-home:nth-child(2):after {
		bottom: -140%;
	}
	.icam-analysis-container .category-content-home:nth-child(3):after {
		bottom: -115%;
	}
	.icam-analysis-container .category-content-home:last-child:after {
		bottom: -104%;
	}
	#recommendations .btn-submit {
		max-width: 121px;
		bottom: 5px;
		right: 5px;
		font-size: 21px;
	}
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
	.timeline-container .row .timeline-event-boxes {
		height: 115px;
	}
	.timeline-event-boxes.event-added p {
		font-size: 16px;
		line-height: 18px;
	}
	.timeline-container {
		padding: 0 15px;
		top: 50%;
	}
	.timeline-container #driver-struck {
		padding: 25px;
		border-width: 3px;
	}
	.timeline-container .row {
		margin-bottom: 10px;
	}
	.timeline-container #driver-struck h3 {
		font-size: 23px;
	}
	.timeline-container #driver-struck p {
		font-size: 18px;
	}
	.timeline-container .row .timeline-event-boxes .add-event h3 {
		font-size: 18px;
    	padding-left: 47px;
    	background-size: 35px !important
	}
	#driver-struck:before {
	    top: 49%;
	    left: -265px;
	    width: 180px;
	    height: 43px;
	    background-size: 100%;
	}
	#driver-struck:after {
	    top: 15%;
	    right: -115%;
	    background-size: 100%;
	    width: 225px;
	    height: 62px;
	}
	.timeline-event-selection {
	    height: 140px !important;
	    padding: 10px;
	}
	.timeline-event-selection .row .timeline-event-boxes p {
		font-size: 16px;
		line-height: 18px;
		padding: 0px;
	}
	#submit-btn-container {
		max-width: 240px;
		margin-top: 8px;
	}
	#submit-btn-container button,
	#submit-btn-container span {
		font-size: 24px;
		background-size: 20px;
    	padding-right: 22px !important;
	}
	#submit-btn-container span {
    	padding-right: 30px !important;
	}
	#incident .definition h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	#incident .definition p {
		font-size: 18px;
    	line-height: 28px;
		margin-bottom: 15px;
	}
	.icam-analysis-container {
		max-width: 767px;
		width: 100%;
		top: 55%;
	}
	.icam-analysis-container .analysis-category-area {
		width: 24.5%;
		height: 130px;
		padding: 10px;
		min-height: 0px;
	}
	.icam-analysis-container .row {
		margin-top: 20px;
	}
	.icam-analysis-container .category-content-home:first-child {
		margin-left: 24px;
	}
	.icam-analysis-container .analysis-category-area .category-content-container {
		height: 75px;
		width: 155px;
		margin-bottom: 5px;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
	}
	.icam-analysis-container .category-content-home {
		height: 75px;
		margin: 0 8px;
		width: 155px;
		max-width: none;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
	}
	.icam-analysis-container .category-content {
		height: 75px;
		width: 155px;
		padding: 5px;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
	}
	.icam-analysis-container .category-content p {
		font-size: 10px;
		line-height: 12px;
	}
	.icam-analysis-container .analysis-category-area h2 {
		font-size: 13px;
		line-height: 14px;
		padding: 0 5px;
	}
	#analysis .analysis-submit-btn {
	    margin-top: 25px;
		max-width: 250px;
	}
	.icam-analysis-container .category-content-home:first-child:after {
	    bottom: -62% !important;
	}
	.icam-analysis-container .category-content-home:nth-child(2):after {
	    bottom: -90%;
	}
	.icam-analysis-container .category-content-home:nth-child(3):after {
		bottom: -75% !important;
	}
	.icam-analysis-container .category-content-home:last-child:after {
		bottom: -65%;
	}
	#recommendations .btn-submit {
		max-width: 150px;
		bottom: 5px;
		right: 5px;
		font-size: 21px;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1550px) {
	.icam-analysis-container .analysis-category-area {
		width: 240px;
		min-height: auto;
	}
	.icam-analysis-container .category-content {
		height: 100px;
		padding: 5px;
	}
	.icam-analysis-container .category-content p {
		font-size: 13px;
    	line-height: 15px;
	}
	.icam-analysis-container .analysis-category-area .category-content-container {
		height: 100px;
	}
	.icam-analysis-container .analysis-category-area h2 {
		font-size: 16px;
		line-height: 20px;
	}
	.icam-analysis-container .category-content-home {
		height: 100px;
		width: 210px;
	}
	.icam-analysis-container .row {
		margin-top: 20px;
	}
	.icam-analysis-container {
		max-width: 1023px;
	}
	#analysis .general-overlay .splash {
		width: 56%;
	}
	#analysis .general-overlay .splash.incomplete-analysis-overlay {
		width: 90%;
	}
	#analysis .incomplete-analysis-overlay .correct-order h4 {
		font-size: 21px;
		line-height: 24px;
	}
	.analysis-submit-btn .btn-submit {
		font-size: 24px;
		max-width: 300px;
	}
}
@media only screen and (max-width: 1024px) {
	.contrib-overview {
		width: 90%;
	}
	#contributing h1 {
		font-size: 38px;
	}
	#contributing h3.contrib {
		font-size: 18px;
	}
	#contributing h4.contrib {
		font-size: 12px;
	}
	#contributing .correctCount {
		font-size: 14px !important;
	}
	#contributing .correctCount span {
		font-size: 16px;
	}
	#contributing .btn-container {
		margin-bottom: 10px;
	}
	#contributing .btn-round {
		width: 45px;
		height: 45px;
		min-height: 45px;
		min-width: 45px;
	}
	#contributing .navigation .btn-round {
		margin: 15px auto 15px auto;
	}
	#contributing .prev {
		left: 1.5%;
	}
	#contributing .next {
		right: 1.5%;
	}
	#contributing .contrib-container div.factor {
		height: 4em;
	}
	#contributing .back-overview span,
	#contributing .factor-state-text span {
		font-size: 10px;
	}
	#contributing .factor-text span {
		font-size: 13px;
	}
	#contributing .btn-submit {
		font-size: 16px;
	}
	#contributing .btn-play {
		padding: 0 30px 0 0 !important;
	}
	#contributing .splash .btn-container .btn {
		font-size: 22px;
	}
	#contributing .contrib-container div.factor:last-child {
		margin-bottom: 0px;
	}
	.timeline-container #third-timeline-row.row {
		width: 100% !important;
	}
	.timeline-container .row .timeline-event-boxes p {
		padding: 0 8px;
	}
	.timeline-container #third-timeline-row.row .timeline-event-boxes.disabled {
		border-width: 3px;
	}
	.timeline-container #third-timeline-row.row .timeline-event-boxes[data='eight'] {
		border-right-width: 3px;
	}
	.timeline-container #first-timeline-row .timeline-event-boxes:first-child:after,
	.timeline-container #third-timeline-row.row .timeline-event-boxes[data='eight']:after {
		right: -8px;
    	border-right-width: 3px;
    	border-bottom-width: 3px;
	}
	.timeline-container .row .timeline-event-boxes.active-event {
		padding: 0 15px;
	}
	.timeline-container #first-timeline-row {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	.timeline-container #first-timeline-row .timeline-event-boxes:first-child {
		border-width: 3px;
	}
	.timeline-selection-close {
		width: 40px;
		height: 40px;
		background-size: 18px !important;
		top: -5px;
	}
	.timeline-selection-close:hover {
		background-size: 18px !important;
	}
	.timeline-container .row .timeline-event-boxes:after {
		top: calc(50% - 5px);
		right: -8px;
		width: 10px;
		height: 10px;
	}
	.general-overlay .splash .btn span.btn-ok {
		background-size: 22px;
		padding-right: 31px !important;
	}
	#incident .container {
		width: 100%;
		top: 55%;
	}
	#incident .definition {
		max-width: 70%;
		padding: 20px;
	}
	#incident .btn-container {
		margin-top: 8px;
	}
	#incident .btn {
		font-size: 20px;
		max-width: 200px;
	}
	#incident .btn span {
		font-size: 20px;
	}
	#incident .definition-btn button {
	    width: 70px;
	    height: 70px;
	    min-width: initial;
	    min-height: initial;
		background-size: 25px;
	}
	#incident .definition-btn button span {
		font-size: 12px;
		line-height: 14px;
		bottom: -30px;
	}
	#incident .definition-btn-prev button span {
		bottom: -37px;
	}
	#incident .definition-btn-prev {
		left: -18%;
	}
	#incident .definition-btn-next {
		right: -18%;
	}
	#analysis .btn-review-chart {
		background-size: 80px;
		width: 80px !important;
		height: 75px !important;
		top: 9px;
		right: 80px;
	}
	.icam-analysis-container .row {
		margin-top: 34px;
	}
	.icam-analysis-container .category-content-home:nth-child(even):after {
		background-size: 100%;
		width: 22px;
    	height: 50px;
	}
	.icam-analysis-container .category-content-home:nth-child(odd):after {
		width: 25px;
		height: 44px;
		background-size: 100%;
		bottom: -100%;
	}
	.icam-analysis-container .category-content-home:nth-child(even):after {
		background-size: 100%;
		width: 22px;
    	height: 50px;
	}
	.analysis-submit-btn .btn-submit {
		font-size: 20px;
	}
	#analysis .incomplete-analysis-overlay {
		width: 90% !important;
	}
	#analysis .incomplete-analysis-overlay .correct-order h4 {
		font-size: 13px;
    	line-height: 15px;
		margin-bottom: 8px;
	}
	#analysis .incomplete-analysis-overlay .correct-order-content p {
		font-size: 11px !important;
		line-height: 13px;
	}
	#analysis .incomplete-analysis-overlay .correct-order-container {
		margin: 10px 0;
	}
	#analysis .incomplete-analysis-overlay .correct-order {
		padding: 0 5px;
	}
	#analysis .incomplete-analysis-overlay .correct-order-content {
		min-height: 95px;
		padding: 5px;
	}
	#analysis .incomplete-analysis-overlay .correct-order .correct-order-content {
		padding: 5px;
		min-height: 95px;
	}
	#analysis .incomplete-analysis-overlay #introductionText p {
		margin-bottom: 8px;
	}
	#analysis #completed-icam-analysis-overlay .btn-container .col-xs-6 .btn span {
		font-size: 15px;
		background-size: 16px;
    	padding-right: 25px !important;
	}
	#analysis .btn-container .col-xs-6 .btn {
		font-size: 16px;
	}
	.chart-contents {
		position: fixed;
		padding: 15px 15px 0 15px;
		left: 10px;
		top: 10px;
		transform: none;
		max-width: 83%;
		height: 100%;
	}
	.chart-table h3 {
		font-size: 11px;
		margin-bottom: 8px;
	}
	.analysis-factor p {
		font-size: 9px;
	}
	.chart-contents h1 {
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.chart-close {
		width: 60px;
		height: 60px;
		right: -14%;
    	top: 15%;
	}
	.chart-close span {
		font-size: 11px;
		line-height: 13px;
		top: 70px;
	}
	.chart-content-container {
		float: left;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 80%;
	}
	.chart-content-container .mCSB_inside > .mCSB_container {
		margin-right: 25px;
	}
	.line-one {
	    min-height: 90px;
	}
	.line-two {
    	min-height: 115px;
	}
	.line-three {
		min-height: 90px;
	}
	#recommendations .factor-container {
		padding: 20px 15px;
	}
	#recommendations h1.jumbo-green {
		font-size: 21px;
		margin-bottom: 10px;
	}
	#recommendations h2 {
		font-size: 16px;
    	margin-bottom: 15px;
	}
	#recommendations .factor-content-container {
		height: calc(100% - 150px);
	}
	#recommendations .factor-content-container .factor {
		height: 4.6em;
	}
	#recommendations .linked-boxes {
		padding: 14.16px;
	}
	#recommendations .factor-text span,
	#recommendations .linked-boxes span {
		font-size: 9px;
	}
	#recommendations h4 {
		font-size: 16px;
	}
	#recommendations .factor-state-text {
		font-size: 7px;
	}
	#recommendations .factor-state-icon {
		max-width: 25px;
		max-height: 25px;
	}
	#recommendations .factor-state-text {
		padding-top: 5px;
	}
}
