﻿<style>
    .container {
        height: 100%;
    }
    .casefile-content > div {
        overflow: hidden;
    }
    .nav {
    display: block !important;
    }
    p span {
    text-align: center;
    width: 100%;
    display: block;
    }
    p span em {
      color: rgb(167, 170, 54) !important;
    }
    .nav-tabs {
    width: calc(100% + 2px);
    border-bottom: 3px solid rgb(167, 170, 54);
    }
    .nav-tabs > li {
    cursor: pointer;
    margin-bottom: -3px;
    font-size: 1.5em;
    font-weight: bold;
    width: 20%;
    height: 60px;
    display: table !important;
    }
    .nav-tabs > li > a {
    color: rgb(36, 66, 75);
    border: 3px solid rgba(167, 170, 54, 0.2);
    border-bottom: 3px solid transparent;
    background-color: rgba(167, 170, 54, 0.2);
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
    }
    .nav-tabs > li > a > span {
      display: block;
      font-size: 18px;
      color: rgb(36, 66, 75);
    }
    @media screen and (min-width: 1025px) {
      .nav-tabs > li {
          height: 75px;
      }
      .nav-tabs > li > a {
          font-size: 20px;
          font-weight: bold;
          padding: 10px 15px;
      }
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
    color: rgb(36, 66, 75);
    background-color: rgb(167, 170, 54);
    border: 3px solid rgb(167, 170, 54);
    }
    .nav-tabs > li > a:hover {
    border: 3px solid rgb(167, 170, 54);
    }
    .nav > li > a:focus,
    .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(167, 170, 54, 0.5);
    }
    a:focus, a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    }
    .tab-pane {
    border: 3px solid rgb(167, 170, 54);
    margin-top: -3px;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    min-height: 350px;
    height: 100%;
    }
    .tab-content {
        height: 100%;
    }
    .factors-container {
    padding: 1% 0 0 0;
    max-height: 90%;
    height: calc(100% - 175px);
    }
    .factor {
    position: relative;
    padding: 0;
    border: 2px solid #525252;
    border-radius: 5px;
    margin-bottom: 0.25em;
    font-size: 16px;
    height: 6em;
    color: #525252 !important;
    font-weight: bold;
    }
    .factor-text {
    float: left;
    width: 100%;
    max-width: 60%;
    margin-left: 2.5%;
    height: 100%;
    display: table;
    }
    .factor-text span {
    display: table-cell;
    vertical-align: middle;
    line-height: 1em;
    color: #525252;
    }
    .factor-state {
    display: table;
    float: right;
    width: 100%;
    height: 100%;
    max-width: 35%;
    border-left: 2px solid #525252;
    }
    .factor-state > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
    .factor-state-icon {
    max-width: 1.7em;
    max-height: 1.7em;
    margin: 0.4em auto 0 auto !important;
    }
    .factor-state-text {
    display: table;
    margin: auto;
    width: 95%;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
    height: 40%;
    }
    .factor-state-text span {
    vertical-align: middle;
    height: 100%;
    font-size: 0.9em;
    display: table-cell;
    color: #525252;
    }
    @media screen and (min-width: 768px) {
        .factor-text {
            max-width: 70%;
        }
        .factor-state {
            max-width: 25%;
        }
        .factor-state-icon {
            max-width: 35px;
            max-height: 35px;
        }
    }
    @media screen and (max-width: 1024px) {
        .nav-tabs > li {
            height: 45px;
        }
        .nav-tabs > li > a {
            padding: 0 3px;
        }
        .nav-tabs > li > a > span {
            font-size: 10px;
        }
        .tab-pane {
            padding: 12px;
        }
        .mCSB_inside > .mCSB_container {
            margin-right: 25px !important;
        }
        .factor {
            height: 4em;
        }
        .factor-text span,
        .factor-state-text span {
            font-size: 12px;
        }
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function($){

        $('.factors-container').mCustomScrollbar({
          theme: 'dark-thick',
          scrollInertia: 350,
          mouseWheel: true,
          scrollButtons : {
            enable : false
          },
          advanced : {
            autoScrollOnFocus : false,
            updateOnContentResize : true
          }
        });
    });
</script>

<!-- chartintro -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-chart darkteal">PEEPO<br/> No / Contribuyente</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center"><strong>PEEPO/ Factores no contribuyentes</strong></h2>
            <br/>
          <p> <span><em>Haga clic en cada pestaña para verificar los factores PEEPO correctos:</em></span></p>
        </div>
    </div>



      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#p" data-toggle="tab" class="text-center">P<span>Personas</span></a></li>
        <li><a data-target="#e" data-toggle="tab" class="text-center">E<span>Entorno</span></a></li>
        <li><a data-target="#e-two" data-toggle="tab" class="text-center">E<span>Equipos</span></a></li>
        <li><a data-target="#p-two" data-toggle="tab" class="text-center">P<span>Procedimientos</span></a></li>
        <li><a data-target="#o" data-toggle="tab" class="text-center">O<span>Organización</span></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="p">
            <div class="factors-container">

               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck estacionó en un área que no es zona de carga</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck no se movió cuando se le pidió</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck no había realizado la inducción recientemente</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck había tenido una actitud agresiva</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck sufre de hipertensión</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor del camión de Westworth no se bajó a mirar</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El guardia de seguridad permitió que el conductor de Express Truck ingresara a la faena sin cumplir con las normas de inducción.</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>La conductora de la grúa pórtico no insistió en que se moviera el camión de Express Truck</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>La conductora de la grúa pórtico cargó el camión de Express Truck en un área que no es zona de carga</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El gerente del almacén condonó la conducta de la conductora de la grúa pórtico</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Los incumplimientos del contratista ocurrieron en el pasado</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text"><span>El conductor del camión de Westworth estaba con un margen de tiempo estricto</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>El conductor del camión de Express Truck no suele trabajar de noche</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="e">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Temperaturas bajas causaron nieve</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El incidente ocurrió de noche y por eso el patio del almacén estaba muy oscuro</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>La iluminación era deficiente</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor no tenía la vestimenta apropiada para las condiciones climatológicas</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El camión de Express Truck tenía que estar en el Muelle de carga 7</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>El sonido de la alarma de retroceso del camión de Westworth no fue percibido</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck esperó por una hora antes de que se cargara el camión</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="e-two">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>La alarma de retroceso del camión de Westworth estaba dañada</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Espejos empañados del camión de Westworth</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Express Truck había dado mantenimiento insuficiente a los zunchos para asegurar cargas</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck estacionó en un área que no es zona de carga</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>La carga tomó entre 10 y 15 minutos</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Las señalizaciones de inducción están visibles en la puerta</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Registro de mantenimiento de camiones</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Ningún otro vehículo estaba presente cuando el conductor de Express Truck se estacionó inicialmente</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No había una cámara de retroceso instalada</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="p-two">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>El gerente del almacén se comunicó solamente con los empleados de los contratistas</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Programa de bonos de seguridad</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>El gerente del almacén instruye al personal mensualmente sobre seguridad</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El gerente del almacén delega la responsabilidad de la resolución de problemas</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Los problemas menores suelen dejarse sin resolver</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Reuniones de seguridad como medida de seguridad</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor del camión de Westworth no cumplió con el procedimiento de retroceso</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>El conductor del camión de Westworth no usó el cinturón de seguridad una vez previamente</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>No había un informe de vehículo defectuoso sobre la alarma de retroceso del camión de Westworth</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>La devolución de pallets al proveedor no es algo común</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="tab-pane" id="o">
            <div class="factors-container">
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No ha habido ausencias por enfermedad de empleados en los últimos dos años</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>Se había reportado previamente la iluminación deficiente, pero no se había resuelto</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>El conductor de Express Truck cree que el supervisor es responsable del mantenimiento de los equipos</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="contributing">
                  <div class="factor-text">
                     <span>No hay un contracto formal entre el conductor de Express Truck y el supervisor</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_contributing.png"/>
                        <div class="factor-state-text"><span>contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Los contratistas no se sienten respetados</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>Ambos conductores tenían licencias válidas</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
               <div class="factor midgrey-gradient-background" data-a="non-contributing">
                  <div class="factor-text">
                     <span>No había registro de eventos previos ni cuasi incidentes</span>
                  </div>
                  <div class="factor-state non-contributing">
                     <div>
                        <img class="factor-state-icon" src="../../resources/icons/icon_non-contributing.png"/>
                        <div class="factor-state-text"><span>no contribuyente</span></div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
      </div>
</div>
