﻿<style>
    .review-chart {
        display: block;
        position: relative;
        overflow: hidden;
        background: none;
    }
    .chart-contents {
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        width: 100%;
        max-width: 100%;
    }
    .line-one p, .line-two p, .line-three p, .line-four p, .line-five p, .line-six p {
        display: table-cell;
    }
    @media only screen and (max-width: 767px) {
        .casefile-content {
            padding: 20px 20px 0 20px;
        }
        .mCSB_inside > .mCSB_container {
            margin-right: 20px !important;
        }
    }
</style>
<!-- chartintro -->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-chart darkteal">Revise su <br/>tabla ICAM</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
    <div>
        <div class="review-chart">
              <div class="col-xs-12 chart-contents">
                <div class="row chart-heading">
                  <div class="col-xs-12">
                    <h1 class="pull-left">Revise su tabla ICAM.</h1>
                  </div>
                </div>
                <div class="chart-content-container">
                    <div class="row chart-table chart-headings">
                      <div class="col-xs-2 column factors">
                        <h3>factores<br/>organizacionales</h3>
                      </div>

                      <div class="col-xs-2 column conditions">
                        <h3>tarea / condiciones ambientales</h3>
                      </div>

                      <div class="col-xs-2 column actions">
                        <h3>acciones del individuo / equipo</h3>
                      </div>

                      <div class="col-xs-2 column defences">
                        <h3>defensas ausentes / fallidas</h3>
                      </div>

                      <div class="col-xs-2 column incident">
                        <h3>incidente</h3>
                      </div>
                    </div>

                    <div class="row chart-table">

                      <div class="col-xs-2 column factors">
                        <div class="analysis-factor line-one">
                          <p>El acceso a la faena no está estrictamente controlado.</p>
                        </div>
                        <div class="analysis-factor line-two">
                          <p>No hay un plan formal de gestión de tránsito en materia de estacionar, retroceder, separación entre vehículo y peatón, etc.</p>
                        </div>
                        <div class="analysis-factor line-three">
                          <p>Informes previos de iluminación deficiente en el patio no habían sido gestionados.</p>
                        </div>
                        <div class="analysis-factor line-four">
                          <p>Las responsabilidades del propietario del camión no están claramente definidas.</p>
                        </div>
                        <div class="analysis-factor line-five">
                          <p>Hay una tolerancia pasiva al incumplimiento de las normas.</p>
                        </div>
                        <div class="analysis-factor line-six">
                          <p>No hay liderazgo de seguridad en la gerencia.</p>
                        </div>
                      </div>

                      <div class="col-xs-2 column conditions">
                        <div class="analysis-factor line-one">
                          <p>El guardia de seguridad asumió que el conductor de Express Truck había recibido la inducción.</p>
                        </div>
                        <div class="analysis-factor line-two">
                          <p>Conductor de Express Truck que retira bienes del almacén.</p>
                        </div>
                        <div class="analysis-factor line-three">
                          <p>El conductor de Express Truck estaba molesto y malhumorado debido a la demora en la carga.</p>
                        </div>
                        <div class="analysis-factor line-four">
                          <p>La iluminación era deficiente.</p>
                        </div>
                        <div class="analysis-factor line-five">
                          <p>Hacía frío y había nieve en el suelo.</p>
                        </div>
                        <div class="analysis-factor line-six">
                          <p>Los zunchos de Express Truck estaban en malas condiciones.</p>
                        </div>
                        <div class="analysis-factor line-seven">
                          <p>El conductor del camión de Westworth no salió porque estaba usando pantalones cortos.</p>
                        </div>
                      </div>

                      <div class="col-xs-2 column actions">
                        <div class="analysis-factor line-one">
                          <p>El guardia de seguridad permitió que el conductor de Express Truck ingresara a la faena sin cumplir con las normas de inducción.</p>
                        </div>
                        <div class="analysis-factor line-two">
                          <p>El conductor de Express Truck estacionó en un lugar no autorizado.</p>
                        </div>
                        <div class="analysis-factor line-three">
                          <p>La conductora de la grúa pórtico no insistió que el camión de Express Truck se moviera a un puesto de estacionamiento autorizado.</p>
                        </div>
                        <div class="analysis-factor line-four">
                          <p>La conductora de la grúa pórtico cargó el camión de Express Truck.</p>
                        </div>
                        <div class="analysis-factor line-five">
                          <p>El conductor del camión de Westworth no cumplió con el procedimiento de retroceso.</p>
                        </div>
                        <div class="analysis-factor line-six">
                          <p>El conductor del camión de Westworth desprevenidamente golpeó al conductor.</p>
                        </div>
                      </div>

                        <div class="col-xs-2 column defences">
                          <div class="analysis-factor line-one">
                            <p>Se permitió que el conductor de Express Truck ingresara a la faena sin la inducción de la faena.</p>
                          </div>
                          <div class="analysis-factor line-two">
                            <p>Express Truck estacionó en medio del patio.</p>
                          </div>
                          <div class="analysis-factor line-three">
                            <p>El camión de Express Truck no fue reubicado a un puesto de estacionamiento autorizado.</p>
                          </div>
                          <div class="analysis-factor line-four">
                            <p>Incumplimiento del camión de Westworth con el procedimiento de retroceso.</p>
                          </div>
                          <div class="analysis-factor line-five">
                            <p>Espejos empañados del camión de Westworth.</p>
                          </div>
                          <div class="analysis-factor line-six">
                            <p>La alarma de retroceso del camión de Westworth no estaba operativa.</p>
                          </div>
                      </div>

                      <div class="col-xs-2 column incident">
                        <div class="analysis-factor line-incident">
                          <p>El 8 de agosto de 2012, aproximadamente a las 7:30 p. m., un conductor de Express Truck sufrió lesiones al ser golpeado por un camión de remolque propiedad de Westworth Logistics.</p>
                        </div>
                      </div>

                    </div> <!-- table -->
                </div>

              </div>


        </div> <!-- review-chart -->
    </div>
</div>
