﻿<!--mark-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Entrevista a Mark<br/>Seguridad puerta principal</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Información sobre la entrevista con Mark.</strong></p>
        <p class="pdotty">Estaba trabajando en el turno de la noche del 8 de agosto. Normalmente comenzamos a las 6:00 p. m. y trabajamos un turno de 12 horas. <br/> <br/>He revisado el registro de entrada de la noche del incidente.</p>
          <br/>
        <p>En el registro se indica:</p>
        <p style="text-align: center; text-decoration: underline;">'5:45 p. m. - Llegó Express Truck; 7:05 p. m. - Llegó el camión de Westworth'</p>
        <br/>
        <p class="pdotty">Todo el personal que ingresa a la faena debe recibir la inducción. Eso incluye a todos los conductores contratistas. No hay ningún registro que indique que el conductor de Express Truck haya realizado la inducción antes de entrar. Yo asumí que ya le habían realizado la inducción. La persona antes de mí hubiera verificado eso.</p>
        <br/>
      </div>
    </div>
</div>
