﻿<!--brain-->
<style>
    .mainStage .casefile-content div {
        margin: 0 !important;
    }
</style>
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Cronología <br/>de ejemplo</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
    <h2 class="text-center"><strong>Cronología de ejemplo</strong></h2>
  <div>
    <img src="../../resources/image_timeline.png" id="timeline-img"/>
  </div>
</div> <!-- container -->
