﻿<!--traffic-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Documento de Gestión<br/>del tráfico</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>Investigador principal <br/>Comité de Investigación ICAM  <br/>PO Box 213 <br/>SYDNEY NSW 2000<br/> <br/> 15 de agosto de 2012 </strong> <br/> <br/>Estimado/a <br/> <br/>A continuación encontrará un resumen de los procedimientos de carga segura de Westworth Logistics.<br/> <br/> <strong>Gestión del tráfico en el muelle de carga/descarga:</strong></p>
        <ul>
            <li><p>Prevenir acceso del público en general a estas áreas y colocar de manera visible letreros que prohíban el acceso no autorizado.</p></li>
            <li><p>Haga cumplir la separación de vehículos del tráfico peatonal autorizado de empleados y contratistas mediante la instalación de caminerías, bolardos, barreras claramente marcadas y puestos de estacionamiento vehicular marcados.</p></li>
            <li><p>Disponga de acceso y salida segura para los peatones autorizados en el muelle de carga (acceso con cerraduras internas o tarjetas en los puntos de entrada/salida)</p></li>
            <li><p>Monitorear el muelle de carga (p. ej., circuito cerrado de televisión)</p></li>
            <li><p>Haga cumplir los límites de velocidad claramente señalizados</p></li>
            <li><p>Limite la distancia que los vehículos deban retroceder</p></li>
            <li><p>Instale espejos para darles mejor visibilidad a los conductores y peatones</p></li>
            <li><p>Establezca un cronograma para el uso vehicular del muelle de carga, o controle o limite el acceso vehicular al muelle</p></li>
            <li><p>Se deben cargar y descargar los vehículos únicamente en los muelles de carga designados</p></li>
        </ul>
        <br/>
        <p>Atentamente, <br/> <br/> Ester Clark <br/> <em>Apoyo de RR. HH.</em><br/> Westworth Logistics</p><br/>
      </div>

    </div>
  </div>
</div>
