<!--john-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Interview with John<br>Express Truck Driver</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
        <div class="col-xs-12">
          <p><strong>Information on the interview with John Tong.</strong></p>
          <p class="pdotty">My name is John Tong. I am 49 years old. I am an independent driver for Express Truck. I run my own truck exclusively for Express Truck. I have been working for Express Truck for the past 10 years.
            <br>
            <br>Alan, he is in charge at Express Truck, he sent me to the Westworth Logistics warehouse to pick up an urgent load. I don’t normally work at night but I was doing it as a favour to Alan.
            <br>
            <br>I arrived at about 5:45 pm at the front security gate and told the security guard I was there to pick up some pallets. He didn’t know anything about it and to come back tomorrow. I told him to let me in and I would find someone who knew what was going on.
            <br>
            <br>The security guard asked if I was inducted into the site. Of course I am. I did the induction about 2 years ago. I go to that site about 4 or 5 times a year.
            <br>
            <br>He let me in saying to park my truck up out of the way, and go and see the shift supervisor.
            <br>
            <br>I parked my truck where I wasn’t blocking too much. I didn’t want to take up space in a loading dock. There weren’t any other trucks around anyway. I would only be 10 minutes, get loaded and get out of there.
            <br>
            <br>I couldn’t find anybody. I must have stood there for an hour before this young kid comes and see me and asks what I wanted. I was a bit cranky by then. It was freezing and I was cold.
            <br>
            <br>He told me to move my truck but I just wanted to get loaded and get out of there so when he came back I just waved at him to bring the pallets to me where the truck was parked.
            <br>
            <br>It only took 10 - 15 minutes to load up the truck. If they had loaded me straight away I wouldn’t be in this mess.
            <br>
            <br>I told Alan about the straps. Express Truck is supposed to provide new ones every couple of years. Well that’s what they have done in the past. But I haven’t seen any new ones for a couple of years so I just soldier on with the old ones.
            <br>
            <br>So I was strapping down the last of the pallets and the ratchet binder was jamming again. I was getting really angry. My doctor told me to control my blood pressure so I don’t have another heart attack. So I decided to walk away and go fill up my thermos with hot water from the lunchroom. I was freezing and a good hot cuppa on the drive back would be good.
            <br>
            <br>When I got back to my truck I saw this semi-trailer manoeuvring in the yard. I could see his rear lights but it was difficult to see as the lighting was not that good.
            <br>
            <br>I threw the thermos in the cab and proceeded to try and secure the load. I wasn’t watching the other truck; I was just concentrating on getting the binder working and getting out of the way.
            <br>
            <br>I didn’t hear a thing until I suddenly noticed something moving out of the corner of my eye. I looked up and saw the rear of the semi about to crash into the side of my truck. Before I could react the rear of the semi clipped me across the legs and pulled me down.
            <br>
            <br>Lucky the truck driver stopped straight away, otherwise I would have been crushed by the wheels. The next thing I knew I woke up in the back of an ambulance.
            <br>
            <br>I haven’t been doing many hours recently as work is a bit slow. The last couple of days before the accident I had only been doing 2 trips a day, about 5 hours a day.
            <br>
            <br>I have been inducted into the site. About 2 years ago I went through something at the gatehouse where they run through the rules and ask a couple of questions. I can’t remember what it was about.
            <br>
            <br>I know if I am getting loaded that I am supposed to be in a designated loading dock, but nobody knew what was going on so what was the point of going to a loading dock?</p>
            <br>
            <p><strong>How could the incident have been avoided?</strong></p>
            <p class="pdotty">In hindsight I should have moved my truck when I was asked to but who was to know? I probably would have been asked to move anyway while I was mucking around with the load straps.
            <br>
            <br>You know being a contractor on these sites, particularly a courier driver: you don’t get too much respect. We are just second-class citizens.
            <br>
            <br>There needs to better supervision of drivers coming in and out &#8212; I can't read their mind on where they want me to park?
            <br>
            <br>Now I don’t know how long it will be till I can be back at work. With the rent and the bills, I hope the boss has his workers comp paid up because I am going to need some money.</p>
        </div>
    </div>

  </div>
</div>
