<!--license-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">License &amp;<br>Training Doc</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>RE - Training and License Records</strong>
          <br />
          <br />Dear Sir/Madam,
          <br />Please find below details for John Tonge.</p>
        <br>
      </div>
      <div class="col-xs-12">
        <img src="../../resources/image_license.png"/>
      </div>
    </div>

  </div>
</div>
