<!--reversing-->
<div class="casefile-label darklime-background">
  <div class="casefile-label-content">
      <span class="casefile-label-doc darkteal">Reversing<br>Procedures</span>
  </div>
</div>

<div class="container casefile-content lightgrey-background">
  <div>

    <div class="row">
      <div class="col-xs-12 content">
          <p><strong>Chief Investigator
              <br> ICAM Investigation Committee PO Box 213
              <br> SYDNEY NSW 2000</strong>
              <br>
              <br> 19 August 2012
              <br>
              <br>
              <strong>RE: Reverse Driving Information</strong>
              <br>
              <br> Dear Sir/Madam
              <br>
              <br> Pleased find below extract on safe reversing manoeuvres posted on notice board at Westworth Logistics</p>
          <ul>
              <li>
                  <p>90% of trucking incidents and crashes happen during backing manoeuvres</p>
              </li>
              <li>
                  <p>10 % of all Liability Incidents</p>
                  <ul>
                      <li>
                          <p>Most incidents result in Property Damage Only</p>
                      </li>
                  </ul>
              </li>
              <li>
                  <p>But severe consequences can occur such as:</p>
                  <ul>
                      <li>
                          <p>backing into</p>
                      </li>
                      <li>
                          <p>backing over</p>
                      </li>
                      <li>
                          <p>or pinning a person</p>
                      </li>
                  </ul>
              </li>
          </ul>
          <p>Skill is required to be a safe driver. Professional drivers know the daily challenge of avoiding collisions with fixed objects while backing.
              <br>
              <br> Although a driver’s ability to see toward the rear is limited, this handicap can be overcome through the use of extra care and caution.
              <br>
              <br>
              <strong>Ask Yourself Key Questions:</strong></p>
          <ul>
              <li>
                  <p>Do I need to back?</p>
              </li>
              <li>
                  <p>Have I checked for overhead powerlines, poles, ladders, awnings, etc?</p>
              </li>
              <li>
                  <p>Are there pot-holes or soft pavement obstacles?</p>
              </li>
              <li>
                  <p>Can other traffic encroach on my lane of travel?</p>
              </li>
              <li>
                  <p>Can anyone potentially walk into my path?</p>
              </li>
              <li>
                  <p>Do I need someone to control or block other traffic?</p>
              </li>
              <li>
                  <p>Will ice, snow, fog, or glare restrict my vision?</p>
              </li>
              <li>
                  <p>How close do I need to get?</p>
              </li>
              <li>
                  <p>Have I secured the trailer doors?</p>
              </li>
              <li>
                  <p>Have I put out cones?</p>
              </li>
              <li>
                  <p>Should this approach and delivery be abandoned?</p>
              </li>
          </ul>
          <br>
          <p style="text-align: center;"><strong>~ Remember - YOU ARE CAPTAIN OF THE SHIP! ~</strong></p>
          <br>
          <strong>Get Out And LOOK! (GOAL):</strong></p>
          <ul>
              <li>
                  <p>Nothing can replace the information gained by using your eyes on potential hazards. Walk around your vehicle to get a complete picture of what you are backing into</p>
              </li>
              <li>
                  <p>Walk the pavement surface looking for depressions and fixed objects, and be certain pedestrians are a safe distance from your vehicle</p>
              </li>
              <li>
                  <p>Look Up! Hazards may come in the form of power lines, awnings, or even building overhangs</p>
              </li>
              <li>
                  <p>Check side clearances and adjust your mirrors</p>
              </li>
              <li>
                  <p>Signal your intentions by giving your horn a light tap and rev your engine slightly as an additional warning. Use your four way flashers</p>
              </li>
              <li>
                  <p>Get to it! After checking, start backing before the picture changes</p>
              </li>
              <li>
                  <p>Nothing - Minimize the distance you need to back by getting as close to the dock prior to moving in reverse</p>
              </li>
              <li>
                  <p>The less ground you cover in reverse, the less chances you will have striking a fixed object</p>
              </li>
              <li>
                  <p>Take a deep breath and commit yourself to perfect backing with no compromises. No one ever made up time by backing quickly</p>
              </li>
              <li>
                  <p>Slow movement helps you maintain full control of your vehicle and to correctly judge distances</p>
              </li>
              <li>
                  <p>If you are unsure of anything during your backing, revert to your “GOAL -Get Out &amp; Look!”</p>
              </li>
          </ul>
          <br>
          <p><strong>Check All Sides As You Back</strong>
              <br> Keep your eyes moving to ensure conditions have not changed.</p>
          <ul>
              <li>
                  <p>Mirrors deliver a key portion of the total picture, but only a small portion of the total picture</p>
              </li>
              <li>
                  <p>To be certain, stop 3/4 of the way, set the brake, and once again get out and look</p>
              </li>
              <li>
                  <p>Experienced drivers pace off the distance between vehicle and dock. Then mark a place on the ground of equal distance from the driver’s seat. When you have stopped at that mark, you’ll be exactly where you have planned</p>
              </li>
          </ul>
          <br>
          <p><strong>Use All Your Resources and Guides</strong></p>
          <ul>
              <li>
                  <p>A reliable and qualified guide can keep pedestrians out of the blind zone</p>
              </li>
              <li>
                  <p>Agree on hand signals you both understand</p>
              </li>
              <li>
                  <p>Turn off your radio and open your window</p>
              </li>
              <li>
                  <p>Keep your guide in sight at all times. If your guide disappears from sight -stop immediately!</p>
              </li>
              <li>
                  <p>The final responsibility for safe backing remains with the driver -not the guide</p>
              </li>
              <li>
                  <p>The National Safety Council states, “In most fleets one out of every four collisions involved backing.”</p>
              </li>
              <li>
                  <p>Therefore, we need to apply all the safe backing techniques we have learned to minimize risk.</p>
              </li>
          </ul>
          <br>
          <p><strong>A Collision Occurring When a Driver is Backing Up is
          Considered Preventable if the Driver</strong></p>
          <ul>
              <li>
                  <p>Backed up when the backing could have been prevented by better planning of the route</p>
              </li>
              <li>
                  <p>Backed into traffic stream when such backing could have been avoided</p>
              </li>
              <li>
                  <p>Failed to get out of the cab and check the proposed path of backward travel</p>
              </li>
              <li>
                  <p>Depended solely on mirrors when it was practical to look back</p>
              </li>
              <li>
                  <p>Failed to sound the horn while backing</p>
              </li>
              <li>
                  <p>Failed to check behind the vehicle parked at the curb before attempting to leave a parking space</p>
              </li>
              <li>
                  <p>Relied solely on a guide to help with backing up</p>
              </li>
              <li>
                  <p>Backed from a blind side when a sight side approach was available</p>
              </li>
          </ul>
          <br>
          <p><strong>General examples for proper use and placement of safety cones</strong></p>
          <ul>
              <li>
                  <p>As a target to mark the location/corner of where the truck and/or trailer will be positioned at the completion of the maneuver</p>
              </li>
              <li>
                  <p>Behind the truck or trailer to block/warn vehicular/pedestrian traffic to stay away from the intended backing lane</p>
              </li>
              <li>
                  <p>Once parked, the cones must be repositioned to warn and/or divert vehicular traffic away from the truck during loading and unloading (e.g., a blind corner, poor visibility area, etc.)</p>
              </li>
          </ul>
          <br>
          <p>Regards
            <br> Ester Clark
            <br>
            <em>HR Support</em>
            <br>Westworth Logistics<br><br></p>
      </div>
    </div>
  </div>
</div>
