@import url("general.css");

/* ---------------------------------------- SPLASH SCREEN ----------------------------------- */

#splash .mainStage{
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_warehouse_blur.jpg) no-repeat center top;
    background-size: cover;
}
#splash header {
	background: rgba(25, 38, 44, 0.7);
}
#splash .splash .btn {
	max-width: 80%;
}
@media screen and (min-width: 1025px) {
	/*#splash .splash {
		width: 32%;
	}*/
}

/* ---------------------------------------- VIDEO ----------------------------------- */

#video-page .mainStage {
	background: none;
}

.video-ended-overlay .btn-container {
	margin-bottom: 15px;
}
.video-ended-overlay .btn-container .col-xs-6:first-child {
	padding-right: 7.5px;
}
.video-ended-overlay .btn-container .col-xs-6:last-child {
	padding-left: 7.5px;
}


/* ---------------------------------------- CONGRATULATIONS ----------------------------------- */

#congratulations .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/background_warehouse_blur.jpg) no-repeat center top;
	background-size: cover;
}
@media only screen and (min-width: 1200px) {
	#congratulations .mainStage .splash {
		max-width: 35%;
	}
}

/* ---------------------------------------- EXPLORATION ----------------------------------- */
.splash {
	width: 40%;
}
.general-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(25, 38, 44,0.9);
	width: 100%;
	height: 100%;
	z-index: 15000;
}

.general-overlay .splash {
	width: 30%;
}

.general-overlay .splash .btn {
	max-width: 60%;
	width: 100%;
}

.general-overlay .splash .btn span {
	padding: 0;
	top: 0;
	color: #24424B;
}
#exploration .stage:after {
	content: '';
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#exploration-map-bg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.content-area {
	position: absolute;
	z-index: 1;
}
.stage .content-area[data-ref="sight"] {
	width: 84%;
	height: 84%;
	top: 0px;
	left: 50%;
	margin-left: -42%;
}
.stage .content-area[data-ref="position"] {
	width: 49%;
	height: 53%;
	top: 14%;
	right: 0px;
}
.stage .content-area[data-ref="mirrors"] {
	width: 10%;
    height: 40%;
    top: 0px;
    right: 14%;
}
.stage .content-area[data-ref="railing"] {
	width: 50%;
	height: 44%;
	top: 23%;
	right: 28%;
}
.stage .content-area[data-ref="empty"],
.stage .content-area[data-ref="empty2"],
.stage .content-area[data-ref="empty3"]
 {
	display: none;
}
.stage .content-area[data-ref="strap"] {
	width: 16%;
    height: 52%;
    top: 26%;
    left: 46%;
}
.stage .content-area[data-ref="impact"] {
	width: 18%;
	height: 50%;
	top: 10%;
	left: 42%;
}
.stage .content-area[data-ref="alarm"] {
	width: 30%;
    height: 27%;
    top: 27%;
    right: 9%;
}
.stage .content-area[data-ref="lighting"] {
	width: 42%;
	height: 30%;
	top: 0px;
	left: 0px;
}
.stage .content-area[data-ref="dock7"] {
	width: 23%;
	height: 44%;
	top: 37%;
	right: 30%;
}
.stage .content-area[data-ref="dock8"] {
	width: 23%;
    height: 44%;
    top: 37%;
    right: 5%;
}
.content-area-box {
	width: 100%;
	height: 100%;
}
.exploration-info {
	position: absolute;
	top: 55%;
	left: 20px;
	z-index: 500;
	transform: translateY(-55%);
	-webkit-transform: translateY(-55%);;
	-ms-transform: translateY(-55%);;
	-moz-transform: translateY(-55%);;
	width: 118px;
	height: auto;
	color: #fff;
	text-transform: uppercase;
}
.exploration-info button {
	background: url(../resources/btn_photo.png) no-repeat;
	width: 100%;
	height: 167px;
	margin-bottom: 15px;
	position: relative;
	opacity: 0.5;
}
.exploration-info button.not-correct span {
	color: #933131;
}
.exploration-info button#take-notes {
	background: url(../resources/btn_notes.png) no-repeat;
	margin: 0;
}
.exploration-info #take-photo.not-correct {
	background: url(../resources/btn_photo_error.png) no-repeat;
}
.exploration-info #take-notes.not-correct {
	background: url(../resources/btn_notes_error.png) no-repeat;
}
.exploration-info button span {
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	bottom: 9px;
	left: 0;
	width: 100%;
	color: #A2CFDB;
	text-align: center;
}
.exploration-info button
.exploration-info button:last-child {
	margin: 0;
}
.exploration-info span.exit {
	font-size: 32px;
	position: absolute;
	left: 0;
	bottom: 30px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.photo-canvas {
	position: relative;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -45%);
	-webkit-transform: translate(-50%, -45%);
	-moz-transform: translate(-50%, -45%);
	-ms-transform: translate(-50%, -45%);
	width: 75%;
	height: 75%;
	z-index: 10;
	overflow: hidden;
}
.photo-canvas-wrapper {
	height: 100%;
}
.photo-canvas:before {
	content: '';
	background: url(../resources/canvas_border_left.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
}
.photo-canvas.not-correct:before {
	background: url(../resources/canvas_border_left_nc.png) no-repeat;
}
.photo-canvas:after {
	content: '';
	background: url(../resources/canvas_border_right.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 90px;
}
.photo-canvas.not-correct:after {
	background: url(../resources/canvas_border_right_nc.png) no-repeat;
}
.photo-canvas-wrapper:before {
	content: '';
	background: url(../resources/canvas_border_left_bottom.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90px;
	height: 90px;
}
.photo-canvas.not-correct .photo-canvas-wrapper:before {
	background: url(../resources/canvas_border_left_bottom_nc.png) no-repeat;
}
.photo-canvas-wrapper:after {
	content: '';
	background: url(../resources/canvas_border_right_bottom.png) no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 90px;
	height: 90px;
}
.photo-canvas.not-correct .photo-canvas-wrapper:after {
	background: url(../resources/canvas_border_right_bottom_nc.png) no-repeat;
}
.photo-canvas.not-correct .magnifier {
	background: url(../resources/magnifier_notcorrect.png) no-repeat center center;
	background-size: 190px;
}
.magnifier {
	background: url(../resources/magnifier.png) no-repeat center center;
	background-size: 190px;
	width: 190px;
	height: 190px;
	z-index: 1000;
	border-radius: 100%;
	cursor: move;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 12000;
}
.explorationBtn {
	background: url(../resources/poi_icon.png) no-repeat;
	background-size: 95%;
	width: 5%;
	height: 16.5%;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}
.explorationBtn:hover {
	background: url(../resources/poi_icon_hover.png) no-repeat;
	background-size: 95%;
}
.explorationBtn.complete {
	background: url(../resources/poi_icon_complete.png) no-repeat;
	background-size: 95%;
}
.explorationBtn.complete:before {
	content: '';
	background: url(../resources/complete_tick.png) no-repeat;
	background-size: 100%;
	position: absolute;
	width: 38%;
    height: 17%;
	top: 54%;
	left: 27%;
}
.explorationBtn.empty-complete {
	background: url(../resources/poi_icon_empty_complete.png) no-repeat;
	background-size: 95%;
}
.explorationBtn.empty-complete:before {
	content: '';
	background: url(../resources/empty_cross.png) no-repeat;
	background-size: 100%;
	position: absolute;
	width: 33%;
    height: 17%;
	top: 56%;
	left: 27%;
}
.explorationBtn[data-content="sight"] {
	top: 28%;
	left: 33%;
	transform: rotate(115deg);
	-webkit-transform: rotate(115deg);
	-moz-transform: rotate(115deg);
	-ms-transform: rotate(115deg);
}
.explorationBtn.complete[data-content="sight"]:before {
	transform: rotate(-115deg);
	-webkit-transform: rotate(-115deg);
	-moz-transform: rotate(-115deg);
	-ms-transform: rotate(-115deg);
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="sight"]:before {
		top: 49%;
	    left: 30%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="sight"]:before {
		top: 49%;
	    left: 30%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="sight"]:before {
		top: 49%;
	    left: 30%;
	}
	:fullscreen .explorationBtn.complete[data-content="sight"]:before {
		top: 49%;
	    left: 30%;
	}
}
.explorationBtn[data-content="position"] {
	bottom: 36%;
    top: initial;
    left: 30%;
    transform: rotate(66deg);
	-webkit-transform: rotate(66deg);
	-moz-transform: rotate(66deg);
	-ms-transform: rotate(66deg);
}
.explorationBtn.complete[data-content="position"]:before {
	transform: rotate(-66deg);
	-webkit-transform: rotate(-66deg);
	-moz-transform: rotate(-66deg);
	-ms-transform: rotate(-66deg);
	left: 31%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="position"]:before {
		left: 34%;
	    top: 51%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="position"]:before {
		left: 34%;
	    top: 51%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="position"]:before {
		left: 34%;
	    top: 51%;
	}
	:fullscreen .explorationBtn.complete[data-content="position"]:before {
		left: 34%;
	    top: 51%;
	}
}
.explorationBtn[data-content="mirrors"] {
	top: 25%;
    left: 43%;
    transform: rotate(-137deg);
	-webkit-transform: rotate(-137deg);
	-moz-transform: rotate(-137deg);
	-ms-transform: rotate(-137deg);
}
.explorationBtn.complete[data-content="mirrors"]:before {
	transform: rotate(137deg);
	-webkit-transform: rotate(137deg);
	-moz-transform: rotate(137deg);
	-ms-transform: rotate(137deg);
	top: 56%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="mirrors"]:before {
	    top: 49%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="mirrors"]:before {
	    top: 49%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="mirrors"]:before {
	    top: 49%;
	}
	:fullscreen .explorationBtn.complete[data-content="mirrors"]:before {
	    top: 49%;
	}
}
.explorationBtn[data-content="railing"] {
	top: 38%;
    right: 43%;
    left: initial;
    transform: rotate(-80deg);
	-webkit-transform: rotate(-80deg);
	-ms-transform: rotate(-80deg);
	-moz-transform: rotate(-80deg);
}
.explorationBtn.complete[data-content="railing"]:before {
	transform: rotate(80deg);
	-webkit-transform: rotate(80deg);
	-moz-transform: rotate(80deg);
	-ms-transform: rotate(80deg);
	top: 58%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="railing"]:before {
	    top: 51%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="railing"]:before {
	    top: 51%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="railing"]:before {
	    top: 51%;
	}
	:fullscreen .explorationBtn.complete[data-content="railing"]:before {
	    top: 51%;
	}
}
.explorationBtn[data-content="empty"] {
	top: initial;
    right: 35%;
    left: initial;
    bottom: 26%;
    transform: rotate(33deg);
	-webkit-transform: rotate(33deg);
	-moz-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
}
.explorationBtn.empty-complete[data-content="empty"]:before {
	top: 56%;
    left: 33%;
	transform: rotate(-33deg);
	-webkit-transform: rotate(-33deg);
	-moz-transform: rotate(-33deg);
	-ms-transform: rotate(-33deg);
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.empty-complete[data-content="empty"]:before {
	    top: 51%;
	}
	:-moz-full-screen .explorationBtn.empty-complete[data-content="empty"]:before {
	    top: 51%;
	}
	:-ms-fullscreen .explorationBtn.empty-complete[data-content="empty"]:before {
	    top: 51%;
	}
	:fullscreen .explorationBtn.empty-complete[data-content="empty"]:before {
	    top: 51%;
	}
}
.explorationBtn.complete[data-content="empty"]:before {
	transform: rotate(-33deg);
	-webkit-transform: rotate(-33deg);
	-moz-transform: rotate(-33deg);
	-ms-transform: rotate(-33deg);
	left: 33%;
}
.explorationBtn[data-content="strap"] {
	top: 47%;
	left: 39%;
	transform: rotate(36deg);
	-webkit-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	-moz-transform: rotate(36deg);
}
.explorationBtn.complete[data-content="strap"]:before {
	transform: rotate(-36deg);
	-webkit-transform: rotate(-36deg);
	-moz-transform: rotate(-36deg);
	-ms-transform: rotate(-36deg);
	left: 33%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="strap"]:before {
	    top: 50%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="strap"]:before {
	    top: 50%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="strap"]:before {
	    top: 50%;
	}
	:fullscreen .explorationBtn.complete[data-content="strap"]:before {
	    top: 50%;
	}
}
.explorationBtn[data-content="impact-alarm"] {
	top: 31%;
    left: initial;
    right: 47%;
	transform: rotate(-145deg);
	-webkit-transform: rotate(-145deg);
	-ms-transform: rotate(-145deg);
	-moz-transform: rotate(-145deg);
}
.explorationBtn.complete[data-content="impact-alarm"]:before {
	transform: rotate(145deg);
	-webkit-transform: rotate(145deg);
	-moz-transform: rotate(145deg);
	-ms-transform: rotate(145deg);
	top: 57%;
	left: 28%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="impact-alarm"]:before {
		top: 49%;
	    left: 26%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="impact-alarm"]:before {
		top: 49%;
	    left: 26%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="impact-alarm"]:before {
		top: 49%;
	    left: 26%;
	}
	:fullscreen .explorationBtn.complete[data-content="impact-alarm"]:before {
		top: 49%;
	    left: 26%;
	}
}
.explorationBtn[data-content="lighting-dock7-dock8"] {
	top: 26%;
    left: initial;
    right: 42%;
    transform: rotate(-42deg);
	-webkit-transform: rotate(-42deg);
	-ms-transform: rotate(-42deg);
	-moz-transform: rotate(-42deg);
}
.explorationBtn.complete[data-content="lighting-dock7-dock8"]:before {
	transform: rotate(42deg);
	-webkit-transform: rotate(42deg);
	-moz-transform: rotate(42deg);
	-ms-transform: rotate(42deg);
	top: 57%;
	left: 28%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.complete[data-content="lighting-dock7-dock8"]:before {
		top: 52%;
	    left: 28%;
	}
	:-moz-full-screen .explorationBtn.complete[data-content="lighting-dock7-dock8"]:before {
		top: 52%;
	    left: 28%;
	}
	:-ms-fullscreen .explorationBtn.complete[data-content="lighting-dock7-dock8"]:before {
		top: 52%;
	    left: 28%;
	}
	:fullscreen .explorationBtn.complete[data-content="lighting-dock7-dock8"]:before {
		top: 52%;
	    left: 28%;
	}
}
.explorationBtn[data-content="empty2"] {
	top: initial;
    left: 44%;
    bottom: 25%;
}
.explorationBtn.empty-complete[data-content="empty2"]:before {
	top: 57%;
    left: 31%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.empty-complete[data-content="empty2"]:before {
	    top: 52%;
	}
	:-moz-full-screen .explorationBtn.empty-complete[data-content="empty2"]:before {
	    top: 52%;
	}
	:-ms-fullscreen .explorationBtn.empty-complete[data-content="empty2"]:before {
	    top: 52%;
	}
	:fullscreen .explorationBtn.empty-complete[data-content="empty2"]:before {
	    top: 52%;
	}
}
.explorationBtn[data-content="empty3"] {
	top: initial;
    left: 36%;
    bottom: 26%;
    transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
}
.explorationBtn.empty-complete[data-content="empty3"]:before {
	transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	top: 56%;
    left: 29%;
}
@media only screen and (min-width: 1025px) {
	:-webkit-full-screen .explorationBtn.empty-complete[data-content="empty3"]:before {
	    top: 51%;
	}
	:-moz-full-screen .explorationBtn.empty-complete[data-content="empty3"]:before {
	    top: 51%;
	}
	:-ms-fullscreen .explorationBtn.empty-complete[data-content="empty3"]:before {
	    top: 51%;
	}
	:fullscreen .explorationBtn.empty-complete[data-content="empty3"]:before {
	    top: 51%;
	}
}
.mapBtn {
	width: 70px;
	height: 70px;
	top: initial;
	left: initial;
	position: absolute;
	top: 160px;
	right: 24px;
	border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-ms-border-radius: 100% 100% 100% 100%;
	cursor: pointer;
	background-size: 30px !important;
	z-index: 1;
}
.mapBtn:hover {
	background-size: 30px !important;
}
.mapBtn span {
	text-transform: uppercase;
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
.no-casefiles-msg {
	max-width: 600px;
	text-align: center;
	position: absolute;;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}
.interviews-container {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: auto;
	z-index: 10;
}
.interviews-container a {
	float: left;
	margin-right: 20px;
}
.interviews-container a:last-child {
	margin: 0;
}
.interview-btn {
	float: left;
	position: relative;
	width: 260px;
	background: rgba(49,60,61,0.9);
	border: 3px solid #64949F;
	padding: 14px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-ms-border-radius: 10px 10px 10px 10px;
	color: #fff;
}
.interview-link.interview-complete {
	pointer-events: none;
	opacity: 0.5;
}
.interview-link.interview-complete .interview-btn {
	border-color: rgb(206,203,42);
}
.interview-link.interview-complete .interview-btn:before {
	content: '';
	background: rgba(49,60,61,1) url(../resources/interview_tick_complete.png) no-repeat center center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid rgb(206,203,42);
    border-radius: 100%;
    z-index: 1;
}
.interview-link.interview-complete .interview-btn h3 {
	color: rgb(206,203,42);
}
.interview-btn:hover {
	border-color: rgb(206,203,42);
}
.interview-btn:hover h3 {
	color: rgb(206,203,42);
}
#tony-interview:after {
	content: '';
	position: absolute;
	right: 12px;
	bottom: 0px;
	background: url(../resources/tony_interview.png) no-repeat right bottom;
	width: 124px;
	height: 102px;
}
#john-interview:after {
	content: '';
	position: absolute;
	right: 7px;
	bottom: 0px;
	background: url(../resources/john_interview.png) no-repeat right bottom;
	width: 142px;
	height: 102px;
}
#bob-interview:after {
	content: '';
	position: absolute;
	right: 25px;
	bottom: 0px;
	background: url(../resources/bob_interview.png) no-repeat right bottom;
	width: 82px;
	height: 102px;
}
.interview-btn h3 {
	margin: 0 0 5px 0;
	color: #64949F;
	font-size: 25px;
	font-weight: normal;
}
.interview-btn h4 {
	margin: 0;
	color: #fff;
	font-size: 27px;
	font-weight: bold;
}
.next-btn {
	background: #19262C;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 120px;
	height: 120px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-ms-border-radius: 15px 15px 15px 15px;
	border: 2px solid #64949F;
	padding: 8px;
	color: #fff;
	font-size: 22px;
	z-index: 1;
}
.next-btn > div {
	border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	-ms-border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	width: 90%;
	height: 90%;
	display: table;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.next-btn span {
	position: relative;
	color: #24424B;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding: 30px 0 0 0 !important;
	background-position: center 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}
.progressbar-container {
	float: left;
	width: 50%;
	display: inline-block;
	border-left: 1px solid #aaa;
	padding-left: 10px;
	margin-left: 10px;
}
.progressbar-container span {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.3px;
}
.progressbar-container .progressbar-wrapper {
	float: left;
	margin-left: 10px;
	background: #18262c;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	width: 25%;
	padding: 5px;
	position: relative;
	background: -moz-linear-gradient(top,  #18262c 0%, #23414b 100%);
	background: -webkit-linear-gradient(top,  #18262c 0%,#23414b 100%);
	background: linear-gradient(to bottom,  #18262c 0%,#23414b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18262c', endColorstr='#23414b',GradientType=0 );
}
.progressbar {
	width: 68%;
	float: left;
	position: relative;
	height: 12px;
	border: 0;
	padding-right: 3px;
	background: #434343;
	background: -moz-linear-gradient(top,  #434343 0%, #575757 100%);
	background: -webkit-linear-gradient(top,  #434343 0%,#575757 100%);
	background: linear-gradient(to bottom,  #434343 0%,#575757 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#575757',GradientType=0 );
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
}
.progressbar-wrapper:after {
	content: '';
    background: url(../resources/progressbar_end_arrow_big.png) no-repeat;
    background-size: 4.5px;
    width: 4.5px;
    height: 12.5px;
    position: absolute;
    right: 31%;
    top: 23%;
}
.progressbar #value{
  background-color: #ccc;
}
.ui-progressbar .ui-progressbar-value {
	margin: 0px;
	border: 0;
	height: 12px;
    float: left;
    position: relative;
	z-index: 1;
	background: #77c0cc;
	background: -moz-linear-gradient(top,  #77c0cc 0%, #3e818c 100%);
	background: -webkit-linear-gradient(top,  #77c0cc 0%,#3e818c 100%);
	background: linear-gradient(to bottom,  #77c0cc 0%,#3e818c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c0cc', endColorstr='#3e818c',GradientType=0 );
}
.ui-progressbar .ui-progressbar-value:after {
	content: '';
	background: url(../resources/progressbar_arrow_big.png) no-repeat;
	background-size: 7px;
	width: 7px;
	height: 12px;
	position: absolute;
	right: -3px;
	top: 0;
	z-index: 1;
}
.percent-value {
	position: absolute;
    right: 3%;
    top: 6.5%;
	font-size: 14px !important;
}
.interview-result:after {
	content: '';
	background: linear-gradient(rgba(25, 38, 44, 0.8), rgba(25, 38, 44, 0.8));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.interview-result .conversationBox {
	background: rgb(25, 38, 44);
	width: 50%;
    display: block;
    left: 50%;
    top: 57%;
	bottom: initial !important;
    transform: translate(-50%, -57%);
	-webkit-transform: translate(-50%, -57%);
	-moz-transform: translate(-50%, -57%);
	-ms-transform: translate(-50%, -57%);
	text-align: center;
	z-index: 10;
}
.interview-result .conversationBox h1 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.interview-result .conversationBox p {
	color: #ffffff;
	margin: 0;
	font-size: 16px;
}
.interview-result .conversationBox::before {
	content: none;
}
.interview-result .conversationBox .result {
	float: left;
	width: 100%;
	font-size: 14px;
	padding: 20px;
}
.interview-result .conversationBox .titleText {
	background-color: #326F80;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    padding: 12px;
    width: 100%;
    float: left;
    border-bottom: 2px solid #64949F;
	border-radius: 13px 13px 0 0;
	-webkit-border-radius: 13px 13px 0 0;
	-moz-border-radius: 13px 13px 0 0;
	-ms-border-radius: 13px 13px 0 0;
}
.interview-result .conversationBox .titleText span {
	background: url(../resources/icon_cf_document_small.png) no-repeat left center;
	padding: 10px 0 10px 35px;
	background-size: 25px;
}
.interview-result .conversationBox .responseBtn {
	min-height: 40px;
	max-width: 30%;
	padding: 15px;
	margin-top: 15px;
}
.interview-result .conversationBox .responseBtn span {
	display: inline-block !important;
    width: auto !important;
	height: auto !important;
    background-position: right center;
    background-size: 20px;
    padding-right: 30px !important;
	top: 0px;
}
.interview-result .progressbar-container {
	float: left;
	width: 100%;
	border: none;
	padding: 0;
	margin: 0 0 15px 0;
}
.interview-result .progressbar-container .progressbar-wrapper {
	display: inline-block;
	width: 40%;
	padding: 12px;
	float: none;
}
.interview-result .progressbar-container .progressbar-wrapper:after {
	content: '';
    background: url(../resources/progressbar_end_arrow_big.png) no-repeat;
	background-size: 7px;
    width: 7px;
    height: 20px;
    position: absolute;
    right: 32%;
    top: 28%;
}
.interview-result .progressbar-container .progressbar {
	height: 20.5px;
	padding-right: 5px;
}
.interview-result .progressbar-container .progressbar-wrapper .percent-value {
	font-size: 20px !important;
	top: 20.5%;
}
.interview-result .ui-progressbar .ui-progressbar-value {
	height: 20.5px;
}
.interview-result .ui-progressbar .ui-progressbar-value:after {
	content: '';
    background: url(../resources/progressbar_arrow_big.png) no-repeat;
    width: 11px;
    height: 20px;
    position: absolute;
    right: -5px;
    top: 0;
    z-index: 1;
}
.intreview-result-btn-container {
	max-width: 70%;
	margin: 0 auto;
}
.intreview-result-btn-container .responseBtn {
	width: 48% !important;
	max-width: 100% !important;
}
@media screen and (max-width: 1024px) {
	#splash .splash {
		top: 53% !important;
		width: 65% !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.interviews-container {
		bottom: 10px;
	    left: 10px;
	}
	.interviews-container a {
		margin-right: 10px;
	}
	.interview-link.interview-complete .interview-btn:before {
		width: 40px;
	    height: 40px;
	    background-size: 18px;
	    right: 7px;
	}
	#tony-interview:after {
		background-size: 90px;
		right: 3px;
		width: 90px;
    	height: 73px;
	}
	#john-interview:after {
		background-size: 100px;
	    right: 3px;
	    width: 100px;
	    height: 65px;
	}
	#bob-interview:after {
		background-size: 60px;
		right: 12px;
		height: 73px;
		width: 60px;
	}
	.interview-btn {
		padding: 8px;
		width: 180px;
		border-width: 2px;
		border-radius: 7px 7px 7px 7px;
		-webkit-border-radius: 7px 7px 7px 7px;
		-moz-border-radius: 7px 7px 7px 7px;
		-ms-border-radius: 7px 7px 7px 7px;
	}
	.interview-btn h3 {
		font-size: 18px;
		margin: 0;
	}
	.interview-btn h4 {
		font-size: 22px;
	}
	.next-btn {
		right: 10px;
		bottom: 10px;
		padding: 5px;
		width: 85px;
		height: 85px;
	}
	.next-btn span {
		background-size: 17px;
		background-position: 55% 10px;
		padding: 20px 0 0 0 !important;
		font-size: 13px;
	}
	.explorationBtn.complete[data-content="sight"]:before {
		top: 47%;
	    left: 32%;
	}
	.explorationBtn.complete[data-content="mirrors"]:before {
		top: 46%;
	}
	.explorationBtn.complete[data-content="position"]:before {
		left: 33%;
    	top: 49%;
	}
	.explorationBtn.complete[data-content="railing"]:before {
		top: 50%;
		left: 25%;
	}
	.explorationBtn.empty-complete[data-content="empty"]:before {
		top: 50%;
	}
	.explorationBtn.complete[data-content="strap"]:before {
		top: 49%;
	}
	.explorationBtn.complete[data-content="impact-alarm"]:before {
		top: 47%;
    	left: 25%;
	}
	.explorationBtn.complete[data-content="lighting-dock7-dock8"]:before {
		top: 50%;
	}
	.explorationBtn.empty-complete[data-content="empty2"]:before {
		top: 50%;
	}
	.explorationBtn.empty-complete[data-content="empty3"]:before {
		top: 50%;
	}
}
/* --- Full screen styles -- */
@media only screen and (max-width: 767px) {
	.interviews-container {
		bottom: 10px;
	    left: 10px;
	}
	.interviews-container a {
		margin-right: 10px;
	}
	.interview-link.interview-complete .interview-btn:before {
		width: 30px;
    	height: 30px;
		background-size: 12px;
		right: 3px;
	}
	#tony-interview:after {
		background-size: 65px;
		right: 3px;
		width: 65px;
    	height: 52px;
	}
	#john-interview:after {
		background-size: 75px;
		right: 3px;
		width: 75px;
		height: 49px;
	}
	#bob-interview:after {
		background-size: 42px;
		right: 12px;
		height: 52px;
		width: 42px;
	}
	.interview-btn {
		padding: 8px;
		width: 130px;
		border-width: 2px;
		border-radius: 7px 7px 7px 7px;
		-webkit-border-radius: 7px 7px 7px 7px;
		-moz-border-radius: 7px 7px 7px 7px;
		-ms-border-radius: 7px 7px 7px 7px;
	}
	.interview-btn h3 {
		font-size: 12px;
		margin: 0;
	}
	.interview-btn h4 {
		font-size: 14px;
	}
	.next-btn {
		right: 10px;
		bottom: 10px;
		padding: 5px;
		width: 65px;
		height: 65px;
	}
	.next-btn span {
		background-size: 12px;
		background-position: center 5px;
		padding: 20px 0 0 0 !important;
		font-size: 9px;
	}
	.exploration-info {
		width: 60px;
		left: 10px;
		top: 57%;
	}
	.exploration-info button {
		background-size: 60px !important;
		margin-bottom: 7px;
		height: 85px;
	}
	.exploration-info button#take-notes {
		background-size: 60px !important;
		height: 85px;
	}
	.exploration-info button span {
		font-size: 12px;
		bottom: 5px;
	}
	.mapBtn {
		width: 45px;
		height: 45px;
		top: 115px;
		right: 20px;
		background-size: 20px !important;
	}
	.mapBtn span {
		font-size: 10px;
		line-height: 12px;
		bottom: -30px;
	}
	.photo-canvas:before,
	.photo-canvas:after,
	.photo-canvas-wrapper:before,
	.photo-canvas-wrapper:after,
	.photo-canvas.not-correct:before,
	.photo-canvas.not-correct:after,
	.photo-canvas.not-correct .photo-canvas-wrapper:before,
	.photo-canvas.not-correct .photo-canvas-wrapper:after{
		width: 60px;
	    height: 60px;
	    background-size: 60px;
	}
	.magnifier,
	.photo-canvas.not-correct .magnifier {
		background-size: 130px;
		width: 130px;
		height: 130px;
	}
	.progressbar-container .progressbar-wrapper {
		width: 45%;
	}
	.percent-value {
	    top: 15.5%;
	}
	.progressbar-container span {
		font-size: 13px !important;
	}
	#interview .sws-logo {
		position: relative;
		top: 5px;
	}
	#interview .progressbar-container span.pull-left {
		position: relative;
		top: 4px
	}
	#interview #effectiveResponse {
		top: 38px;
	}
	#sleuth-intro-text {
		font-size: 13px;
	}
	.sleuth .sleuth-example {
		min-height: 2em;
		height: auto;
		width: auto;
		margin: 0 auto;
		background-size: 175px;
	}
	.sleuth .responseBtn {
		min-height: 35px !important;
    	max-width: 35%;
	}
	.sleuth .conversation {
		padding: 10px 25px;
	}
	.interview-result .conversationBox {
		width: 80%;
	}
	.interview-result .conversationBox .titleText {
		padding: 5px;
	}
	.interview-result .conversationBox h1 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.interview-result .conversationBox p {
		font-size: 12px;
	}
	.interview-result .conversationBox .titleText span {
		font-size: 16px;
	}
	.interview-result .conversationBox .responseBtn {
		padding: 9px;
	}
	.interview-result .conversationBox .responseBtn span {
		font-size: 16px;
		background-size: 16px;
		padding: 5px 24px 5px 5px !important;
	}
	.interview-result .conversationBox .result {
		padding: 15px;
	}
	.interview-result .progressbar-container {
		margin: 0 0 5px 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {

	.exploration-info {
		width: 100px;
		left: 10px;
		top: 58%;
	}
	.exploration-info button {
		background-size: 100px !important;
		margin-bottom: 10px;
		height: 142px;
	}
	.exploration-info button#take-notes {
		background-size: 100px !important;
		height: 142px;
	}
	.exploration-info button span {
		font-size: 20px;
		bottom: 7px;
	}
}
