@import url("general.css");

/* ---------------------------------------- SPLASH SCREEN ----------------------------------- */

#splash .mainStage{
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/blur_room_cam.jpg) no-repeat center top;
    background-size: cover;
}
#splash header {
	background: rgba(25, 38, 44, 0.7);
}
#splash .splash .btn {
	max-width: 80%;
}

/* ---------------------------------------- VIDEO ----------------------------------- */

#video-page .mainStage {
	background: none;
}

.video-ended-overlay .btn-container {
	margin-bottom: 15px;
}
.video-ended-overlay .btn-container .col-xs-6:first-child {
	padding-right: 7.5px;
}
.video-ended-overlay .btn-container .col-xs-6:last-child {
	padding-left: 7.5px;
}


/* ---------------------------------------- CONGRATULATIONS ----------------------------------- */

#congratulations .mainStage {
	background: linear-gradient(
      rgba(25, 38, 44, 0.8),
      rgba(25, 38, 44, 0.8)
    ), url(../resources/background/blur_room.jpg) no-repeat center top;
	background-size: cover;
}
@media only screen and (min-width: 1200px) {
	#congratulations .mainStage .splash {
		max-width: 35%;
	}
}
